flow.json
[{"id":"60528a1b.f32364","type":"tab","label":"Startup","disabled":false,"info":""},{"id":"e3cbac21.52804","type":"tab","label":"Receive Page & Add to DB","disabled":false,"info":""},{"id":"71697e01.9871a","type":"tab","label":"Pager Dynamic Display","disabled":false,"info":""},{"id":"1c96dbb1.1bc354","type":"tab","label":"Log Display Full","disabled":false,"info":""},{"id":"b209c94d.26d798","type":"tab","label":"Log Display Daily","disabled":false,"info":""},{"id":"b00e2d77.a9931","type":"tab","label":"Export","disabled":false,"info":""},{"id":"2e207975.425f96","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"ba76d305.cf8ad","type":"tab","label":"DB Utilities","disabled":false,"info":""},{"id":"93a533ec.4d123","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ad92631.0da208","type":"websocket-listener","z":"","path":"/log-full/send","wholemsg":"true"},{"id":"c0402614.f01608","type":"websocket-listener","z":"","path":"/log-daily/receive","wholemsg":"true"},{"id":"aae6ab09.c69b28","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"interbyte","addchar":false,"responsetimeout":""},{"id":"32989c5a.d6ee14","type":"websocket-listener","z":"","path":"/log-full/receive","wholemsg":"true"},{"id":"fd38eee5.8bd8a","type":"sqlitedb","z":"","db":"/home/Ingenso/CaptureCall.db","mode":"RWC"},{"id":"e1c85b2c.abed18","type":"json-db-collection","z":"","name":"","collection":"settings","save":true},{"id":"7016657f.45b3ec","type":"websocket-listener","z":"","path":"/ws/export","wholemsg":"false"},{"id":"ff68c365.94b25","type":"websocket-listener","z":"","path":"/ws/sender","wholemsg":"false"},{"id":"d9d1357a.d4f118","type":"websocket-listener","z":"","path":"/display/receive","wholemsg":"true"},{"id":"95962f80.19ef3","type":"websocket-listener","z":"","path":"/display/send","wholemsg":"false"},{"id":"c7526c07.3fd51","type":"websocket-listener","z":"","path":"/log-daily/send","wholemsg":"true"},{"id":"66911507.b23eac","type":"websocket-listener","z":"","path":"/settings/send","wholemsg":"true"},{"id":"70e142c2.27546c","type":"websocket-listener","z":"","path":"/settings/receive","wholemsg":"true"},{"id":"c78d8a51.8b8ed8","type":"websocket-listener","z":"","path":"/export/send","wholemsg":"true"},{"id":"b7dfd67b.7d7948","type":"websocket-listener","z":"","path":"/export/receive","wholemsg":"true"},{"id":"18f900b5.35f87f","type":"websocket-listener","z":"","path":"/export/alert","wholemsg":"false"},{"id":"fbe048ec.4af8a8","type":"websocket-listener","z":"","path":"/settings/alert","wholemsg":"false"},{"id":"b006fd22.2dc63","type":"websocket-listener","z":"","path":"/display/sound","wholemsg":"true"},{"id":"6c8b92a7.84a82c","type":"e-mail","z":"b00e2d77.a9931","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"CaptureCall System","x":1280,"y":1160,"wires":[]},{"id":"da56f422.c45fe8","type":"csv","z":"b00e2d77.a9931","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"Index, Call Point, Message, ReceivedTime, Status, StatusTime, ExportedTime, Recipient, System ID","skip":"0","x":890,"y":1180,"wires":[["e981d4fd.f427d8","8551674f.20b3f8"]]},{"id":"3f8aac1f.7c3ae4","type":"template","z":"b00e2d77.a9931","name":"Export All","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n`index` AS 'Index',\n`sender` AS 'Call Point',\n`content` AS 'Message',\n`rxTime`,\n`status` AS 'Status',\n`statusTime`,\n`exported`,\n`pagerNumber` AS 'Recipient',\n`sysID` AS 'System ID'\nFROM `log`\nORDER BY  `rxTime` DESC;","output":"str","x":340,"y":1220,"wires":[["f8461b70.bd71c8"]]},{"id":"e981d4fd.f427d8","type":"change","z":"b00e2d77.a9931","name":"Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'log.csv', \t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"CaptureCall System Log","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Attached is the requested information from your CaptureCall system.","tot":"str"},{"t":"set","p":"to","pt":"msg","to":"to","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1180,"wires":[["6c8b92a7.84a82c"]]},{"id":"a32b6729.85e8e8","type":"http in","z":"b00e2d77.a9931","name":"","url":"/export","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["590dc173.3a259"]]},{"id":"af06c87d.56a788","type":"comment","z":"b00e2d77.a9931","name":"Build Webpage","info":"","x":100,"y":40,"wires":[]},{"id":"cc70f131.afde4","type":"template","z":"b00e2d77.a9931","name":"Export New","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n`index` AS 'Index',\n`sender` AS 'Call Point',\n`content` AS 'Message',\n`rxTime`,\n`status` AS 'Status',\n`statusTime`,\n`exported`,\n`pagerNumber` AS 'Recipient',\n`sysID` AS 'System ID'\nFROM `log` WHERE `exported` IS NULL","output":"str","x":350,"y":1180,"wires":[["f8461b70.bd71c8"]]},{"id":"f8a9f08f.97c9b","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET `exported`= '{{timestamp}}'","output":"str","x":680,"y":940,"wires":[["1526f69b.ff5f29"]]},{"id":"c6075542.a00c48","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"to","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":320,"wires":[["e2ab5e5e.760e2","c1530843.813c58"]]},{"id":"f8461b70.bd71c8","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":530,"y":1180,"wires":[["2e1d4886.bea1a8"]]},{"id":"1526f69b.ff5f29","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":830,"y":940,"wires":[[]]},{"id":"e2ab5e5e.760e2","type":"DataIn","z":"b00e2d77.a9931","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/email","x":550,"y":320,"wires":[]},{"id":"a4c8442.5a53eb8","type":"switch","z":"b00e2d77.a9931","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":320,"wires":[["5845d54b.1b33dc"],["3e0d960c.df324a"]]},{"id":"5845d54b.1b33dc","type":"switch","z":"b00e2d77.a9931","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$length(payload) >= 5","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":320,"wires":[["c6075542.a00c48"],["3e0d960c.df324a"]]},{"id":"c4630aee.29afb8","type":"websocket out","z":"b00e2d77.a9931","name":"Show Alert on Bad Email","server":"18f900b5.35f87f","client":"","x":630,"y":360,"wires":[]},{"id":"3e0d960c.df324a","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please Enter a Valid eMail Address","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["c4630aee.29afb8"]]},{"id":"c3f8d5d0.283858","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Your eMail has been Sent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":820,"wires":[["ea92ebe2.658898","75f1d35f.d07dac"]]},{"id":"ea92ebe2.658898","type":"websocket out","z":"b00e2d77.a9931","name":"Send Successful","server":"18f900b5.35f87f","client":"","x":570,"y":820,"wires":[]},{"id":"463f8c6f.4fd364","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Send Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":780,"wires":[["f2a91bf9.b1d3b8","68d64bf.54ca2b4"]]},{"id":"f2a91bf9.b1d3b8","type":"websocket out","z":"b00e2d77.a9931","name":"Send Failed","server":"18f900b5.35f87f","client":"","x":550,"y":780,"wires":[]},{"id":"9f4bb9c9.b550f8","type":"status","z":"b00e2d77.a9931","name":"","scope":["6c8b92a7.84a82c"],"x":80,"y":800,"wires":[["ba578bde.7214f8"]]},{"id":"ba578bde.7214f8","type":"switch","z":"b00e2d77.a9931","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"email.status.sendfail","vt":"str"},{"t":"eq","v":"email.status.sending","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":800,"wires":[["463f8c6f.4fd364"],[],["c3f8d5d0.283858"]]},{"id":"3013dfe1.3ed01","type":"comment","z":"b00e2d77.a9931","name":"Catch Email Send Errors","info":"","x":130,"y":720,"wires":[]},{"id":"86082327.d62aa","type":"link in","z":"b00e2d77.a9931","name":"","links":["721569cb.074f58","8dc6af04.088a3"],"x":235,"y":1180,"wires":[["cc70f131.afde4"]]},{"id":"223b37e8.4b69d8","type":"link in","z":"b00e2d77.a9931","name":"","links":["2c82e51a.004a9a","9b0374d2.8917a8"],"x":235,"y":1220,"wires":[["3f8aac1f.7c3ae4"]]},{"id":"fed99ff9.b9bb1","type":"comment","z":"b00e2d77.a9931","name":"Send Email","info":"","x":90,"y":1060,"wires":[]},{"id":"a20fe9c4.7efc28","type":"link in","z":"b00e2d77.a9931","name":"","links":["43132da.14324d4","232317a3.5e58f8"],"x":35,"y":320,"wires":[["a4c8442.5a53eb8"]]},{"id":"c31b6340.5e646","type":"link in","z":"b00e2d77.a9931","name":"","links":["9cfc568.cddc1a8","11b0c0ec.55df3f"],"x":35,"y":360,"wires":[["3e0d960c.df324a"]]},{"id":"264f903e.c9e7a","type":"comment","z":"b00e2d77.a9931","name":"Set Email Address","info":"","x":110,"y":260,"wires":[]},{"id":"666f148c.df226c","type":"csv","z":"b00e2d77.a9931","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"Index, Call Point, Message, ReceivedTime, Status, StatusTime, ExportedTime, Recipient, System ID","skip":"0","x":890,"y":1140,"wires":[["4ea4678b.48f808","8551674f.20b3f8"]]},{"id":"4ea4678b.48f808","type":"change","z":"b00e2d77.a9931","name":"Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'log.csv', \t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"CaptureCall Daily Digest","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Attached is the requested information from your CaptureCall system.","tot":"str"},{"t":"set","p":"to","pt":"msg","to":"to","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1140,"wires":[["6c8b92a7.84a82c"]]},{"id":"94f5535a.df3bc","type":"template","z":"b00e2d77.a9931","name":"Export New","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n`index` AS 'Index',\n`sender` AS 'Call Point',\n`content` AS 'Message',\n`rxTime`,\n`status` AS 'Status',\n`statusTime`,\n`exported`,\n`pagerNumber` AS 'Recipient',\n`sysID` AS 'System ID'\nFROM `log` WHERE `exported` IS NULL","output":"str","x":350,"y":1140,"wires":[["445e65fd.5881dc"]]},{"id":"445e65fd.5881dc","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":530,"y":1140,"wires":[["4df235b.7c5c0cc"]]},{"id":"f3405690.0119c8","type":"inject","z":"b00e2d77.a9931","name":"Export New Every Day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":150,"y":1140,"wires":[["94f5535a.df3bc","ebaeeace.a4f718","430823b4.54fdcc"]]},{"id":"a61b2d01.623e8","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":120,"wires":[]},{"id":"c7008ce.9220c7","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":80,"wires":[["6f129008.96182"]]},{"id":"7e6e6b94.b4a724","type":"inject","z":"ba76d305.cf8ad","name":"Make Table","topic":"CREATE TABLE `log` ( \t`index`\tINTEGER PRIMARY KEY AUTOINCREMENT, \t`capcode`\tINTEGER, \t`pagerNumber`\tINTEGER, \t`sysID`\tINTEGER, \t`content`\tTEXT, \t`msgPart1`\tTEXT, \t`msgPart2`\tTEXT, \t`sender`\tTEXT, \t`rxTime`\tINTEGER, \t`status`\tTEXT, \t`statusTime`\tINTEGER, \t`exported`\tINTEGER );","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":80,"wires":[["c7008ce.9220c7"]]},{"id":"6f129008.96182","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":80,"wires":[]},{"id":"ec443c0d.8626c","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":240,"wires":[["24bd4830.57f6e8"]]},{"id":"9d1e6dbe.d89e2","type":"inject","z":"ba76d305.cf8ad","name":"Clear Table","topic":"DELETE FROM 'log';","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":240,"wires":[["ec443c0d.8626c"]]},{"id":"aed60ae.6b45df8","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":120,"wires":[["a61b2d01.623e8"]]},{"id":"c8181b2e.7db228","type":"inject","z":"ba76d305.cf8ad","name":"Select All","topic":"Select * FROM 'log';","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":120,"wires":[["aed60ae.6b45df8"]]},{"id":"b0a6ba65.a7d928","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":160,"wires":[]},{"id":"8b6bd144.83a25","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":160,"wires":[["b0a6ba65.a7d928"]]},{"id":"df2babd6.b81898","type":"inject","z":"ba76d305.cf8ad","name":"Drop Table","topic":"DROP TABLE 'log';","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":160,"wires":[["8b6bd144.83a25"]]},{"id":"4710f982.70cf68","type":"comment","z":"71697e01.9871a","name":"Put Unprocessed On the Webpage","info":"","x":180,"y":140,"wires":[]},{"id":"e0f58654.122608","type":"http in","z":"71697e01.9871a","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["5aa898df.272f88"]]},{"id":"89d5fad5.1b2d28","type":"template","z":"71697e01.9871a","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT `index`, `pagerNumber`, `sysID`, `content`, `msgPart1`, `msgPart2`, `sender`, `rxTime`, `status`\nFROM `log`\nWHERE  `status` = 'Active' OR `status` = 'Late'\nORDER BY  `rxTime` DESC ","output":"str","x":290,"y":200,"wires":[["a45c314.83bc1d"]]},{"id":"f7505d48.4c652","type":"websocket out","z":"71697e01.9871a","name":"","server":"d9d1357a.d4f118","client":"","x":1340,"y":200,"wires":[]},{"id":"ec0a00fc.9e591","type":"comment","z":"71697e01.9871a","name":"Build Webpage","info":"","x":120,"y":20,"wires":[]},{"id":"a45c314.83bc1d","type":"sqlite","z":"71697e01.9871a","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":470,"y":200,"wires":[["72452c.01ccdad4"]]},{"id":"7392b6bc.a14758","type":"template","z":"71697e01.9871a","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div class=\"nested\">\n        <div class=\"bold\">Index</div>\n        <div class=\"bold\">Location</div>\n        <div class=\"bold\">Message</div>\n        <div class=\"bold\">Time</div>\n        <div class=\"bold\">Date</div>\n        <div class=\"bold\">Elapsed</div>\n      </div>\n      \n{{#payload}}\n  <div class=\"nested {{style}}\" onclick= send.send('{{index}}')>\n        <div>{{{index}}}</div>\n        <div>{{{msgPart1}}}</div>\n        <div>{{{msgPart2}}}</div>\n        <div>{{{displayTime}}}</div>\n        <div>{{{displayDate}}}</div>\n        <div>{{{elapsed}}}</div>\n      </div>\n{{/payload}}","output":"str","x":1150,"y":200,"wires":[["f7505d48.4c652"]]},{"id":"bb825032.7b416","type":"function","z":"71697e01.9871a","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = new Date(msg.payload[i].rxTime);\n                var displayDate = rxtime.toLocaleDateString();\n                var displayTime = rxtime.toLocaleTimeString();\n                \n                msg.payload[i].displayDate = displayDate\n                msg.payload[i].displayTime = displayTime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["f2e91aec.429a48"]]},{"id":"f2e91aec.429a48","type":"function","z":"71697e01.9871a","name":"Time elapsed","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = msg.payload[i].rxTime;\n   var now = Date.now();\n   \nvar elapsedTS = now -rxtime;\nvar elapsedS = parseInt(elapsedTS / 1000);\n\nvar date = new Date(null);  \ndate.setSeconds(elapsedS); // specify value for SECONDS here\nvar elapsed = date.toISOString().substr(11, 8);        \n\nmsg.payload[i].elapsed = elapsed\n\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["7392b6bc.a14758"]]},{"id":"59111fba.a2419","type":"inject","z":"71697e01.9871a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["89d5fad5.1b2d28"]]},{"id":"1833996c.e996c7","type":"http in","z":"71697e01.9871a","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["5aa898df.272f88"]]},{"id":"fda68550.35cc08","type":"websocket in","z":"71697e01.9871a","name":"","server":"95962f80.19ef3","client":"","x":130,"y":300,"wires":[["8aadd40d.caf278"]]},{"id":"f9e6a6b0.64ce98","type":"comment","z":"71697e01.9871a","name":"Hide Message on Click","info":"","x":140,"y":260,"wires":[]},{"id":"2f89d261.991ebe","type":"template","z":"71697e01.9871a","name":"Update Active to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Manually Removed', statusTime = '{{timestamp}}' WHERE `index` = {{payload}};","output":"str","x":610,"y":300,"wires":[["3751227c.3c408e"]]},{"id":"3751227c.3c408e","type":"sqlite","z":"71697e01.9871a","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":810,"y":300,"wires":[["320906f1.fd1fba"]]},{"id":"320906f1.fd1fba","type":"link out","z":"71697e01.9871a","name":"","links":["13c2aaaa.74d295","f8b2c7bc.b77368","ed29f70d.9b66f8","f72ff61b.e8d618","9f5ece3e.bbcec"],"x":915,"y":300,"wires":[]},{"id":"d0672168.f9cc3","type":"change","z":"71697e01.9871a","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["2f89d261.991ebe"]]},{"id":"49b647b4.b47d48","type":"comment","z":"1c96dbb1.1bc354","name":"Put All On the Webpage","info":"","x":160,"y":140,"wires":[]},{"id":"46418585.24918c","type":"http response","z":"1c96dbb1.1bc354","name":"","statusCode":"","headers":{},"x":830,"y":80,"wires":[]},{"id":"672cd54b.015afc","type":"http in","z":"1c96dbb1.1bc354","name":"","url":"/log-full","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["c5c25cfa.f365e"]]},{"id":"789799aa.6b3ca8","type":"template","z":"1c96dbb1.1bc354","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM `log`\nORDER BY  `rxTime` DESC ","output":"str","x":210,"y":260,"wires":[["d92c7a20.a63ce8"]]},{"id":"8cf086f7.eafc98","type":"websocket out","z":"1c96dbb1.1bc354","name":"","server":"32989c5a.d6ee14","client":"","x":1090,"y":260,"wires":[]},{"id":"563aad78.25d9d4","type":"comment","z":"1c96dbb1.1bc354","name":"Build Webpage","info":"","x":140,"y":40,"wires":[]},{"id":"d92c7a20.a63ce8","type":"sqlite","z":"1c96dbb1.1bc354","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":390,"y":260,"wires":[["bc30fbab.77e168"]]},{"id":"45deb19d.022ce","type":"template","z":"1c96dbb1.1bc354","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div class=\"nestedLog\">\n    <div class=\"bold\">Index</div>\n    <div class=\"bold\">Call Point</div>\n    <div class=\"bold\">Message</div>\n    <div class=\"bold\">Receive Time</div>\n    <div class=\"bold\">Receive Date</div>\n    <div class=\"bold\">Status</div>\n    <div class=\"bold\">Status Time</div>\n    <div class=\"bold\">Status Date</div>\n    <div class=\"bold\">Export Time</div>\n    <div class=\"bold\">Export Date</div>\n    <div class=\"bold\">Recipient</div>\n    <div class=\"bold\">System ID</div>\n  </div>\n{{#payload}}\n  <div class=\"nestedLog {{style}}\">\n    <div>{{index}}</div>\n    <div>{{sender}}</div>\n    <div>{{{content}}}</div>\n    <div>{{displayTime}}</div>\n    <div>{{displayDate}}</div>\n    <div>{{status}}</div>\n    <div>{{displayStatusTime}}</div>\n    <div>{{displayStatusDate}}</div>\n    <div>{{{displayExportedTime}}}</div>\n    <div>{{{displayExportedDate}}}</div>\n    <div>{{pagerNumber}}</div>\n    <div>{{sysID}}</div>\n   </div>\n{{/payload}}","output":"str","x":910,"y":260,"wires":[["8cf086f7.eafc98"]]},{"id":"575acb3d.97bd64","type":"function","z":"1c96dbb1.1bc354","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = new Date(msg.payload[i].rxTime);\n                var displayDate = rxtime.toLocaleDateString();\n                var displayTime = rxtime.toLocaleTimeString();\n                \n    var statusTime = new Date(msg.payload[i].statusTime);\n                var displayStatusDate = statusTime.toLocaleDateString();\n                var displayStatusTime = statusTime.toLocaleTimeString();\n                \n  \n              \n     if (msg.payload[i].exported === null) {\n    msg.payload[i].displayExportedTime = \"n/a\"\n    msg.payload[i].displayExportedDate = \"n/a\"\n} else {\nvar exportedTime = new Date(msg.payload[i].exported);\n    var displayExportedDate = exportedTime.toLocaleDateString();\n    var displayExportedTime = exportedTime.toLocaleTimeString();\n              \n    msg.payload[i].displayExportedTime = displayExportedTime\n    msg.payload[i].displayExportedDate = displayExportedDate\n}         \n               \n                \n                msg.payload[i].displayStatusTime = displayStatusTime\n                msg.payload[i].displayStatusDate = displayStatusDate\n                \n                msg.payload[i].displayDate = displayDate\n                msg.payload[i].displayTime = displayTime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["45deb19d.022ce"]]},{"id":"13c2aaaa.74d295","type":"link in","z":"1c96dbb1.1bc354","name":"log","links":["363f5c70.e7e144","320906f1.fd1fba","ecbc4376.b117e","d2d8b8d2.67e9a8","8469e8af.2a6df8","2c38eaf2.df6f76","bc4b27b0.6d1478","5652483b.e30f08","e14222d1.c9cb7"],"x":75,"y":260,"wires":[["789799aa.6b3ca8"]]},{"id":"a6f41372.e1e95","type":"websocket in","z":"1c96dbb1.1bc354","name":"","server":"8ad92631.0da208","client":"","x":140,"y":200,"wires":[["dd5d2e16.22ed7"]]},{"id":"dd5d2e16.22ed7","type":"switch","z":"1c96dbb1.1bc354","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":200,"wires":[["789799aa.6b3ca8"]]},{"id":"4df235b.7c5c0cc","type":"function","z":"b00e2d77.a9931","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \nvar rxtime = new Date(msg.payload[i].rxTime);\nvar statusTime = new Date(msg.payload[i].statusTime);\nvar exportedTime = new Date(msg.payload[i].exported);\n\nif (msg.payload[i].exported === null) {\n    msg.payload[i].ExportedTime = \"n/a\"\n} else {\nmsg.payload[i].ExportedTime = exportedTime\n}\n\nmsg.payload[i].StatusTime = statusTime\nmsg.payload[i].ReceivedTime = rxtime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1140,"wires":[["666f148c.df226c"]]},{"id":"75f1d35f.d07dac","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":900,"wires":[["582b503f.5fb22","f8a9f08f.97c9b"]]},{"id":"2e1d4886.bea1a8","type":"function","z":"b00e2d77.a9931","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \nvar rxtime = new Date(msg.payload[i].rxTime);\nvar statusTime = new Date(msg.payload[i].statusTime);\nvar exportedTime = new Date(msg.payload[i].exported);\n\nif (msg.payload[i].exported === null) {\n    msg.payload[i].ExportedTime = \"n/a\"\n} else {\nmsg.payload[i].ExportedTime = exportedTime\n}\n\nmsg.payload[i].StatusTime = statusTime\nmsg.payload[i].ReceivedTime = rxtime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1180,"wires":[["da56f422.c45fe8"]]},{"id":"24bd4830.57f6e8","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":240,"wires":[]},{"id":"2fd5e4ed.597f5c","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":200,"wires":[]},{"id":"37e42e66.009442","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":200,"wires":[["2fd5e4ed.597f5c"]]},{"id":"d201839b.347","type":"inject","z":"ba76d305.cf8ad","name":"Reset Auto Increment (Clear Table First)","topic":"DELETE FROM sqlite_sequence WHERE name = 'log';","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[["37e42e66.009442"]]},{"id":"22c6aed.a374c52","type":"template","z":"1c96dbb1.1bc354","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":710,"y":80,"wires":[["46418585.24918c"]]},{"id":"8551674f.20b3f8","type":"debug","z":"b00e2d77.a9931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":1100,"wires":[]},{"id":"109cf513.333d8b","type":"comment","z":"b209c94d.26d798","name":"Put All On the Webpage","info":"","x":160,"y":140,"wires":[]},{"id":"9aac45fc.813958","type":"http in","z":"b209c94d.26d798","name":"","url":"/log-daily","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["8b549f72.7674f"]]},{"id":"8f45f53e.71ff08","type":"template","z":"b209c94d.26d798","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM log WHERE date(datetime(rxtime / 1000 , 'unixepoch')) = date('now') AND `sender` != \"System\"\nORDER BY  `rxTime` DESC; ","output":"str","x":210,"y":260,"wires":[["9c7288fe.0f9a98"]]},{"id":"de3ce5b7.367e28","type":"websocket out","z":"b209c94d.26d798","name":"","server":"c0402614.f01608","client":"","x":1100,"y":260,"wires":[]},{"id":"fb47baaa.cecc08","type":"comment","z":"b209c94d.26d798","name":"Build Webpage","info":"","x":140,"y":40,"wires":[]},{"id":"9c7288fe.0f9a98","type":"sqlite","z":"b209c94d.26d798","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":390,"y":260,"wires":[["2fd00906.8c8cb6"]]},{"id":"e6ae4362.9fe56","type":"template","z":"b209c94d.26d798","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div class=\"nested10\">\n    <div class=\"bold\">Index</div>\n    <div class=\"bold\">Call Point</div>\n    <div class=\"bold\">Message</div>\n    <div class=\"bold\">Receive Time</div>\n    <div class=\"bold\">Receive Date</div>\n    <div class=\"bold\">Status</div>\n    <div class=\"bold\">Status Time</div>\n    <div class=\"bold\">Status Date</div>\n    \n    <div class=\"bold\">Recipient</div>\n    <div class=\"bold\">System ID</div>\n  </div>\n{{#payload}}\n  <div class=\"nested10 {{style}}\">\n    <div>{{index}}</div>\n    <div>{{sender}}</div>\n    <div>{{{content}}}</div>\n    <div>{{displayTime}}</div>\n    <div>{{displayDate}}</div>\n    <div>{{status}}</div>\n    <div>{{displayStatusTime}}</div>\n    <div>{{displayStatusDate}}</div>\n   \n    <div>{{pagerNumber}}</div>\n    <div>{{sysID}}</div>\n   </div>\n{{/payload}}","output":"str","x":910,"y":260,"wires":[["de3ce5b7.367e28"]]},{"id":"3945937b.26034c","type":"function","z":"b209c94d.26d798","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = new Date(msg.payload[i].rxTime);\n                var displayDate = rxtime.toLocaleDateString();\n                var displayTime = rxtime.toLocaleTimeString();\n                \n    var statusTime = new Date(msg.payload[i].statusTime);\n                var displayStatusDate = statusTime.toLocaleDateString();\n                var displayStatusTime = statusTime.toLocaleTimeString();\n                \n  \n              \n     if (msg.payload[i].exported === null) {\n    msg.payload[i].displayExportedTime = \"n/a\"\n    msg.payload[i].displayExportedDate = \"n/a\"\n} else {\nvar exportedTime = new Date(msg.payload[i].exported);\n    var displayExportedDate = exportedTime.toLocaleDateString();\n    var displayExportedTime = exportedTime.toLocaleTimeString();\n              \n    msg.payload[i].displayExportedTime = displayExportedTime\n    msg.payload[i].displayExportedDate = displayExportedDate\n}         \n               \n                \n                msg.payload[i].displayStatusTime = displayStatusTime\n                msg.payload[i].displayStatusDate = displayStatusDate\n                \n                msg.payload[i].displayDate = displayDate\n                msg.payload[i].displayTime = displayTime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["e6ae4362.9fe56"]]},{"id":"f8b2c7bc.b77368","type":"link in","z":"b209c94d.26d798","name":"log","links":["363f5c70.e7e144","320906f1.fd1fba","ecbc4376.b117e","d2d8b8d2.67e9a8","8469e8af.2a6df8","e14222d1.c9cb7"],"x":75,"y":260,"wires":[["8f45f53e.71ff08"]]},{"id":"624fab58.d41fb4","type":"websocket in","z":"b209c94d.26d798","name":"","server":"c7526c07.3fd51","client":"","x":150,"y":200,"wires":[["8d113a2c.07c438"]]},{"id":"8d113a2c.07c438","type":"switch","z":"b209c94d.26d798","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":200,"wires":[["8f45f53e.71ff08"]]},{"id":"1d4b9b6.2e75565","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":280,"wires":[["8b82ced7.840b7"]]},{"id":"f3efd6bc.d319a8","type":"inject","z":"ba76d305.cf8ad","name":"Clear Old Records","topic":"DELETE FROM `log` WHERE `index` IN (SELECT `index` FROM `log` ORDER BY `index` DESC LIMIT -1 OFFSET 2000) AND `exported` IS NOT NULL;","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":280,"wires":[["1d4b9b6.2e75565"]]},{"id":"8b82ced7.840b7","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":280,"wires":[]},{"id":"a352da15.0d4288","type":"template","z":"b00e2d77.a9931","name":"Clear Old Records","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM `log` WHERE `index` IN (SELECT `index` FROM `log` ORDER BY `index` DESC LIMIT -1 OFFSET 2000) AND `exported` IS NOT NULL;","output":"str","x":510,"y":1100,"wires":[["b59b1f4c.0ec78"]]},{"id":"b59b1f4c.0ec78","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":690,"y":1100,"wires":[[]]},{"id":"ebaeeace.a4f718","type":"delay","z":"b00e2d77.a9931","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1100,"wires":[["a352da15.0d4288"]]},{"id":"582b503f.5fb22","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Export Successful','Export Successful', '{{timestamp}}', '{{timestamp}}');","output":"str","x":680,"y":900,"wires":[["5c50a3a4.23c89c"]]},{"id":"5c50a3a4.23c89c","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":830,"y":900,"wires":[[]]},{"id":"ecca07b5.9ea578","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Export Failed','Export Failed', '{{timestamp}}', '{{timestamp}}');","output":"str","x":680,"y":740,"wires":[["b09e3e3f.0fe09"]]},{"id":"b09e3e3f.0fe09","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":830,"y":740,"wires":[[]]},{"id":"33c3ae31.e41c62","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Daily Export Triggered','Daily Export Triggered to {{global.to}}', '{{timestamp}}', '{{timestamp}}');","output":"str","x":490,"y":1060,"wires":[["e7b2f01e.3fbbf"]]},{"id":"e7b2f01e.3fbbf","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":650,"y":1060,"wires":[[]]},{"id":"68d64bf.54ca2b4","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":740,"wires":[["ecca07b5.9ea578"]]},{"id":"430823b4.54fdcc","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1060,"wires":[["33c3ae31.e41c62"]]},{"id":"2ba16b1b.ca41c4","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'eMail Address Changed','eMail Changed to {{global.to}}', '{{timestamp}}', '{{timestamp}}');","output":"str","x":710,"y":280,"wires":[["d360a4fe.9ebda8"]]},{"id":"d360a4fe.9ebda8","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":870,"y":280,"wires":[["8469e8af.2a6df8"]]},{"id":"c1530843.813c58","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["2ba16b1b.ca41c4"]]},{"id":"8469e8af.2a6df8","type":"link out","z":"b00e2d77.a9931","name":"","links":["13c2aaaa.74d295","f8b2c7bc.b77368","ed29f70d.9b66f8","f72ff61b.e8d618","9f5ece3e.bbcec"],"x":975,"y":280,"wires":[]},{"id":"2fd00906.8c8cb6","type":"function","z":"b209c94d.26d798","name":"Set Style","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n    \n  if (msg.payload[i].status == \"Late\") {\n    msg.payload[i].style = \"flash bold\"\n} else {\n    msg.payload[i].style = \"\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["3945937b.26034c"]]},{"id":"bc30fbab.77e168","type":"function","z":"1c96dbb1.1bc354","name":"Set Style","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n    \n  if (msg.payload[i].status == \"Late\") {\n    msg.payload[i].style = \"flash bold\"\n} else {\n    msg.payload[i].style = \"\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["575acb3d.97bd64"]]},{"id":"72452c.01ccdad4","type":"function","z":"71697e01.9871a","name":"Set Style","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n    \n  if (msg.payload[i].status == \"Late\") {\n    msg.payload[i].style = \"flash bold\"\n} else {\n    msg.payload[i].style = \"\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["bb825032.7b416"]]},{"id":"c3a1b49e.752c48","type":"switch","z":"e3cbac21.52804","name":"Filter Address","property":"sysID","propertyType":"msg","rules":[{"t":"eq","v":"sysID","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":100,"wires":[["c94a9d48.9c2c","bb983eee.bde5b"]]},{"id":"1ae8cc9.0850d33","type":"comment","z":"e3cbac21.52804","name":"Receive Page","info":"","x":110,"y":40,"wires":[]},{"id":"9cb10731.0e0a38","type":"serial in","z":"e3cbac21.52804","name":"","serial":"aae6ab09.c69b28","x":110,"y":100,"wires":[["b47a3123.3b208"]]},{"id":"b47a3123.3b208","type":"switch","z":"e3cbac21.52804","name":"MSG Type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"[","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":100,"wires":[["bfec026c.c4148"],["d6264d72.9b56e"]]},{"id":"bfec026c.c4148","type":"function","z":"e3cbac21.52804","name":"LRS Process Group Message","func":"var payload = msg.payload;\nvar Totallength = payload.length;\n\nvar page = payload.substring(9, Totallength -2);\n\n\nvar str = \"\" + page;\nvar split = str.split(\",\");\nvar contentlength = split[1].length\n\n\n\nvar capcode = split[0];\nvar str = capcode.toString();\nvar strLength = str.length;\nvar pagerStr = str.substring(strLength - 5, strLength);\nvar pagercalc1 = parseInt(pagerStr);\nvar pager = pagercalc1/8;\n\nvar syscode = ((capcode - pagercalc1)-700000)/100000;\n\nif (page.endsWith(\" \")) {\n    var message= split[1].substring(4,contentlength-1)\nvar tidyMessage = message.trim();\n    msg.sender = \"0\"\n} else {\n    var message= split[1].substring(4,contentlength-2)\nvar tidyMessage = message.trim();\n    var sender = split[1].substring(contentlength-2,contentlength)\n    var tidySender = sender.trim();\n    msg.sender = tidySender;\n}\n\nvar group= split[1].substring(0,4)\n\nmsg.capcode = split[0];\nmsg.pagerNumber = group;\nmsg.sysID = syscode\nmsg.content = tidyMessage;\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["7e312125.1eb7b"]]},{"id":"d6264d72.9b56e","type":"function","z":"e3cbac21.52804","name":"LRS Process Normal Message","func":"var payload = msg.payload;\nvar Totallength = payload.length;\n\nvar page = payload.substring(9, Totallength -2);\n\n\nvar str = \"\" + page;\nvar split = str.split(\",\");\nvar contentlength = split[1].length\n\n\n\nvar capcode = split[0];\nvar str = capcode.toString();\nvar strLength = str.length;\nvar pagerStr = str.substring(strLength - 5, strLength);\nvar pagercalc1 = parseInt(pagerStr);\nvar pager = pagercalc1/8;\n\nvar syscode = ((capcode - pagercalc1)-700000)/100000;\n\nif (page.endsWith(\" \")) {\n    var message= split[1].substring(0,contentlength-1)\nvar tidyMessage = message.trim();\n    msg.sender = \"0\"\n} else {\n    var message= split[1].substring(0,contentlength-2)\nvar tidyMessage = message.trim();\n    var sender = split[1].substring(contentlength-2,contentlength)\n    var tidySender = sender.trim();\n    msg.sender = tidySender;\n}\n\n\nmsg.capcode = split[0];\nmsg.pagerNumber = pager\nmsg.sysID = syscode\nmsg.content = tidyMessage;\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["7e312125.1eb7b"]]},{"id":"7e312125.1eb7b","type":"function","z":"e3cbac21.52804","name":"Split Content into 2","func":"var payload = msg.content;\n\nvar str = \"\" + payload;\nvar split = str.split(\"-\");\n\nmsg.msgPart1 = split[0];\nmsg.msgPart2 = split[1];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":100,"wires":[["c3a1b49e.752c48"]]},{"id":"2c9aa8ef.13b0c8","type":"template","z":"e3cbac21.52804","name":"Add Msg to DB as Active","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` ('capcode', 'pagerNumber', 'sysID', 'content', 'msgPart1', 'msgPart2', 'sender', 'rxTime', 'status', 'statusTime') VALUES ('{{capcode}}', '{{pagerNumber}}', '{{sysID}}', '{{content}}', '{{msgPart1}}', '{{msgPart2}}', '{{sender}}','{{timestamp}}', 'Active', '{{timestamp}}');","output":"str","x":570,"y":280,"wires":[["e31cbdba.c8c1e"]]},{"id":"e31cbdba.c8c1e","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":790,"y":240,"wires":[["5652483b.e30f08"]]},{"id":"396b6af1.e70666","type":"change","z":"e3cbac21.52804","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":240,"wires":[["7ff8ead9.3d3964"]]},{"id":"7ff8ead9.3d3964","type":"switch","z":"e3cbac21.52804","name":"Check Msg Type","property":"content","propertyType":"msg","rules":[{"t":"cont","v":"Handled","vt":"str"},{"t":"cont","v":"Late","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":240,"wires":[["1b9c71c9.9f587e"],["7bab33a7.c9082c"],["2c9aa8ef.13b0c8"]]},{"id":"7bab33a7.c9082c","type":"template","z":"e3cbac21.52804","name":"Add Msg to DB as Late","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` ('capcode', 'pagerNumber', 'sysID', 'content', 'msgPart1', 'msgPart2', 'sender', 'rxTime', 'status', 'statusTime') VALUES ('{{capcode}}', '{{pagerNumber}}', '{{sysID}}', '{{content}}', '{{msgPart1}}', '{{msgPart2}}', '{{sender}}','{{timestamp}}', 'Late', '{{timestamp}}');","output":"str","x":570,"y":240,"wires":[["e31cbdba.c8c1e"]]},{"id":"1b9c71c9.9f587e","type":"template","z":"e3cbac21.52804","name":"Add Msg to DB as Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` ('capcode', 'pagerNumber', 'sysID', 'content', 'msgPart1', 'msgPart2', 'sender', 'rxTime', 'status', 'statusTime') VALUES ('{{capcode}}', '{{pagerNumber}}', '{{sysID}}', '{{content}}', '{{msgPart1}}', '{{msgPart2}}', '{{sender}}','{{timestamp}}', 'Attended', '{{timestamp}}');","output":"str","x":580,"y":200,"wires":[["39259c6c.321234"]]},{"id":"61c3188a.69cf28","type":"template","z":"e3cbac21.52804","name":"Update Active to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Handled', statusTime = '{{timestamp}}' WHERE `sender` = {{sender}} AND `status` = 'Active';","output":"str","x":990,"y":200,"wires":[["51abf5f2.9454cc"]]},{"id":"51abf5f2.9454cc","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":1190,"y":200,"wires":[["fb714f6.286fcb"]]},{"id":"39259c6c.321234","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":790,"y":200,"wires":[["61c3188a.69cf28"]]},{"id":"bc4b27b0.6d1478","type":"link out","z":"e3cbac21.52804","name":"to Log","links":["13c2aaaa.74d295","ed29f70d.9b66f8","f72ff61b.e8d618","9f5ece3e.bbcec"],"x":1695,"y":200,"wires":[]},{"id":"fb714f6.286fcb","type":"template","z":"e3cbac21.52804","name":"Update Late to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Handled', statusTime = '{{timestamp}}' WHERE `sender` = {{sender}} AND `status` = 'Late';","output":"str","x":1390,"y":200,"wires":[["9666bf85.ccc7b"]]},{"id":"9666bf85.ccc7b","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":1590,"y":200,"wires":[["bc4b27b0.6d1478"]]},{"id":"a7862417.604e88","type":"link in","z":"e3cbac21.52804","name":"Received Page","links":["c94a9d48.9c2c"],"x":55,"y":240,"wires":[["396b6af1.e70666"]]},{"id":"c94a9d48.9c2c","type":"link out","z":"e3cbac21.52804","name":"Add to DB","links":["a7862417.604e88"],"x":1055,"y":100,"wires":[]},{"id":"65be70e.baef89","type":"comment","z":"e3cbac21.52804","name":"Add to DB","info":"","x":100,"y":180,"wires":[]},{"id":"5652483b.e30f08","type":"link out","z":"e3cbac21.52804","name":"to Log","links":["13c2aaaa.74d295","ed29f70d.9b66f8","f72ff61b.e8d618","9f5ece3e.bbcec"],"x":895,"y":240,"wires":[]},{"id":"bb983eee.bde5b","type":"debug","z":"e3cbac21.52804","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":60,"wires":[]},{"id":"f00ef931.2b7e68","type":"hostip","z":"60528a1b.f32364","name":"Host IP","x":420,"y":80,"wires":[["88463608.a1be98"]]},{"id":"88463608.a1be98","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"ip","pt":"global","to":"payload[0].address","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":80,"wires":[["38013852.8f7b18"]]},{"id":"66e288bb.f91b28","type":"inject","z":"60528a1b.f32364","name":"Initiate Global Variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":190,"y":280,"wires":[["f00ef931.2b7e68","16c14cba.135493","919ca6d4.b568c8","7a7e9dde.7b8004","b433b476.f79378","a1416828.f4d808","daaef36b.fd391","4dd7af67.999da","2fabfffb.a95f7","f439405a.85afc","a14d3f9.2f33cc"]]},{"id":"a4a4aa8b.4ca648","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"sysID","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[[]]},{"id":"16c14cba.135493","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/email","error":false,"x":410,"y":160,"wires":[["417a42c2.c5f93c"]]},{"id":"417a42c2.c5f93c","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"to","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[[]]},{"id":"97a59e4.8bf1a6","type":"comment","z":"60528a1b.f32364","name":"Set Email Address","info":"","x":750,"y":160,"wires":[]},{"id":"919ca6d4.b568c8","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/sysID","error":false,"x":410,"y":120,"wires":[["a4a4aa8b.4ca648"]]},{"id":"7568d75d.043c68","type":"comment","z":"60528a1b.f32364","name":"Set sysID","info":"","x":720,"y":120,"wires":[]},{"id":"9a7d50bd.7cef2","type":"comment","z":"60528a1b.f32364","name":"Set IP Address","info":"","x":860,"y":80,"wires":[]},{"id":"7fda91ad.06b69","type":"template","z":"60528a1b.f32364","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Power On','Power On ({{global.ip}})', '{{payload}}', '{{payload}}');","output":"str","x":580,"y":200,"wires":[["64f95549.289fdc"]]},{"id":"64f95549.289fdc","type":"sqlite","z":"60528a1b.f32364","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":730,"y":200,"wires":[[]]},{"id":"7a7e9dde.7b8004","type":"delay","z":"60528a1b.f32364","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":200,"wires":[["7fda91ad.06b69"]]},{"id":"adbc8745.6a7b98","type":"comment","z":"60528a1b.f32364","name":"Write Power On Message to DB","info":"","x":950,"y":200,"wires":[]},{"id":"38013852.8f7b18","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/ip","x":710,"y":80,"wires":[]},{"id":"8ef3cc6f.9a91a","type":"template","z":"60528a1b.f32364","name":"Left Header","field":"left","fieldType":"global","format":"handlebars","syntax":"mustache","template":"<div class=\"left\">\n    {{#payload}}\n        <a href=\"/{{Address}}\" class=\"settings\">{{Name}}</a>\n        <BR>\n    {{/payload}}\n</div>","output":"str","x":570,"y":520,"wires":[[]]},{"id":"bdee1a5f.1f3dc8","type":"comment","z":"60528a1b.f32364","name":"Set Left Header Links","info":"","x":920,"y":520,"wires":[]},{"id":"b711720e.5994a","type":"change","z":"1c96dbb1.1bc354","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Full Log","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["1e62e84c.1602e8"]]},{"id":"35e23daf.3e9492","type":"http response","z":"b209c94d.26d798","name":"","statusCode":"","headers":{},"x":830,"y":80,"wires":[]},{"id":"772432e4.448f2c","type":"template","z":"b209c94d.26d798","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":710,"y":80,"wires":[["35e23daf.3e9492"]]},{"id":"fd2ae0c5.52933","type":"change","z":"b209c94d.26d798","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Daily Log","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["3bae9439.a7642c"]]},{"id":"b433b476.f79378","type":"template","z":"60528a1b.f32364","name":"CSS","field":"css","fieldType":"global","format":"css","syntax":"mustache","template":"* {\n      padding: 0px;\n      margin: 0;\n      box-sizing: border-box;\n      background: #456FA0;\n}\n\nh1 {\n      padding: 10px;\n      text-align: center;\n}\n\nhtml,\nbody,\np {\n      font-family: Arial, Helvetica, sans-serif;\n      font-size: 1vw;\n      margin: 0px;\n      padding-left: 0px;\n      color: white;\n}\n\n.wrapper {\n      display: grid;\n}\n\n.heading {\n      width: 100%;\n      display: grid;\n      grid-template-columns: 25% 50% 25%;\n      grid-gap: 0em;\n      height: auto;\n      padding: 10px;\n}\n\n.left {\n      text-align: left;\n}\n\n.middle {\n      text-align: center;\n}\n\n.right {\n      text-align: right;\n}\n    \n.clock {\n        font-size: 2vw;\n        padding-top:10px;\n        font-weight: bold;\n}\n\n.nested {\n      display: grid;\n      justify-content: space-evenly;\n      align-content: center;\n      grid-template-columns: repeat(6, 1.5fr);\n      font-size: 1.5vw;\n      text-align: center;\n      color: black;\n}\n    \n.nestedLog {\n      display: grid;\n      justify-content: space-evenly;\n      align-content: center;\n      grid-template-columns: repeat(12, 1fr);\n      font-size: 1vw;\n      text-align: center;\n      color: black;\n}\n\n.nested10 {\n      display: grid;\n      justify-content: space-evenly;\n      align-content: center;\n      grid-template-columns: repeat(10, 1fr);\n      font-size: 1vw;\n      text-align: center;\n      color: black;\n}\n\n.wrapper>div {\n      background: #eee;\n      padding: 0.5em;\n}\n\n.wrapper>div:nth-child(odd) {\n      background: #ddd;\n}\n\n.nested>div {\n      padding: 0.5em;\n      background-color: inherit;\n}\n    \n.nestedLog>div {\n      padding: 0.5em;\n      background-color: inherit;\n}\n\n.nested10>div {\n      padding: 0.5em;\n      background-color: inherit;\n}\n\n.bold {\n      font-weight: bold;    \n}\n\n.flash {\n      color: red;\n}\n    \n.red {\n      color: red;\n}\n\n    a:link {\n      text-decoration: none;\n      color: white;\n    }\n\n    a:visited {\n      text-decoration: none;\n      color: white;\n    }\n\n    a:hover {\n      color: red;\n    }\n    \n#notes {\n    font-size: 1.5vw;\n}\n       .grid-container {\n            display: grid;\n            grid-template-columns: auto;\n            padding: 0px;\n        }\n\n        .grid-item {\n            padding: 20px;\n            font-size: 48px;\n            text-align: center;\n        }\n        \n.name {\n            box-sizing: border-box;\n            width: 50%;\n            border-radius: 10px;\n            font-weight: normal;\n            font-size: 1vw;\n            font-family: Arial, Helvetica, sans-serif;\n            text-align: center;\n            padding: 10px;\n            margin: 0px;\n            text-overflow: ellipsis;\n            box-shadow: 10px 10px 20px black;\n            background-color: lightgrey;\n }\n","output":"str","x":410,"y":280,"wires":[[]]},{"id":"1250eb2c.91a835","type":"comment","z":"60528a1b.f32364","name":"Set CSS","info":"","x":580,"y":280,"wires":[]},{"id":"f59f5f7.98040a","type":"http response","z":"71697e01.9871a","name":"","statusCode":"","headers":{},"x":630,"y":100,"wires":[]},{"id":"a125b940.011318","type":"template","z":"71697e01.9871a","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n\n\n</body>\n\n</html>","output":"str","x":510,"y":100,"wires":[["f59f5f7.98040a"]]},{"id":"5aa898df.272f88","type":"change","z":"71697e01.9871a","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Dynamic Display","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["42f3db7d.cf6944"]]},{"id":"5d9f879a.ab2cf8","type":"http response","z":"b00e2d77.a9931","name":"","statusCode":"","headers":{},"x":770,"y":80,"wires":[]},{"id":"4e44e038.08395","type":"template","z":"b00e2d77.a9931","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":650,"y":80,"wires":[["5d9f879a.ab2cf8"]]},{"id":"cf30e34b.c1eb2","type":"change","z":"b00e2d77.a9931","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Export Menu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["72aa7d10.d1af44"]]},{"id":"8aadd40d.caf278","type":"switch","z":"71697e01.9871a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"9999","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["d0672168.f9cc3"]]},{"id":"29aa4748.4a38f8","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"serial","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[[]]},{"id":"daaef36b.fd391","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/sw","error":false,"x":410,"y":360,"wires":[["92ab9cbc.b90cc"]]},{"id":"92ab9cbc.b90cc","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"sw","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[[]]},{"id":"43bab4a0.45f19c","type":"comment","z":"60528a1b.f32364","name":"Set S/W Version","info":"","x":740,"y":360,"wires":[]},{"id":"a1416828.f4d808","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/serial","error":false,"x":410,"y":320,"wires":[["29aa4748.4a38f8"]]},{"id":"43ccf7d3.ddd008","type":"comment","z":"60528a1b.f32364","name":"Set Serial","info":"","x":720,"y":320,"wires":[]},{"id":"4dd7af67.999da","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/hw","error":false,"x":410,"y":400,"wires":[["2d58c279.e4542e"]]},{"id":"2d58c279.e4542e","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"hw","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[[]]},{"id":"5b43db00.7c2cc4","type":"comment","z":"60528a1b.f32364","name":"Set H/W Version","info":"","x":740,"y":400,"wires":[]},{"id":"2fabfffb.a95f7","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/fw","error":false,"x":410,"y":440,"wires":[["2563249f.b0948c"]]},{"id":"2563249f.b0948c","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"fw","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":440,"wires":[[]]},{"id":"158ee839.e5b868","type":"comment","z":"60528a1b.f32364","name":"Set F/W Version","info":"","x":740,"y":440,"wires":[]},{"id":"5a4c919f.6aef9","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/serial","x":610,"y":620,"wires":[]},{"id":"558730dd.1c8c7","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"SerialNumber","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":620,"wires":[["5a4c919f.6aef9"]]},{"id":"dbf96854.54d538","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/sw","x":610,"y":660,"wires":[]},{"id":"80cd3c13.c8202","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"1.0.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":660,"wires":[["dbf96854.54d538","68f92468.fbc08c","3df1c746.549888"]]},{"id":"68f92468.fbc08c","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/hw","x":610,"y":700,"wires":[]},{"id":"3df1c746.549888","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/fw","x":610,"y":740,"wires":[]},{"id":"452ec065.976b1","type":"http in","z":"2e207975.425f96","name":"","url":"/settings","method":"get","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["3c6925fc.460d0a"]]},{"id":"e6ba9950.a3e6e8","type":"http response","z":"2e207975.425f96","name":"","statusCode":"","headers":{},"x":790,"y":80,"wires":[]},{"id":"36878d9a.931c82","type":"template","z":"2e207975.425f96","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n<div class=\"settings\">System IP: {{{global.ip}}}</div>\n<div class=\"settings\">System Serial: {{global.serial}}</div>\n<div class=\"settings\">S/W Version: {{global.sw}}</div>\n<div class=\"settings\">F/W Version: {{global.fw}}</div>\n<div class=\"settings\">H/W Version: {{global.hw}}</div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":670,"y":80,"wires":[["e6ba9950.a3e6e8"]]},{"id":"dc9e79da.f23878","type":"change","z":"2e207975.425f96","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Settings Menu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":80,"wires":[["853a5b14.259518"]]},{"id":"6fa0d59a.8affbc","type":"comment","z":"2e207975.425f96","name":"Build Webpage","info":"","x":120,"y":40,"wires":[]},{"id":"708b9e98.8e96c","type":"comment","z":"2e207975.425f96","name":"Put Settings On the Webpage","info":"","x":160,"y":140,"wires":[]},{"id":"4499123.95201ec","type":"websocket out","z":"2e207975.425f96","name":"","server":"70e142c2.27546c","client":"","x":1180,"y":260,"wires":[]},{"id":"6006876b.3e4ea8","type":"template","z":"2e207975.425f96","name":"Build Data Password Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Password: <input type=\"password\" class=\"name\" id=\"password\" onchange=\"send.send(password.value)\" placeholder=\"Please Enter Password\">","output":"str","x":1040,"y":300,"wires":[["4499123.95201ec"]]},{"id":"ed29f70d.9b66f8","type":"link in","z":"2e207975.425f96","name":"log","links":["363f5c70.e7e144","320906f1.fd1fba","ecbc4376.b117e","d2d8b8d2.67e9a8","8469e8af.2a6df8","2c38eaf2.df6f76","bc4b27b0.6d1478","5652483b.e30f08","e14222d1.c9cb7"],"x":55,"y":260,"wires":[[]]},{"id":"9a785ce4.2f6fc","type":"websocket in","z":"2e207975.425f96","name":"","server":"66911507.b23eac","client":"","x":130,"y":200,"wires":[["c2064102.90f8d"]]},{"id":"c2064102.90f8d","type":"switch","z":"2e207975.425f96","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"password","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":200,"wires":[[],[],[]]},{"id":"89ede062.46b22","type":"comment","z":"b00e2d77.a9931","name":"Put Settings On the Webpage","info":"","x":140,"y":140,"wires":[]},{"id":"a29f518.92ac7b","type":"websocket out","z":"b00e2d77.a9931","name":"","server":"b7dfd67b.7d7948","client":"","x":570,"y":180,"wires":[]},{"id":"1228ef46.2a9871","type":"template","z":"b00e2d77.a9931","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"grid-container\">\n<div class=\"grid-item\"><p class=\"notes\">Logs are sent to the email address shown below.<br>To update the email address, enter a new address below and press enter.</p><input type=\"email\" class=\"name\" id=\"email\" onchange=\"send.send(email.value)\" placeholder=\"{{global.to}}\"></div>\n<div class=\"grid-item\"><p class=\"notes\">Click on the buttons below to email the relevant report immediately.</p><button class=\"name\" onclick=\"send.send('ExportNew')\">Export New (Unexported) Log Records</button></div>\n<div class=\"grid-item\"><button class=\"name\" onclick=\"send.send('ExportAll')\">Export All Log Records</button></div>\n<div class=\"grid-item\"><p class=\"notes bold\">WARNING: This cannot be undone!</p><button class=\"name red\" onclick=\"send.send('Clear')\">Delete ALL Exported Records from Log</button></div>\n<div class=\"grid-item\"><p class=\"notes bold\">WARNING: You will need to physically disconnect and then re-connect power to CaptureCall in order to power-up again.</p><button class=\"name red\" onclick=\"send.send('Shutdown')\">Safely Shutdown CaptureCall</button></div>\n</div>","output":"str","x":390,"y":180,"wires":[["a29f518.92ac7b"]]},{"id":"f72ff61b.e8d618","type":"link in","z":"b00e2d77.a9931","name":"log","links":["363f5c70.e7e144","320906f1.fd1fba","ecbc4376.b117e","d2d8b8d2.67e9a8","8469e8af.2a6df8","2c38eaf2.df6f76","bc4b27b0.6d1478","5652483b.e30f08","e14222d1.c9cb7"],"x":275,"y":220,"wires":[["1228ef46.2a9871"]]},{"id":"2e977b67.7b7c54","type":"websocket in","z":"b00e2d77.a9931","name":"","server":"c78d8a51.8b8ed8","client":"","x":100,"y":180,"wires":[["e979859b.b1bd58"]]},{"id":"e979859b.b1bd58","type":"switch","z":"b00e2d77.a9931","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["1228ef46.2a9871"]]},{"id":"42f3db7d.cf6944","type":"template","z":"71697e01.9871a","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/display/receive');\nvar send = new WebSocket('ws://' + location.host + '/display/send');\nvar popup = new WebSocket('ws://' + location.host + '/display/alert');\nvar sound= new WebSocket('ws://' + location.host + '/display/sound');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}\n\n\n\n// Make Sounds\nsound.onmessage = function() {\nconsole.log(\"sound\");\nvar audio = new Audio(\"data:audio/mp3;base64,//uQxAAAAAAAAAAAAAAAAAAAAAAAWGluZwAAAA8AAAALAAANBwBAQEBAQEBAQEBSUlJSUlJSUlJiYmJiYmJiYmJycnJycnJycnKCgoKCgoKCgoKQkJCQkJCQkJCgoKCgoKCgoKCrq6urq6urq6u2tra2tra2trbk5OTk5OTk5OT///////////8AAABQTEFNRTMuOTlyBLkAAAAAAAAAADUgJAQvQQAB4AAADQdKxbtrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//vAxAAADVwjWVTwACpfFWo/PQCAAAAIu/a28NWJuQtbNwGwAsAQBYELY1er1e/f3DAAAAFGw8Pf+AAI/44f/+AO8z/8Df/xwD/4Bj/8PAHfAAw/+h4AI8AAw8/MPAADwADDx+Y8AAPgIw9/zgAAAAAGHh4eHgAAAAAGHh4eHgAAAAChhQBQBQE4dEAYFA9BgGgXGAmLoYFAORjdzwNoYFYLRhYAbo3HEoKcSgXmJkAA+JgtgXGBWBcGA5SMwQQGHDD9QyyAvB28MijlC5gxSI5GJxWxDRzRzRWw5RJEB8hwzQuYmRzSZPF4yNvkVMi8TRiXUVskr+TJkXi8Yl0u/xEFQVER7/WCoiCoKiL/4VBURPOp6qJAwgAAAvqBwAAAYA4AdmAPAHZgTgFyYAgBPGAjgcRltqwSZH0KkmFcA3ZgpAHOYEmBeGBUgUhgXIEUYBmAVQNPtds3B1Ymh7T/p////////////o9z/vt1UpEAAACrmgBw1sAAGSacmRg8hpmc03qZwoaZg9AdHa+ZqJkGGTOW3imaRDE3IfyL2Or7//66AAAE9g4AAABgHoCIYCIAwmAwgTxgVgJ+YNCH5GWWPehlcIe0YL4CImrnxjhObCoHAV5qRWHBzqrWfm/Qyqlyp+3/lf/////////9P///////////b/6dU709nKbb/s+d0ZGN9stx2IAAACrgABwsQxxzIKOfEwegyjOxayM5gMowfQOTseMpAyTTGmLkQ/gmOzhy3/ilviv//qoAAAGsmBGAT5gTIGsYGYCpmCshRhhiw+qalX5VmoPD1JhaYRsaqUZl8sG3FWcZrBr0zAImpJMli16ORGm5O33/////////////9f//r////////9PVbvbPVWlQi9SiDPs7dx0qeUBHKdTi0QsQAAAJuQAHAFAaeBgDLJOiwwfwwTPEZtM60MMwgANjtfMtExjDHpLlw5muxy38fyL/+1DE4YBK8CsnvfSAINAFpv2fZEz2Ht//+3/////39FUAAAAEhUA4oQQMYjgxoVTJaONDSMwUsOaMkEcTjIxw4YwSoD9M1QDIBM1k6N0hzSB0WBn5ZNAt+PxKlezR/o//ps/9iN29/RX+n6P//9+ZT6a/pWlCSAAAAq5AAcDARahlhmUMdNZhABbGeuxIZ3wXBhBganc4ZSBinmJUXcjeCQ7DHLf+KW3M//+z///+hF3/////9f6lAAAE1gHAAABi4dmMyoZGSJn+UGCdB1Zk//tAxPkATNnlI6/sRyDPBab9n2RMTbmmZC8HMmCMggRqpJpRh3Gp9/xyzQsFdZksDWJiqeX3/7//////////9/9jNwwRz3+rpch5gGhQG4A0BmPBxpJyctGGLmO2c73WJzRjvmLsFMc+5miq5mycZnLmLkKxI2pg1t/Hci849v+3R///////o////9X//r1qAAADsfAFAABkUqGRjyZfZBqTHmDEicBlUUwQZSyJkGCuAsZmbcb/+0DE/AANgeEYj/BHCOyFZv2fZEx8HnCox01GbUTiQ82rJoFn5utjZod///1tHf/T/7v////uyaxixVTmFfe8XYKrHhKgygWEAAACbkABwABGgA4czAjtjMIYKIz+VijPeCkMIcC87nDKQMM8wLC6kbwXO7D/v/FLfFf//V///////////s1UVUIAYz7+4AAASFLnIghWQEDcyNmsyIDctkFIjQkcSzSsU71Xr3TlSrlbpAAAF//7QMT4gAqoKyXuf2JhBQVm/Z9kTNAAfKBMyoMNbOTtJAxtx5Tua77O1Me0xuAsDu4M1FnM6YjNbcxktVJDa5Hbfx/IvYe3//7f94//////////q8TgLWnvWlIAUy390AAAMEYwExCICITAMUjLLNDK0UAAAojkPFDjGgavZ7ivntn5XNY2aAAABfQQBEKmWhJrhkdvDmN4OMd4fBR28DmGN+FSd0/GnNBnLGZhcGKFip4YYG7E//swxP2CSdApJa5/QmEPhWU9v2xMNv/FLbmf//////1Yt///////9P9S6lEAMT38wAAAMizHgRBCujAQYzL/tzuGEwEKIAVWpPku0LAUJvqRc6KRCZrW6TAAAAVnj/1kAAw38N3MMrDjzB7wKswzgWeMaKMMDuOqDk6oNJTMnrHAzEyQYkwxkR3MQnDjTDYQz8wG0CxMBeAljAjA//tAxPeACygrIa5/YmD/hab9n2RMHQwX4DUMAcAHTABAFY0RTM0zQ0zlL8yNDkxANA1AY428bw18OQxHUk6Kqg5udY0OB4yZO80BNkIQsxqKwyuGIw7K81cXI1iSgzaIIwgC0x1KczFNczVMMybFMwGFwzDMcyrGswVCIxSF4xMCAwFEkx3Isx7D0wgHAzlO8x5F0w5A8UBIwkCwwuCYwiBYFAoz0wCABeoFAkwNAVdRgECBg0D/+yDE+wBFOCtLzHcCYR+FZPW/bEzhgsAAVA8w0DYwwCASBQLgGYEgSCgHZPVZWsIqRYjqOmieWnSvXgYBgKDgDfNcixJA+79uggHQfYPPNIUATEaY8aKiuIyzt+44zh1HTLkIoNpJWtrva/D9Ry5fEIYnX3Xe47wIB0w4HhhyH8ll//sgxPiAhaArR8z3AmEUBWTxv2xM7Cnjcbn6zsMMdSA0xF0SaVv/L7liVuQ7kOclbts7h+OOXD+UYpMZXTzDlu/L9Sh/IxOW4Yll+V1rkYnJt3IcpJ2Vxunv3/v2MN08rt2I3L5/CxhvDWXafK5hUs34pYpK9HNMSQwAsCoCkDgFgP/7oMT2AAWgK0XMd2Im17wivr/QBdxaGgwAAADSGKROAfMA4Aenjx9MM/zuNYgMs0wY3DqWzQacl/zEvI5MaQYo0FAeTHXGU/zewrOVnY3/oDYp9/zeiJNsQULsoKNAweLAcL//zWc9Mwmse+I9mjDwnMVFEwcFAIV///N6vIzY5zDTUBKONMkcCA9BRcYFBClf//+ZyFRmIjmSyoYKJ5hopmKBsMgJOZy3gdmg////MMhMHCIwwBzAoEMEhYVCJgQHQDEalD/zX////o0CQaFgSYEBYqCBCCVDxoCDQHrbua/HHV3/////9iTKWxPE77iO6159XBfTf/r9Zfr////////3LkT8w84UGvpSQfJn9gKC5LFN4/v/1r9f/7//////////+Lw9DMeiUbhyWw9GYZjkN/16mMWqTEFNRTMuOTkuM6qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqv/7cMT/ACWls5n57n4AAAA0g4AABKqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqo=\");\naudio.play();\n};\n","output":"str","x":390,"y":100,"wires":[["a125b940.011318"]]},{"id":"1e62e84c.1602e8","type":"template","z":"1c96dbb1.1bc354","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/log-full/receive');\nvar send = new WebSocket('ws://' + location.host + '/log-full/send');\nvar popup = new WebSocket('ws://' + location.host + '/log-full/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":590,"y":80,"wires":[["22c6aed.a374c52"]]},{"id":"3bae9439.a7642c","type":"template","z":"b209c94d.26d798","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/log-daily/receive');\nvar send = new WebSocket('ws://' + location.host + '/log-daily/send');\nvar popup = new WebSocket('ws://' + location.host + '/log-daily/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":590,"y":80,"wires":[["772432e4.448f2c"]]},{"id":"72aa7d10.d1af44","type":"template","z":"b00e2d77.a9931","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/export/receive');\nvar send = new WebSocket('ws://' + location.host + '/export/send');\nvar popup = new WebSocket('ws://' + location.host + '/export/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":530,"y":80,"wires":[["4e44e038.08395"]]},{"id":"853a5b14.259518","type":"template","z":"2e207975.425f96","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/settings/receive');\nvar send = new WebSocket('ws://' + location.host + '/settings/send');\nvar popup = new WebSocket('ws://' + location.host + '/settings/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    //document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":550,"y":80,"wires":[["36878d9a.931c82"]]},{"id":"333e0a94.5678c6","type":"template","z":"b00e2d77.a9931","name":"Clear","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM `log` WHERE `exported` IS NOT NULL;","output":"str","x":450,"y":520,"wires":[["1237ea0d.215136"]]},{"id":"3e94fc51.b74054","type":"switch","z":"b00e2d77.a9931","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"ExportNew","vt":"str"},{"t":"eq","v":"ExportAll","vt":"str"},{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"cont","v":"@","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":270,"y":540,"wires":[[],["cf368fd3.b1f24"],["296e6582.99004a"],["333e0a94.5678c6"],["647efa55.c6e874"],["232317a3.5e58f8"],["11b0c0ec.55df3f"]]},{"id":"1237ea0d.215136","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":590,"y":520,"wires":[["e535dae8.dcfae8"]]},{"id":"34c0e145.1bf84e","type":"exec","z":"b00e2d77.a9931","command":"shutdown -P now","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":810,"y":560,"wires":[[],[],[]]},{"id":"48285347.2903fc","type":"delay","z":"b00e2d77.a9931","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":560,"wires":[["34c0e145.1bf84e"]]},{"id":"64248c60.900b94","type":"websocket in","z":"b00e2d77.a9931","name":"","server":"c78d8a51.8b8ed8","client":"","x":100,"y":540,"wires":[["3e94fc51.b74054"]]},{"id":"e813c8d.549c038","type":"websocket out","z":"b00e2d77.a9931","name":"Show Alert for Shutdown","server":"18f900b5.35f87f","client":"","x":690,"y":640,"wires":[]},{"id":"647efa55.c6e874","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"CaptureCall is Shutting Down... Please Close your Browser (If Necessary)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":560,"wires":[["e813c8d.549c038","48285347.2903fc","5de24333.2d962c"]]},{"id":"e535dae8.dcfae8","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Records Deleted","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":520,"wires":[["9e88663e.111128","7d6ca1a9.1c4e1"]]},{"id":"9e88663e.111128","type":"websocket out","z":"b00e2d77.a9931","name":"Show Alert for Clear Database","server":"18f900b5.35f87f","client":"","x":1010,"y":520,"wires":[]},{"id":"8f982cce.d9f72","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Power Off','Power Off', '{{timestamp}}', '{{timestamp}}');","output":"str","x":780,"y":600,"wires":[["986f3937.af7a18"]]},{"id":"986f3937.af7a18","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":930,"y":600,"wires":[[]]},{"id":"8dc6af04.088a3","type":"link out","z":"b00e2d77.a9931","name":"","links":["86082327.d62aa"],"x":875,"y":440,"wires":[]},{"id":"9b0374d2.8917a8","type":"link out","z":"b00e2d77.a9931","name":"","links":["223b37e8.4b69d8"],"x":875,"y":480,"wires":[]},{"id":"232317a3.5e58f8","type":"link out","z":"b00e2d77.a9931","name":"","links":["a20fe9c4.7efc28"],"x":415,"y":600,"wires":[]},{"id":"11b0c0ec.55df3f","type":"link out","z":"b00e2d77.a9931","name":"","links":["c31b6340.5e646"],"x":415,"y":640,"wires":[]},{"id":"d27040b1.bd22","type":"comment","z":"b00e2d77.a9931","name":"Handle Input from Webpage","info":"","x":140,"y":440,"wires":[]},{"id":"5de24333.2d962c","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":600,"wires":[["8f982cce.d9f72"]]},{"id":"878807fc.17f708","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Export All','Export All to {{global.to}}', '{{timestamp}}', '{{timestamp}}');","output":"str","x":610,"y":480,"wires":[["36c49da8.b2b1c2"]]},{"id":"36c49da8.b2b1c2","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":770,"y":480,"wires":[["9b0374d2.8917a8"]]},{"id":"3e07d8e1.991e78","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Export New','Export New to {{global.to}}', '{{timestamp}}', '{{timestamp}}');","output":"str","x":610,"y":440,"wires":[["6886cec4.f705c"]]},{"id":"6886cec4.f705c","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":770,"y":440,"wires":[["8dc6af04.088a3"]]},{"id":"cf368fd3.b1f24","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["3e07d8e1.991e78"]]},{"id":"296e6582.99004a","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["878807fc.17f708"]]},{"id":"7d6ca1a9.1c4e1","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":480,"wires":[["ec8b3b9a.789898"]]},{"id":"ec8b3b9a.789898","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Records Deleted','Records Deleted', '{{timestamp}}', '{{timestamp}}');","output":"str","x":1140,"y":480,"wires":[["c6034db6.a65e"]]},{"id":"c6034db6.a65e","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":1290,"y":480,"wires":[[]]},{"id":"ec27bc7e.cf0bf","type":"template","z":"2e207975.425f96","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It Worked!","output":"str","x":990,"y":260,"wires":[["4499123.95201ec"]]},{"id":"f439405a.85afc","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/password","error":false,"x":430,"y":480,"wires":[["2d0f23a.2359bdc"]]},{"id":"2d0f23a.2359bdc","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"password","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":480,"wires":[[]]},{"id":"78addd47.975844","type":"comment","z":"60528a1b.f32364","name":"Set Password","info":"","x":810,"y":480,"wires":[]},{"id":"bfcf2e37.054ff","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/password","x":630,"y":580,"wires":[]},{"id":"f2ffd251.d4288","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"1234","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":580,"wires":[["bfcf2e37.054ff"]]},{"id":"4bf4d44a.1fd69c","type":"websocket out","z":"2e207975.425f96","name":"","server":"fbe048ec.4af8a8","client":"","x":810,"y":620,"wires":[]},{"id":"9302dfa4.92ad8","type":"change","z":"2e207975.425f96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Password: <input type=\"password\" class=\"name\" id=\"password\" onchange=\"send.send(password.value)\" placeholder=\"Please Enter Password\">","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":620,"wires":[["4bf4d44a.1fd69c"]]},{"id":"38192664.a6cdaa","type":"inject","z":"2e207975.425f96","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":620,"wires":[["9302dfa4.92ad8"]]},{"id":"a14d3f9.2f33cc","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/modules","error":false,"x":420,"y":520,"wires":[["8ef3cc6f.9a91a"]]},{"id":"fd4ba03e.ba97d","type":"comment","z":"60528a1b.f32364","name":"Set Modules","info":"","x":730,"y":520,"wires":[]},{"id":"6b29ff98.c2dac","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/modules","x":620,"y":780,"wires":[]},{"id":"2a2fcdb2.0edcd2","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"[{\"Name\":\"Go to Dynamic Display\",\"Address\":\"display\"},{\"Name\":\"Go to Daily Log\",\"Address\":\"log-daily\"},{\"Name\":\"Go to Full Log\",\"Address\":\"log-full\"},{\"Name\":\"Go to Export Menu\",\"Address\":\"export\"},{\"Name\":\"Go to Settings Menu\",\"Address\":\"settings\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":780,"wires":[["6b29ff98.c2dac"]]},{"id":"7aa6b39d.f2722c","type":"http response","z":"60528a1b.f32364","name":"","statusCode":"","headers":{},"x":530,"y":880,"wires":[]},{"id":"95a0170a.fdab58","type":"template","z":"60528a1b.f32364","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\nSorry your not able to access this page\n</div>\n\n</body>\n\n</html>","output":"str","x":410,"y":880,"wires":[["7aa6b39d.f2722c"]]},{"id":"102ab00f.0b28b","type":"change","z":"60528a1b.f32364","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Unavaliable Module","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":880,"wires":[["6ec81c61.061cd4"]]},{"id":"6ec81c61.061cd4","type":"template","z":"60528a1b.f32364","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/display/receive');\nvar send = new WebSocket('ws://' + location.host + '/display/send');\nvar popup = new WebSocket('ws://' + location.host + '/display/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":290,"y":880,"wires":[["95a0170a.fdab58"]]},{"id":"f13a1f16.82872","type":"link in","z":"60528a1b.f32364","name":"Not Licenced","links":["34ba01df.30c98e","981f0079.8aed3","ae2f0aa6.b83788","c1934064.6743e","3ef1e38d.001f0c"],"x":75,"y":880,"wires":[["102ab00f.0b28b"]]},{"id":"c5c25cfa.f365e","type":"switch","z":"1c96dbb1.1bc354","name":"Enable Module","property":"modules[1]","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":80,"wires":[["b711720e.5994a"],["34ba01df.30c98e"]]},{"id":"34ba01df.30c98e","type":"link out","z":"1c96dbb1.1bc354","name":"Not Licenced","links":["f13a1f16.82872"],"x":435,"y":120,"wires":[]},{"id":"6ca3eb83.432e44","type":"comment","z":"60528a1b.f32364","name":"Unlicenced Module Webpage","info":"","x":180,"y":840,"wires":[]},{"id":"981f0079.8aed3","type":"link out","z":"b209c94d.26d798","name":"Not Licenced","links":["f13a1f16.82872"],"x":435,"y":120,"wires":[]},{"id":"8b549f72.7674f","type":"switch","z":"b209c94d.26d798","name":"Enable Module","property":"modules[2]","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":80,"wires":[["fd2ae0c5.52933"],["981f0079.8aed3"]]},{"id":"ae2f0aa6.b83788","type":"link out","z":"b00e2d77.a9931","name":"Not Licenced","links":["f13a1f16.82872"],"x":395,"y":120,"wires":[]},{"id":"590dc173.3a259","type":"switch","z":"b00e2d77.a9931","name":"Enable Module","property":"modules[3]","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":80,"wires":[["cf30e34b.c1eb2"],["ae2f0aa6.b83788"]]},{"id":"c1934064.6743e","type":"link out","z":"2e207975.425f96","name":"Not Licenced","links":["f13a1f16.82872"],"x":415,"y":120,"wires":[]},{"id":"3c6925fc.460d0a","type":"switch","z":"2e207975.425f96","name":"Enable Module","property":"modules[4]","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":80,"wires":[["dc9e79da.f23878"],["c1934064.6743e"]]},{"id":"80f4063e.865268","type":"http in","z":"93a533ec.4d123","name":"","url":"/password","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["32e9fdef.bd5402","a4c2704f.c8c28","fc4957ea.bc0a88"]]},{"id":"710ca65.505ab58","type":"http response","z":"93a533ec.4d123","name":"","statusCode":"","headers":{},"x":770,"y":60,"wires":[]},{"id":"513d1a90.9641d4","type":"template","z":"93a533ec.4d123","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n<div class=\"settings\">System IP: {{{global.ip}}}</div>\n<div class=\"settings\">System Serial: {{global.serial}}</div>\n<div class=\"settings\">S/W Version: {{global.sw}}</div>\n<div class=\"settings\">F/W Version: {{global.fw}}</div>\n<div class=\"settings\">H/W Version: {{global.hw}}</div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":650,"y":60,"wires":[["710ca65.505ab58"]]},{"id":"32e9fdef.bd5402","type":"change","z":"93a533ec.4d123","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"Will This Work?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":60,"wires":[["bdd19598.503d58"]]},{"id":"21e7fb7.74ee404","type":"comment","z":"93a533ec.4d123","name":"Build Webpage","info":"","x":140,"y":40,"wires":[]},{"id":"bdd19598.503d58","type":"template","z":"93a533ec.4d123","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/settings/receive');\nvar send = new WebSocket('ws://' + location.host + '/settings/send');\nvar popup = new WebSocket('ws://' + location.host + '/settings/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    //document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":530,"y":60,"wires":[["513d1a90.9641d4"]]},{"id":"228a8bec.1437b4","type":"http in","z":"93a533ec.4d123","name":"","url":"/hello-cookie","method":"get","swaggerDoc":"","x":220,"y":600,"wires":[["be70a9a7.e2f868"]]},{"id":"be70a9a7.e2f868","type":"function","z":"93a533ec.4d123","name":"Format cookies","func":"msg.payload = JSON.stringify(msg.req.cookies,null,4);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["b8c7103c.9ef16"]]},{"id":"b8c7103c.9ef16","type":"template","z":"93a533ec.4d123","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Cookies</h1>\n        <p></p><a href=\"hello-cookie/add\">Add a cookie</a> &bull; <a href=\"hello-cookie/clear\">Clear cookies</a></p>\n        <pre>{{ payload }}</pre>\n    </body>\n</html>","x":620,"y":600,"wires":[["defa57c4.850048"]]},{"id":"defa57c4.850048","type":"http response","z":"93a533ec.4d123","name":"","x":840,"y":600,"wires":[]},{"id":"16f5599d.ff64e6","type":"change","z":"93a533ec.4d123","name":"Redirect to /hello-cookie","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/hello-cookie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":660,"wires":[["defa57c4.850048"]]},{"id":"1d167bcd.71af34","type":"function","z":"93a533ec.4d123","name":"Add a cookie","func":"msg.cookies = { };\nmsg.cookies[\"admin\"] = true;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["16f5599d.ff64e6"]]},{"id":"8f4e2569.b890f8","type":"function","z":"93a533ec.4d123","name":"Clear cookies","func":"// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { return /^admin/.test(cookieName);});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":680,"wires":[["16f5599d.ff64e6"]]},{"id":"2887e586.7bb88a","type":"http in","z":"93a533ec.4d123","name":"","url":"/hello-cookie/add","method":"get","swaggerDoc":"","x":230,"y":640,"wires":[["1d167bcd.71af34"]]},{"id":"50b5e970.71f9c8","type":"http in","z":"93a533ec.4d123","name":"","url":"/hello-cookie/clear","method":"get","swaggerDoc":"","x":230,"y":680,"wires":[["8f4e2569.b890f8"]]},{"id":"a4c2704f.c8c28","type":"switch","z":"93a533ec.4d123","name":"","property":"req.cookies.admin","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":180,"wires":[["29dab0cd.1b57b"],["fa9fdd46.1c6cb"]]},{"id":"4c5b3602.518e28","type":"websocket out","z":"93a533ec.4d123","name":"","server":"70e142c2.27546c","client":"","x":1220,"y":180,"wires":[]},{"id":"4c813823.da3a18","type":"template","z":"93a533ec.4d123","name":"Build Data Password Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Nay","output":"str","x":960,"y":200,"wires":[["4c5b3602.518e28"]]},{"id":"a66545d4.fce168","type":"template","z":"93a533ec.4d123","name":"Build Data Password Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Yay","output":"str","x":960,"y":160,"wires":[["4c5b3602.518e28"]]},{"id":"fc4957ea.bc0a88","type":"debug","z":"93a533ec.4d123","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.cookies.admin","x":570,"y":300,"wires":[]},{"id":"29dab0cd.1b57b","type":"change","z":"93a533ec.4d123","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"Yay","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":160,"wires":[["a66545d4.fce168"]]},{"id":"fa9fdd46.1c6cb","type":"change","z":"93a533ec.4d123","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"Nay","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":200,"wires":[["4c813823.da3a18"]]},{"id":"2cfb55b9.5c212a","type":"websocket in","z":"93a533ec.4d123","name":"","server":"66911507.b23eac","client":"","x":150,"y":180,"wires":[["907a059.8c40bf8"]]},{"id":"907a059.8c40bf8","type":"switch","z":"93a533ec.4d123","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":180,"wires":[["25fafc94.665434"]]},{"id":"25fafc94.665434","type":"http request","z":"93a533ec.4d123","name":"","method":"GET","ret":"txt","url":"localhost:1260/password","tls":"","x":430,"y":220,"wires":[["32e9fdef.bd5402","a4c2704f.c8c28","fd5abf22.73ad6"]]},{"id":"fd5abf22.73ad6","type":"debug","z":"93a533ec.4d123","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":260,"wires":[]},{"id":"4a2ff005.2319b","type":"template","z":"71697e01.9871a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n   <script>\nvar now = .moment()\n</script> \n<body>\n</body>\n</html>","output":"str","x":520,"y":480,"wires":[["f6daf2cd.d1533"]]},{"id":"d2a1330c.c73ba","type":"http in","z":"71697e01.9871a","name":"","url":"/beep","method":"get","upload":false,"swaggerDoc":"","x":380,"y":480,"wires":[["4a2ff005.2319b"]]},{"id":"f6daf2cd.d1533","type":"http response","z":"71697e01.9871a","name":"","statusCode":"","headers":{},"x":650,"y":480,"wires":[]},{"id":"367ece6a.0cb322","type":"template","z":"93a533ec.4d123","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n   <script>\nvar now = .moment()\n</script> \n<body>\n</body>\n</html>","output":"str","x":500,"y":460,"wires":[["47cf6c46.153ea4"]]},{"id":"9c26272d.692d78","type":"http in","z":"93a533ec.4d123","name":"","url":"/moment","method":"get","upload":false,"swaggerDoc":"","x":370,"y":460,"wires":[["367ece6a.0cb322"]]},{"id":"47cf6c46.153ea4","type":"http response","z":"93a533ec.4d123","name":"","statusCode":"","headers":{},"x":630,"y":460,"wires":[]},{"id":"bdd47611.4168e8","type":"websocket out","z":"71697e01.9871a","name":"","server":"b006fd22.2dc63","client":"","x":770,"y":620,"wires":[]},{"id":"7983daf.5c6b624","type":"inject","z":"71697e01.9871a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":620,"wires":[["bdd47611.4168e8"]]},{"id":"a302b433.165df8","type":"websocket in","z":"71697e01.9871a","name":"","server":"b006fd22.2dc63","client":"","x":550,"y":580,"wires":[["b57618a7.e9b328"]]},{"id":"b57618a7.e9b328","type":"debug","z":"71697e01.9871a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":580,"wires":[]}]