flow.json
[{"id":"60528a1b.f32364","type":"tab","label":"Startup","disabled":false,"info":""},{"id":"e3cbac21.52804","type":"tab","label":"Receive Page & Add to DB","disabled":false,"info":""},{"id":"23c43518.b3ff0a","type":"tab","label":"Pager Dynamic Display","disabled":false,"info":""},{"id":"b8bd1cc3.4827","type":"tab","label":"First Aid Display","disabled":false,"info":""},{"id":"1c96dbb1.1bc354","type":"tab","label":"Log Display Full","disabled":false,"info":""},{"id":"b209c94d.26d798","type":"tab","label":"Log Display Daily","disabled":false,"info":""},{"id":"b00e2d77.a9931","type":"tab","label":"Export","disabled":false,"info":""},{"id":"ba76d305.cf8ad","type":"tab","label":"DB Utilities","disabled":false,"info":""},{"id":"dad6f0f1.28177","type":"tab","label":"TX-7470-232 Controls","disabled":false,"info":""},{"id":"36884d4.675edb2","type":"tab","label":"Testing","disabled":true,"info":""},{"id":"8975d597.b36778","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"58e39b1f.42a9c4","type":"tab","label":"Table Tracker","disabled":false,"info":""},{"id":"85d51a2d.db2228","type":"subflow","name":"Receive Page SDR","info":"","category":"input","in":[],"out":[{"x":1720,"y":60,"wires":[{"id":"4437d3de.ca8fdc","port":0}]}]},{"id":"76a9f5f0.1cf2dc","type":"subflow","name":"Receive Page LRS","info":"","category":"input","in":[{"x":60,"y":40,"wires":[{"id":"b5533914.8b1f58"},{"id":"c225fa15.f34b38"}]}],"out":[{"x":1160,"y":120,"wires":[{"id":"6862b344.2783ac","port":0}]}]},{"id":"3b51b3fa.8136dc","type":"subflow","name":"Receive Page TRX1","info":"","category":"input","in":[],"out":[{"x":880,"y":100,"wires":[{"id":"7e312125.1eb7b","port":0}]}]},{"id":"ca9def01.26ba2","type":"subflow","name":"Send Page","info":"","in":[{"x":220,"y":160,"wires":[{"id":"d19364d9.208968"},{"id":"d51608e.09159f8"},{"id":"33ff1e8e.291482"},{"id":"fb44d9db.726018"}]}],"out":[]},{"id":"8ad92631.0da208","type":"websocket-listener","z":"","path":"/log-full/send","wholemsg":"true"},{"id":"c0402614.f01608","type":"websocket-listener","z":"","path":"/log-daily/receive","wholemsg":"true"},{"id":"aae6ab09.c69b28","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"interbyte","addchar":false,"responsetimeout":""},{"id":"32989c5a.d6ee14","type":"websocket-listener","z":"","path":"/log-full/receive","wholemsg":"true"},{"id":"fd38eee5.8bd8a","type":"sqlitedb","z":"","db":"/home/ingenso/CaptureCall.db","mode":"RWC"},{"id":"e1c85b2c.abed18","type":"json-db-collection","z":"","name":"","collection":"settings","save":true},{"id":"d9d1357a.d4f118","type":"websocket-listener","z":"","path":"/display/receive","wholemsg":"true"},{"id":"95962f80.19ef3","type":"websocket-listener","z":"","path":"/display/send","wholemsg":"false"},{"id":"c7526c07.3fd51","type":"websocket-listener","z":"","path":"/log-daily/send","wholemsg":"true"},{"id":"c78d8a51.8b8ed8","type":"websocket-listener","z":"","path":"/export/send","wholemsg":"true"},{"id":"b7dfd67b.7d7948","type":"websocket-listener","z":"","path":"/export/receive","wholemsg":"true"},{"id":"18f900b5.35f87f","type":"websocket-listener","z":"","path":"/export/alert","wholemsg":"true"},{"id":"2db6df1c.cd63b","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"97f51a17.2797b8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"77cb30dc.37046","type":"serial-port","z":"","serialport":"/dev/ttyUSB2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"time","addchar":false,"responsetimeout":"10000"},{"id":"185c72ea.39ebed","type":"serial-port","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"true"},{"id":"4d6db4a9.f35a1c","type":"websocket-listener","z":"","path":"/table/receive","wholemsg":"true"},{"id":"c2e44b88.6a4e78","type":"websocket-listener","z":"","path":"/table/send","wholemsg":"false"},{"id":"5d6eb2f4.fc698c","type":"serial-port","z":"","serialport":"/dev/ttyS1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"bf6bea89.93a2f8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"time","addchar":false,"responsetimeout":""},{"id":"ee9952ed.fa7f4","type":"serial-port","z":0,"serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"false","out":"time","addchar":false},{"id":"741a68b.a601698","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"time","addchar":false,"responsetimeout":"10000"},{"id":"9d005ed1.8d26a","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"74d78913.da27b8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"a6d68c0c.38415","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"true"},{"id":"c71b5f44.6f7ea","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"4b076e95.d770c","type":"websocket-listener","z":"","path":"/ws/sender","wholemsg":"false"},{"id":"6c8b92a7.84a82c","type":"e-mail","z":"b00e2d77.a9931","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"CaptureCall System","x":1280,"y":1160,"wires":[]},{"id":"da56f422.c45fe8","type":"csv","z":"b00e2d77.a9931","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"Index, Call Point, Message, ReceivedTime, Status, StatusTime, ExportedTime, Recipient, System ID","skip":"0","x":890,"y":1180,"wires":[["e981d4fd.f427d8","8551674f.20b3f8"]]},{"id":"3f8aac1f.7c3ae4","type":"template","z":"b00e2d77.a9931","name":"Export All","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n`index` AS 'Index',\n`sender` AS 'Call Point',\n`content` AS 'Message',\n`rxTime`,\n`status` AS 'Status',\n`statusTime`,\n`exported`,\n`pagerNumber` AS 'Recipient',\n`sysID` AS 'System ID'\nFROM `log`\nORDER BY  `rxTime` DESC;","output":"str","x":340,"y":1220,"wires":[["f8461b70.bd71c8"]]},{"id":"e981d4fd.f427d8","type":"change","z":"b00e2d77.a9931","name":"Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'log.csv', \t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"CaptureCall System Log","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Attached is the requested information from your CaptureCall system.","tot":"str"},{"t":"set","p":"to","pt":"msg","to":"to","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1180,"wires":[["6c8b92a7.84a82c"]]},{"id":"a32b6729.85e8e8","type":"http in","z":"b00e2d77.a9931","name":"","url":"/export","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["cf30e34b.c1eb2"]]},{"id":"af06c87d.56a788","type":"comment","z":"b00e2d77.a9931","name":"Build Webpage","info":"","x":100,"y":40,"wires":[]},{"id":"cc70f131.afde4","type":"template","z":"b00e2d77.a9931","name":"Export New","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n`index` AS 'Index',\n`sender` AS 'Call Point',\n`content` AS 'Message',\n`rxTime`,\n`status` AS 'Status',\n`statusTime`,\n`exported`,\n`pagerNumber` AS 'Recipient',\n`sysID` AS 'System ID'\nFROM `log` WHERE `exported` IS NULL","output":"str","x":350,"y":1180,"wires":[["f8461b70.bd71c8"]]},{"id":"f8a9f08f.97c9b","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET `exported`= '{{timestamp}}'","output":"str","x":680,"y":940,"wires":[["1526f69b.ff5f29"]]},{"id":"c6075542.a00c48","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"to","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":320,"wires":[["e2ab5e5e.760e2","c1530843.813c58"]]},{"id":"f8461b70.bd71c8","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":530,"y":1180,"wires":[["2e1d4886.bea1a8"]]},{"id":"1526f69b.ff5f29","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":830,"y":940,"wires":[[]]},{"id":"e2ab5e5e.760e2","type":"DataIn","z":"b00e2d77.a9931","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/email","x":550,"y":320,"wires":[]},{"id":"a4c8442.5a53eb8","type":"switch","z":"b00e2d77.a9931","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":320,"wires":[["5845d54b.1b33dc"],["3e0d960c.df324a"]]},{"id":"5845d54b.1b33dc","type":"switch","z":"b00e2d77.a9931","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$length(payload) >= 5","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":320,"wires":[["c6075542.a00c48"],["3e0d960c.df324a"]]},{"id":"c4630aee.29afb8","type":"websocket out","z":"b00e2d77.a9931","name":"Show Alert on Bad Email","server":"18f900b5.35f87f","client":"","x":630,"y":360,"wires":[]},{"id":"3e0d960c.df324a","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please Enter a Valid eMail Address","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["c4630aee.29afb8"]]},{"id":"c3f8d5d0.283858","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Your eMail has been Sent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":820,"wires":[["ea92ebe2.658898","75f1d35f.d07dac"]]},{"id":"ea92ebe2.658898","type":"websocket out","z":"b00e2d77.a9931","name":"Send Successful","server":"18f900b5.35f87f","client":"","x":570,"y":820,"wires":[]},{"id":"463f8c6f.4fd364","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Send Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":780,"wires":[["f2a91bf9.b1d3b8","68d64bf.54ca2b4"]]},{"id":"f2a91bf9.b1d3b8","type":"websocket out","z":"b00e2d77.a9931","name":"Send Failed","server":"18f900b5.35f87f","client":"","x":550,"y":780,"wires":[]},{"id":"9f4bb9c9.b550f8","type":"status","z":"b00e2d77.a9931","name":"","scope":["6c8b92a7.84a82c"],"x":80,"y":800,"wires":[["ba578bde.7214f8"]]},{"id":"ba578bde.7214f8","type":"switch","z":"b00e2d77.a9931","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"email.status.sendfail","vt":"str"},{"t":"eq","v":"email.status.sending","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":800,"wires":[["463f8c6f.4fd364"],[],["c3f8d5d0.283858"]]},{"id":"3013dfe1.3ed01","type":"comment","z":"b00e2d77.a9931","name":"Catch Email Send Errors","info":"","x":130,"y":720,"wires":[]},{"id":"86082327.d62aa","type":"link in","z":"b00e2d77.a9931","name":"","links":["721569cb.074f58","8dc6af04.088a3"],"x":235,"y":1180,"wires":[["cc70f131.afde4"]]},{"id":"223b37e8.4b69d8","type":"link in","z":"b00e2d77.a9931","name":"","links":["2c82e51a.004a9a","9b0374d2.8917a8","34e0ce95.1b5ca2"],"x":235,"y":1220,"wires":[["3f8aac1f.7c3ae4"]]},{"id":"fed99ff9.b9bb1","type":"comment","z":"b00e2d77.a9931","name":"Send Email","info":"","x":90,"y":1060,"wires":[]},{"id":"a20fe9c4.7efc28","type":"link in","z":"b00e2d77.a9931","name":"","links":["43132da.14324d4","232317a3.5e58f8"],"x":35,"y":320,"wires":[["a4c8442.5a53eb8"]]},{"id":"c31b6340.5e646","type":"link in","z":"b00e2d77.a9931","name":"","links":["9cfc568.cddc1a8","11b0c0ec.55df3f"],"x":35,"y":360,"wires":[["3e0d960c.df324a"]]},{"id":"264f903e.c9e7a","type":"comment","z":"b00e2d77.a9931","name":"Set Email Address","info":"","x":110,"y":260,"wires":[]},{"id":"666f148c.df226c","type":"csv","z":"b00e2d77.a9931","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"Index, Call Point, Message, ReceivedTime, Status, StatusTime, ExportedTime, Recipient, System ID","skip":"0","x":890,"y":1140,"wires":[["4ea4678b.48f808","8551674f.20b3f8"]]},{"id":"4ea4678b.48f808","type":"change","z":"b00e2d77.a9931","name":"Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'log.csv', \t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"CaptureCall Daily Digest","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Attached is the requested information from your CaptureCall system.","tot":"str"},{"t":"set","p":"to","pt":"msg","to":"to","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1140,"wires":[["6c8b92a7.84a82c"]]},{"id":"94f5535a.df3bc","type":"template","z":"b00e2d77.a9931","name":"Export New","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n`index` AS 'Index',\n`sender` AS 'Call Point',\n`content` AS 'Message',\n`rxTime`,\n`status` AS 'Status',\n`statusTime`,\n`exported`,\n`pagerNumber` AS 'Recipient',\n`sysID` AS 'System ID'\nFROM `log` WHERE `exported` IS NULL","output":"str","x":350,"y":1140,"wires":[["445e65fd.5881dc"]]},{"id":"445e65fd.5881dc","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":530,"y":1140,"wires":[["4df235b.7c5c0cc"]]},{"id":"f3405690.0119c8","type":"inject","z":"b00e2d77.a9931","name":"Export New Every Day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":150,"y":1140,"wires":[["94f5535a.df3bc","ebaeeace.a4f718","430823b4.54fdcc"]]},{"id":"a61b2d01.623e8","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":120,"wires":[]},{"id":"c7008ce.9220c7","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":80,"wires":[["6f129008.96182"]]},{"id":"7e6e6b94.b4a724","type":"inject","z":"ba76d305.cf8ad","name":"Make Table","topic":"CREATE TABLE \"log\" ( `index` INTEGER PRIMARY KEY AUTOINCREMENT, `capcode` INTEGER, `pagerNumber` INTEGER, `sysID` INTEGER, `group` TEXT, `content` TEXT, `msgPart1` TEXT, `msgPart2` TEXT, `sender` TEXT, `rxTime` INTEGER, `status` TEXT, `statusTime` INTEGER, `exported` INTEGER, `FP` TEXT, `payload` TEXT )","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":80,"wires":[["c7008ce.9220c7"]]},{"id":"6f129008.96182","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":80,"wires":[]},{"id":"ec443c0d.8626c","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":240,"wires":[["24bd4830.57f6e8"]]},{"id":"9d1e6dbe.d89e2","type":"inject","z":"ba76d305.cf8ad","name":"Clear Table","topic":"DELETE FROM 'log';","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":240,"wires":[["ec443c0d.8626c"]]},{"id":"aed60ae.6b45df8","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":120,"wires":[["a61b2d01.623e8"]]},{"id":"c8181b2e.7db228","type":"inject","z":"ba76d305.cf8ad","name":"Select All","topic":"Select * FROM 'log';","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":120,"wires":[["aed60ae.6b45df8"]]},{"id":"b0a6ba65.a7d928","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":160,"wires":[]},{"id":"8b6bd144.83a25","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":160,"wires":[["b0a6ba65.a7d928"]]},{"id":"df2babd6.b81898","type":"inject","z":"ba76d305.cf8ad","name":"Drop Table","topic":"DROP TABLE 'log';","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":160,"wires":[["8b6bd144.83a25"]]},{"id":"49b647b4.b47d48","type":"comment","z":"1c96dbb1.1bc354","name":"Put All On the Webpage","info":"","x":160,"y":140,"wires":[]},{"id":"46418585.24918c","type":"http response","z":"1c96dbb1.1bc354","name":"","statusCode":"","headers":{},"x":830,"y":80,"wires":[]},{"id":"672cd54b.015afc","type":"http in","z":"1c96dbb1.1bc354","name":"","url":"/log-full","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["b711720e.5994a"]]},{"id":"789799aa.6b3ca8","type":"template","z":"1c96dbb1.1bc354","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM `log`\nORDER BY  `rxTime` DESC ","output":"str","x":210,"y":260,"wires":[["d92c7a20.a63ce8"]]},{"id":"8cf086f7.eafc98","type":"websocket out","z":"1c96dbb1.1bc354","name":"","server":"32989c5a.d6ee14","client":"","x":1090,"y":260,"wires":[]},{"id":"563aad78.25d9d4","type":"comment","z":"1c96dbb1.1bc354","name":"Build Webpage","info":"","x":140,"y":40,"wires":[]},{"id":"d92c7a20.a63ce8","type":"sqlite","z":"1c96dbb1.1bc354","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":390,"y":260,"wires":[["5065be0a.03bf6"]]},{"id":"45deb19d.022ce","type":"template","z":"1c96dbb1.1bc354","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div class=\"nestedLog\">\n    <div class=\"bold\">Index</div>\n    <div class=\"bold\">Call Point</div>\n    <div class=\"bold\">Message</div>\n    <div class=\"bold\">Receive Time</div>\n    <div class=\"bold\">Receive Date</div>\n    <div class=\"bold\">Status</div>\n    <div class=\"bold\">Status Time</div>\n    <div class=\"bold\">Status Date</div>\n    <div class=\"bold\">Export Time</div>\n    <div class=\"bold\">Export Date</div>\n    <div class=\"bold\">Recipient</div>\n    <div class=\"bold\">System ID</div>\n    <div class=\"bold\">Group</div>\n    <div class=\"bold\">Flash Pattern</div>\n  </div>\n{{#payload}}\n  <div class=\"nestedLog {{style}}\">\n    <div>{{index}}</div>\n    <div>{{sender}}</div>\n    <div>{{{content}}}</div>\n    <div>{{displayTime}}</div>\n    <div>{{displayDate}}</div>\n    <div>{{status}}</div>\n    <div>{{displayStatusTime}}</div>\n    <div>{{displayStatusDate}}</div>\n    <div>{{{displayExportedTime}}}</div>\n    <div>{{{displayExportedDate}}}</div>\n    <div>{{pagerNumber}}</div>\n    <div>{{sysID}}</div>\n    <div>{{group}}</div>\n    <div>{{FP}}</div>\n   </div>\n{{/payload}}","output":"str","x":910,"y":260,"wires":[["8cf086f7.eafc98"]]},{"id":"575acb3d.97bd64","type":"function","z":"1c96dbb1.1bc354","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = new Date(msg.payload[i].rxTime);\n                var displayDate = rxtime.toLocaleDateString();\n                var displayTime = rxtime.toLocaleTimeString();\n                \n    var statusTime = new Date(msg.payload[i].statusTime);\n                var displayStatusDate = statusTime.toLocaleDateString();\n                var displayStatusTime = statusTime.toLocaleTimeString();\n                \n  \n              \n     if (msg.payload[i].exported === null) {\n    msg.payload[i].displayExportedTime = \"n/a\"\n    msg.payload[i].displayExportedDate = \"n/a\"\n} else {\nvar exportedTime = new Date(msg.payload[i].exported);\n    var displayExportedDate = exportedTime.toLocaleDateString();\n    var displayExportedTime = exportedTime.toLocaleTimeString();\n              \n    msg.payload[i].displayExportedTime = displayExportedTime\n    msg.payload[i].displayExportedDate = displayExportedDate\n}         \n               \n                \n                msg.payload[i].displayStatusTime = displayStatusTime\n                msg.payload[i].displayStatusDate = displayStatusDate\n                \n                msg.payload[i].displayDate = displayDate\n                msg.payload[i].displayTime = displayTime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["45deb19d.022ce"]]},{"id":"13c2aaaa.74d295","type":"link in","z":"1c96dbb1.1bc354","name":"log","links":["363f5c70.e7e144","320906f1.fd1fba","ecbc4376.b117e","d2d8b8d2.67e9a8","8469e8af.2a6df8","2c38eaf2.df6f76","bc4b27b0.6d1478","5652483b.e30f08","e14222d1.c9cb7","f40e69c9.7d2798","18e72d9f.360682"],"x":75,"y":260,"wires":[["789799aa.6b3ca8"]]},{"id":"a6f41372.e1e95","type":"websocket in","z":"1c96dbb1.1bc354","name":"","server":"8ad92631.0da208","client":"","x":140,"y":200,"wires":[["dd5d2e16.22ed7"]]},{"id":"dd5d2e16.22ed7","type":"switch","z":"1c96dbb1.1bc354","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":200,"wires":[["789799aa.6b3ca8"]]},{"id":"4df235b.7c5c0cc","type":"function","z":"b00e2d77.a9931","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \nvar rxtime = new Date(msg.payload[i].rxTime);\nvar statusTime = new Date(msg.payload[i].statusTime);\nvar exportedTime = new Date(msg.payload[i].exported);\n\nif (msg.payload[i].exported === null) {\n    msg.payload[i].ExportedTime = \"n/a\"\n} else {\nmsg.payload[i].ExportedTime = exportedTime\n}\n\nmsg.payload[i].StatusTime = statusTime\nmsg.payload[i].ReceivedTime = rxtime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1140,"wires":[["666f148c.df226c"]]},{"id":"75f1d35f.d07dac","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":900,"wires":[["582b503f.5fb22","f8a9f08f.97c9b"]]},{"id":"2e1d4886.bea1a8","type":"function","z":"b00e2d77.a9931","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \nvar rxtime = new Date(msg.payload[i].rxTime);\nvar statusTime = new Date(msg.payload[i].statusTime);\nvar exportedTime = new Date(msg.payload[i].exported);\n\nif (msg.payload[i].exported === null) {\n    msg.payload[i].ExportedTime = \"n/a\"\n} else {\nmsg.payload[i].ExportedTime = exportedTime\n}\n\nmsg.payload[i].StatusTime = statusTime\nmsg.payload[i].ReceivedTime = rxtime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1180,"wires":[["da56f422.c45fe8"]]},{"id":"24bd4830.57f6e8","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":240,"wires":[]},{"id":"2fd5e4ed.597f5c","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":200,"wires":[]},{"id":"37e42e66.009442","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":200,"wires":[["2fd5e4ed.597f5c"]]},{"id":"d201839b.347","type":"inject","z":"ba76d305.cf8ad","name":"Reset Auto Increment (Clear Table First)","topic":"DELETE FROM sqlite_sequence WHERE name = 'log';","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[["37e42e66.009442"]]},{"id":"22c6aed.a374c52","type":"template","z":"1c96dbb1.1bc354","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n\n<LINK href=\"style.css\" rel=\"stylesheet\" type=\"text/css\">\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":710,"y":80,"wires":[["46418585.24918c"]]},{"id":"8551674f.20b3f8","type":"debug","z":"b00e2d77.a9931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":1100,"wires":[]},{"id":"109cf513.333d8b","type":"comment","z":"b209c94d.26d798","name":"Put All On the Webpage","info":"","x":160,"y":140,"wires":[]},{"id":"9aac45fc.813958","type":"http in","z":"b209c94d.26d798","name":"","url":"/log-daily","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["fd2ae0c5.52933"]]},{"id":"8f45f53e.71ff08","type":"template","z":"b209c94d.26d798","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM log WHERE date(datetime(rxtime / 1000 , 'unixepoch')) = date('now') AND `sender` != \"System\"\nORDER BY  `rxTime` DESC; ","output":"str","x":210,"y":260,"wires":[["9c7288fe.0f9a98"]]},{"id":"de3ce5b7.367e28","type":"websocket out","z":"b209c94d.26d798","name":"","server":"c0402614.f01608","client":"","x":1100,"y":260,"wires":[]},{"id":"fb47baaa.cecc08","type":"comment","z":"b209c94d.26d798","name":"Build Webpage","info":"","x":140,"y":40,"wires":[]},{"id":"9c7288fe.0f9a98","type":"sqlite","z":"b209c94d.26d798","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":390,"y":260,"wires":[["2fd00906.8c8cb6"]]},{"id":"e6ae4362.9fe56","type":"template","z":"b209c94d.26d798","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div class=\"nested10\">\n    <div class=\"bold\">Index</div>\n    <div class=\"bold\">Call Point</div>\n    <div class=\"bold\">Message</div>\n    <div class=\"bold\">Receive Time</div>\n    <div class=\"bold\">Receive Date</div>\n    <div class=\"bold\">Status</div>\n    <div class=\"bold\">Status Time</div>\n    <div class=\"bold\">Status Date</div>\n    \n    <div class=\"bold\">Recipient</div>\n    <div class=\"bold\">System ID</div>\n  </div>\n{{#payload}}\n  <div class=\"nested10 {{style}}\">\n    <div>{{index}}</div>\n    <div>{{sender}}</div>\n    <div>{{{content}}}</div>\n    <div>{{displayTime}}</div>\n    <div>{{displayDate}}</div>\n    <div>{{status}}</div>\n    <div>{{displayStatusTime}}</div>\n    <div>{{displayStatusDate}}</div>\n   \n    <div>{{pagerNumber}}</div>\n    <div>{{sysID}}</div>\n   </div>\n{{/payload}}","output":"str","x":910,"y":260,"wires":[["de3ce5b7.367e28"]]},{"id":"3945937b.26034c","type":"function","z":"b209c94d.26d798","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = new Date(msg.payload[i].rxTime);\n                var displayDate = rxtime.toLocaleDateString();\n                var displayTime = rxtime.toLocaleTimeString();\n                \n    var statusTime = new Date(msg.payload[i].statusTime);\n                var displayStatusDate = statusTime.toLocaleDateString();\n                var displayStatusTime = statusTime.toLocaleTimeString();\n                \n  \n              \n     if (msg.payload[i].exported === null) {\n    msg.payload[i].displayExportedTime = \"n/a\"\n    msg.payload[i].displayExportedDate = \"n/a\"\n} else {\nvar exportedTime = new Date(msg.payload[i].exported);\n    var displayExportedDate = exportedTime.toLocaleDateString();\n    var displayExportedTime = exportedTime.toLocaleTimeString();\n              \n    msg.payload[i].displayExportedTime = displayExportedTime\n    msg.payload[i].displayExportedDate = displayExportedDate\n}         \n               \n                \n                msg.payload[i].displayStatusTime = displayStatusTime\n                msg.payload[i].displayStatusDate = displayStatusDate\n                \n                msg.payload[i].displayDate = displayDate\n                msg.payload[i].displayTime = displayTime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["e6ae4362.9fe56"]]},{"id":"f8b2c7bc.b77368","type":"link in","z":"b209c94d.26d798","name":"log","links":["363f5c70.e7e144","320906f1.fd1fba","ecbc4376.b117e","d2d8b8d2.67e9a8","8469e8af.2a6df8","e14222d1.c9cb7","f40e69c9.7d2798","18e72d9f.360682"],"x":75,"y":260,"wires":[["8f45f53e.71ff08"]]},{"id":"624fab58.d41fb4","type":"websocket in","z":"b209c94d.26d798","name":"","server":"c7526c07.3fd51","client":"","x":150,"y":200,"wires":[["8d113a2c.07c438"]]},{"id":"8d113a2c.07c438","type":"switch","z":"b209c94d.26d798","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":200,"wires":[["8f45f53e.71ff08"]]},{"id":"1d4b9b6.2e75565","type":"sqlite","z":"ba76d305.cf8ad","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":490,"y":280,"wires":[["8b82ced7.840b7"]]},{"id":"f3efd6bc.d319a8","type":"inject","z":"ba76d305.cf8ad","name":"Clear Old Records","topic":"DELETE FROM `log` WHERE `index` IN (SELECT `index` FROM `log` ORDER BY `index` DESC LIMIT -1 OFFSET 2000) AND `exported` IS NOT NULL;","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":280,"wires":[["1d4b9b6.2e75565"]]},{"id":"8b82ced7.840b7","type":"debug","z":"ba76d305.cf8ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":280,"wires":[]},{"id":"a352da15.0d4288","type":"template","z":"b00e2d77.a9931","name":"Clear Old Records","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM `log` WHERE `index` IN (SELECT `index` FROM `log` ORDER BY `index` DESC LIMIT -1 OFFSET 2000) AND `exported` IS NOT NULL;","output":"str","x":510,"y":1100,"wires":[["b59b1f4c.0ec78"]]},{"id":"b59b1f4c.0ec78","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":690,"y":1100,"wires":[[]]},{"id":"ebaeeace.a4f718","type":"delay","z":"b00e2d77.a9931","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1100,"wires":[["a352da15.0d4288"]]},{"id":"582b503f.5fb22","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Export Successful','Export Successful', '{{timestamp}}', '{{timestamp}}');","output":"str","x":680,"y":900,"wires":[["5c50a3a4.23c89c"]]},{"id":"5c50a3a4.23c89c","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":830,"y":900,"wires":[[]]},{"id":"ecca07b5.9ea578","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Export Failed','Export Failed', '{{timestamp}}', '{{timestamp}}');","output":"str","x":680,"y":740,"wires":[["b09e3e3f.0fe09"]]},{"id":"b09e3e3f.0fe09","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":830,"y":740,"wires":[[]]},{"id":"33c3ae31.e41c62","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Daily Export Triggered','Daily Export Triggered to {{global.to}}', '{{timestamp}}', '{{timestamp}}');","output":"str","x":490,"y":1060,"wires":[["e7b2f01e.3fbbf"]]},{"id":"e7b2f01e.3fbbf","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":650,"y":1060,"wires":[[]]},{"id":"68d64bf.54ca2b4","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":740,"wires":[["ecca07b5.9ea578"]]},{"id":"430823b4.54fdcc","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1060,"wires":[["33c3ae31.e41c62"]]},{"id":"2ba16b1b.ca41c4","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'eMail Address Changed','eMail Changed to {{global.to}}', '{{timestamp}}', '{{timestamp}}');","output":"str","x":710,"y":280,"wires":[["d360a4fe.9ebda8"]]},{"id":"d360a4fe.9ebda8","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":870,"y":280,"wires":[["8469e8af.2a6df8"]]},{"id":"c1530843.813c58","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["2ba16b1b.ca41c4"]]},{"id":"8469e8af.2a6df8","type":"link out","z":"b00e2d77.a9931","name":"","links":["13c2aaaa.74d295","f8b2c7bc.b77368","ed29f70d.9b66f8","f72ff61b.e8d618","9f5ece3e.bbcec"],"x":975,"y":280,"wires":[]},{"id":"2fd00906.8c8cb6","type":"function","z":"b209c94d.26d798","name":"Set Style","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n    \n  if (msg.payload[i].status == \"Late\") {\n    msg.payload[i].style = \"flash bold\"\n} else {\n    msg.payload[i].style = \"\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["3945937b.26034c"]]},{"id":"9cb10731.0e0a38","type":"serial in","z":"3b51b3fa.8136dc","name":"","serial":"aae6ab09.c69b28","x":110,"y":100,"wires":[["b47a3123.3b208"]]},{"id":"b47a3123.3b208","type":"switch","z":"3b51b3fa.8136dc","name":"MSG Type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"[","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":100,"wires":[["bfec026c.c4148"],["d6264d72.9b56e"]]},{"id":"bfec026c.c4148","type":"function","z":"3b51b3fa.8136dc","name":"TRX1 Process Group Message","func":"var payload = msg.payload;\nvar Totallength = payload.length;\n\nvar page = payload.substring(9, Totallength -2);\n\n\nvar str = \"\" + page;\nvar split = str.split(\",\");\nvar contentlength = split[1].length\n\n\n\nvar capcode = split[0];\nvar str = capcode.toString();\nvar strLength = str.length;\nvar pagerStr = str.substring(strLength - 5, strLength);\nvar pagercalc1 = parseInt(pagerStr);\nvar pager = pagercalc1/8;\n\nvar syscode = ((capcode - pagercalc1)-700000)/100000;\n\nif (page.endsWith(\" \")) {\n    var message= split[1].substring(4,contentlength-1)\nvar tidyMessage = message.trim();\n    msg.sender = \"0\"\n} else {\n    var message= split[1].substring(4,contentlength-2)\nvar tidyMessage = message.trim();\n    var sender = split[1].substring(contentlength-2,contentlength)\n    var tidySender = sender.trim();\n    msg.sender = tidySender;\n}\n\nvar group= split[1].substring(0,4)\n\nmsg.capcode = split[0];\nmsg.pagerNumber = group;\nmsg.sysID = syscode\nmsg.content = tidyMessage;\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["7e312125.1eb7b"]]},{"id":"d6264d72.9b56e","type":"function","z":"3b51b3fa.8136dc","name":"TRX1 Process Normal Message","func":"var payload = msg.payload;\nvar Totallength = payload.length;\n\nvar page = payload.substring(9, Totallength -2);\n\n\nvar str = \"\" + page;\nvar split = str.split(\",\");\nvar contentlength = split[1].length\n\n\n\nvar capcode = split[0];\nvar str = capcode.toString();\nvar strLength = str.length;\nvar pagerStr = str.substring(strLength - 5, strLength);\nvar pagercalc1 = parseInt(pagerStr);\nvar pager = pagercalc1/8;\n\nvar syscode = ((capcode - pagercalc1)-700000)/100000;\n\nif (page.endsWith(\" \")) {\n    var message= split[1].substring(0,contentlength-1)\nvar tidyMessage = message.trim();\n    msg.sender = \"0\"\n} else {\n    var message= split[1].substring(0,contentlength-2)\nvar tidyMessage = message.trim();\n    var sender = split[1].substring(contentlength-2,contentlength)\n    var tidySender = sender.trim();\n    msg.sender = tidySender;\n}\n\n\nmsg.capcode = split[0];\nmsg.pagerNumber = pager\nmsg.sysID = syscode\nmsg.content = tidyMessage;\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["7e312125.1eb7b"]]},{"id":"7e312125.1eb7b","type":"function","z":"3b51b3fa.8136dc","name":"Split Content into 2","func":"var payload = msg.content;\n\nvar str = \"\" + payload;\nvar split = str.split(\"-\");\n\nmsg.msgPart1 = split[0];\nmsg.msgPart2 = split[1];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":100,"wires":[[]]},{"id":"61c3188a.69cf28","type":"template","z":"e3cbac21.52804","name":"Update Active to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Handled', statusTime = '{{timestamp}}' WHERE `sender` = {{sender}} AND `status` = 'Active';","output":"str","x":710,"y":320,"wires":[["51abf5f2.9454cc"]]},{"id":"51abf5f2.9454cc","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":910,"y":320,"wires":[["fb714f6.286fcb"]]},{"id":"bc4b27b0.6d1478","type":"link out","z":"e3cbac21.52804","name":"to Log","links":["13c2aaaa.74d295","ed29f70d.9b66f8","f72ff61b.e8d618","9f5ece3e.bbcec"],"x":1415,"y":320,"wires":[]},{"id":"fb714f6.286fcb","type":"template","z":"e3cbac21.52804","name":"Update Late to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Handled', statusTime = '{{timestamp}}' WHERE `sender` = {{sender}} AND `status` = 'Late';","output":"str","x":1110,"y":320,"wires":[["9666bf85.ccc7b"]]},{"id":"9666bf85.ccc7b","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":1310,"y":320,"wires":[["bc4b27b0.6d1478"]]},{"id":"c94a9d48.9c2c","type":"link out","z":"e3cbac21.52804","name":"Add to DB","links":["a7862417.604e88","c7eb5365.d6ebd","562eef1b.5da85","8452a925.e651d8","ac279afc.5d13b8"],"x":515,"y":180,"wires":[]},{"id":"65be70e.baef89","type":"comment","z":"e3cbac21.52804","name":"Add to DB","info":"","x":140,"y":260,"wires":[]},{"id":"5652483b.e30f08","type":"link out","z":"e3cbac21.52804","name":"to Log","links":["13c2aaaa.74d295","ed29f70d.9b66f8","f72ff61b.e8d618","9f5ece3e.bbcec"],"x":615,"y":360,"wires":[]},{"id":"bb983eee.bde5b","type":"debug","z":"e3cbac21.52804","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":140,"wires":[]},{"id":"f00ef931.2b7e68","type":"hostip","z":"60528a1b.f32364","name":"Host IP","x":420,"y":160,"wires":[["88463608.a1be98"]]},{"id":"88463608.a1be98","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"ip","pt":"global","to":"payload[0].address","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["354156ac.88df4a"]]},{"id":"66e288bb.f91b28","type":"inject","z":"60528a1b.f32364","name":"Initiate Global Variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":190,"y":280,"wires":[["f00ef931.2b7e68","16c14cba.135493","7a7e9dde.7b8004","a1416828.f4d808","daaef36b.fd391","4dd7af67.999da","2fabfffb.a95f7","f439405a.85afc","a14d3f9.2f33cc","4af56cf0.745794"]]},{"id":"a4a4aa8b.4ca648","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"sysID","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":200,"wires":[[]]},{"id":"16c14cba.135493","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/email","error":false,"x":410,"y":240,"wires":[["417a42c2.c5f93c"]]},{"id":"417a42c2.c5f93c","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"to","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":240,"wires":[[]]},{"id":"97a59e4.8bf1a6","type":"comment","z":"60528a1b.f32364","name":"Set Email Address","info":"","x":750,"y":240,"wires":[]},{"id":"7568d75d.043c68","type":"comment","z":"60528a1b.f32364","name":"Set sysID","info":"","x":720,"y":200,"wires":[]},{"id":"9a7d50bd.7cef2","type":"comment","z":"60528a1b.f32364","name":"Set IP Address","info":"","x":1040,"y":160,"wires":[]},{"id":"7fda91ad.06b69","type":"template","z":"60528a1b.f32364","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Power On','Power On ({{global.ip}})', '{{payload}}', '{{payload}}');","output":"str","x":580,"y":280,"wires":[["64f95549.289fdc"]]},{"id":"64f95549.289fdc","type":"sqlite","z":"60528a1b.f32364","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":730,"y":280,"wires":[[]]},{"id":"7a7e9dde.7b8004","type":"delay","z":"60528a1b.f32364","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":280,"wires":[["7fda91ad.06b69"]]},{"id":"adbc8745.6a7b98","type":"comment","z":"60528a1b.f32364","name":"Write Power On Message to DB","info":"","x":950,"y":280,"wires":[]},{"id":"38013852.8f7b18","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/ip","x":890,"y":160,"wires":[]},{"id":"8ef3cc6f.9a91a","type":"template","z":"60528a1b.f32364","name":"Left Header","field":"left","fieldType":"global","format":"handlebars","syntax":"mustache","template":"    {{#payload}}\n        <a href=\"/{{Address}}\" class=\"settings\">{{Name}}</a>\n        <BR>\n    {{/payload}}","output":"str","x":570,"y":520,"wires":[[]]},{"id":"bdee1a5f.1f3dc8","type":"comment","z":"60528a1b.f32364","name":"Set Left Header Links","info":"","x":920,"y":520,"wires":[]},{"id":"b711720e.5994a","type":"change","z":"1c96dbb1.1bc354","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Full Log","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["1e62e84c.1602e8"]]},{"id":"35e23daf.3e9492","type":"http response","z":"b209c94d.26d798","name":"","statusCode":"","headers":{},"x":830,"y":80,"wires":[]},{"id":"772432e4.448f2c","type":"template","z":"b209c94d.26d798","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n<LINK href=\"style.css\" rel=\"stylesheet\" type=\"text/css\">\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":710,"y":80,"wires":[["35e23daf.3e9492"]]},{"id":"fd2ae0c5.52933","type":"change","z":"b209c94d.26d798","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Daily Log","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["3bae9439.a7642c"]]},{"id":"5d9f879a.ab2cf8","type":"http response","z":"b00e2d77.a9931","name":"","statusCode":"","headers":{},"x":770,"y":80,"wires":[]},{"id":"4e44e038.08395","type":"template","z":"b00e2d77.a9931","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n<LINK href=\"style.css\" rel=\"stylesheet\" type=\"text/css\">\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":650,"y":80,"wires":[["5d9f879a.ab2cf8"]]},{"id":"cf30e34b.c1eb2","type":"change","z":"b00e2d77.a9931","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Export Menu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["72aa7d10.d1af44"]]},{"id":"29aa4748.4a38f8","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"serial","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[[]]},{"id":"daaef36b.fd391","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/sw","error":false,"x":410,"y":360,"wires":[["92ab9cbc.b90cc"]]},{"id":"92ab9cbc.b90cc","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"sw","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[[]]},{"id":"43bab4a0.45f19c","type":"comment","z":"60528a1b.f32364","name":"Set S/W Version","info":"","x":740,"y":360,"wires":[]},{"id":"a1416828.f4d808","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/serial","error":false,"x":410,"y":320,"wires":[["29aa4748.4a38f8"]]},{"id":"43ccf7d3.ddd008","type":"comment","z":"60528a1b.f32364","name":"Set Serial","info":"","x":720,"y":320,"wires":[]},{"id":"4dd7af67.999da","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/hw","error":false,"x":410,"y":400,"wires":[["2d58c279.e4542e"]]},{"id":"2d58c279.e4542e","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"hw","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[[]]},{"id":"5b43db00.7c2cc4","type":"comment","z":"60528a1b.f32364","name":"Set H/W Version","info":"","x":740,"y":400,"wires":[]},{"id":"2fabfffb.a95f7","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/fw","error":false,"x":410,"y":440,"wires":[["2563249f.b0948c"]]},{"id":"2563249f.b0948c","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"fw","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":440,"wires":[[]]},{"id":"158ee839.e5b868","type":"comment","z":"60528a1b.f32364","name":"Set F/W Version","info":"","x":740,"y":440,"wires":[]},{"id":"5a4c919f.6aef9","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/serial","x":1410,"y":620,"wires":[]},{"id":"558730dd.1c8c7","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"SerialNumber","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1270,"y":620,"wires":[["5a4c919f.6aef9"]]},{"id":"dbf96854.54d538","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/sw","x":1410,"y":420,"wires":[]},{"id":"80cd3c13.c8202","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"1.0.0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1250,"y":420,"wires":[["dbf96854.54d538","68f92468.fbc08c","3df1c746.549888"]]},{"id":"68f92468.fbc08c","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/hw","x":1410,"y":460,"wires":[]},{"id":"3df1c746.549888","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/fw","x":1410,"y":500,"wires":[]},{"id":"89ede062.46b22","type":"comment","z":"b00e2d77.a9931","name":"Put Settings On the Webpage","info":"","x":140,"y":140,"wires":[]},{"id":"a29f518.92ac7b","type":"websocket out","z":"b00e2d77.a9931","name":"","server":"b7dfd67b.7d7948","client":"","x":570,"y":180,"wires":[]},{"id":"1228ef46.2a9871","type":"template","z":"b00e2d77.a9931","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"grid-container\">\n<div class=\"grid-item\"><p class=\"notes\">Logs are sent to the email address shown below.<br>To update the email address, enter a new address below and press enter.</p><input type=\"email\" class=\"name\" id=\"email\" onchange=\"send.send(email.value)\" placeholder=\"{{global.to}}\"></div>\n<div class=\"grid-item\"><p class=\"notes\">Click on the buttons below to email the relevant report immediately.</p><button class=\"name\" onclick=\"send.send('ExportNew')\">Export New (Unexported) Log Records</button></div>\n<div class=\"grid-item\"><button class=\"name\" onclick=\"send.send('ExportAll')\">Export All Log Records</button></div>\n<div class=\"grid-item\"><button class=\"name\" onclick=\"send.send('ExportUSB')\">Export to USB</button></div>\n<div class=\"grid-item\"><p class=\"notes bold\">WARNING: This cannot be undone!</p><button class=\"name red\" onclick=\"send.send('Clear')\">Delete ALL Exported Records from Log</button></div>\n<div class=\"grid-item\"><p class=\"notes bold\">WARNING: You will need to physically disconnect and then re-connect power to CaptureCall in order to power-up again.</p><button class=\"name red\" onclick=\"send.send('Shutdown')\">Safely Shutdown CaptureCall</button></div>\n</div>","output":"str","x":390,"y":180,"wires":[["a29f518.92ac7b"]]},{"id":"f72ff61b.e8d618","type":"link in","z":"b00e2d77.a9931","name":"log","links":["363f5c70.e7e144","320906f1.fd1fba","ecbc4376.b117e","d2d8b8d2.67e9a8","8469e8af.2a6df8","2c38eaf2.df6f76","bc4b27b0.6d1478","5652483b.e30f08","e14222d1.c9cb7","f40e69c9.7d2798","18e72d9f.360682"],"x":275,"y":220,"wires":[["1228ef46.2a9871"]]},{"id":"2e977b67.7b7c54","type":"websocket in","z":"b00e2d77.a9931","name":"","server":"c78d8a51.8b8ed8","client":"","x":100,"y":180,"wires":[["e979859b.b1bd58"]]},{"id":"e979859b.b1bd58","type":"switch","z":"b00e2d77.a9931","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["1228ef46.2a9871"]]},{"id":"1e62e84c.1602e8","type":"template","z":"1c96dbb1.1bc354","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/log-full/receive');\nvar send = new WebSocket('ws://' + location.host + '/log-full/send');\nvar popup = new WebSocket('ws://' + location.host + '/log-full/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":590,"y":80,"wires":[["22c6aed.a374c52"]]},{"id":"3bae9439.a7642c","type":"template","z":"b209c94d.26d798","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/log-daily/receive');\nvar send = new WebSocket('ws://' + location.host + '/log-daily/send');\nvar popup = new WebSocket('ws://' + location.host + '/log-daily/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":590,"y":80,"wires":[["772432e4.448f2c"]]},{"id":"72aa7d10.d1af44","type":"template","z":"b00e2d77.a9931","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/export/receive');\nvar send = new WebSocket('ws://' + location.host + '/export/send');\nvar popup = new WebSocket('ws://' + location.host + '/export/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n     msg = JSON.parse(txt);\n   alert(msg.payload);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":530,"y":80,"wires":[["4e44e038.08395"]]},{"id":"333e0a94.5678c6","type":"template","z":"b00e2d77.a9931","name":"Clear","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM `log` WHERE `exported` IS NOT NULL;","output":"str","x":450,"y":560,"wires":[["1237ea0d.215136"]]},{"id":"3e94fc51.b74054","type":"switch","z":"b00e2d77.a9931","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"ExportNew","vt":"str"},{"t":"eq","v":"ExportAll","vt":"str"},{"t":"eq","v":"ExportUSB","vt":"str"},{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"cont","v":"@","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":270,"y":540,"wires":[[],["cf368fd3.b1f24"],["296e6582.99004a"],["9ebb47d8.f65978"],["333e0a94.5678c6"],["647efa55.c6e874"],["232317a3.5e58f8"],["11b0c0ec.55df3f"]]},{"id":"1237ea0d.215136","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":590,"y":560,"wires":[["e535dae8.dcfae8"]]},{"id":"34c0e145.1bf84e","type":"exec","z":"b00e2d77.a9931","command":"shutdown -P now","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":810,"y":600,"wires":[["7997db1e.abf2d4"],["7997db1e.abf2d4"],["7997db1e.abf2d4"]]},{"id":"48285347.2903fc","type":"delay","z":"b00e2d77.a9931","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":600,"wires":[["34c0e145.1bf84e"]]},{"id":"64248c60.900b94","type":"websocket in","z":"b00e2d77.a9931","name":"","server":"c78d8a51.8b8ed8","client":"","x":100,"y":540,"wires":[["3e94fc51.b74054"]]},{"id":"e813c8d.549c038","type":"websocket out","z":"b00e2d77.a9931","name":"Show Alert for Shutdown","server":"18f900b5.35f87f","client":"","x":690,"y":680,"wires":[]},{"id":"647efa55.c6e874","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"CaptureCall is Shutting Down... Please Close your Browser (If Necessary)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":600,"wires":[["e813c8d.549c038","48285347.2903fc","5de24333.2d962c"]]},{"id":"e535dae8.dcfae8","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Records Deleted","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":560,"wires":[["9e88663e.111128","7d6ca1a9.1c4e1"]]},{"id":"9e88663e.111128","type":"websocket out","z":"b00e2d77.a9931","name":"Show Alert for Clear Database","server":"18f900b5.35f87f","client":"","x":1010,"y":560,"wires":[]},{"id":"8f982cce.d9f72","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Power Off','Power Off', '{{timestamp}}', '{{timestamp}}');","output":"str","x":780,"y":640,"wires":[["986f3937.af7a18"]]},{"id":"986f3937.af7a18","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":930,"y":640,"wires":[[]]},{"id":"8dc6af04.088a3","type":"link out","z":"b00e2d77.a9931","name":"","links":["86082327.d62aa"],"x":875,"y":440,"wires":[]},{"id":"9b0374d2.8917a8","type":"link out","z":"b00e2d77.a9931","name":"","links":["223b37e8.4b69d8"],"x":875,"y":480,"wires":[]},{"id":"232317a3.5e58f8","type":"link out","z":"b00e2d77.a9931","name":"","links":["a20fe9c4.7efc28"],"x":415,"y":640,"wires":[]},{"id":"11b0c0ec.55df3f","type":"link out","z":"b00e2d77.a9931","name":"","links":["c31b6340.5e646"],"x":415,"y":680,"wires":[]},{"id":"d27040b1.bd22","type":"comment","z":"b00e2d77.a9931","name":"Handle Input from Webpage","info":"","x":140,"y":440,"wires":[]},{"id":"5de24333.2d962c","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":640,"wires":[["8f982cce.d9f72"]]},{"id":"878807fc.17f708","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Export All','Export All to {{global.to}}', '{{timestamp}}', '{{timestamp}}');","output":"str","x":610,"y":480,"wires":[["36c49da8.b2b1c2"]]},{"id":"36c49da8.b2b1c2","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":770,"y":480,"wires":[["9b0374d2.8917a8"]]},{"id":"3e07d8e1.991e78","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Export New','Export New to {{global.to}}', '{{timestamp}}', '{{timestamp}}');","output":"str","x":610,"y":440,"wires":[["6886cec4.f705c"]]},{"id":"6886cec4.f705c","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":770,"y":440,"wires":[["8dc6af04.088a3"]]},{"id":"cf368fd3.b1f24","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["3e07d8e1.991e78"]]},{"id":"296e6582.99004a","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["878807fc.17f708"]]},{"id":"7d6ca1a9.1c4e1","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":520,"wires":[["ec8b3b9a.789898"]]},{"id":"ec8b3b9a.789898","type":"template","z":"b00e2d77.a9931","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'Records Deleted','Records Deleted', '{{timestamp}}', '{{timestamp}}');","output":"str","x":1080,"y":520,"wires":[["c6034db6.a65e"]]},{"id":"c6034db6.a65e","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":1230,"y":520,"wires":[[]]},{"id":"f439405a.85afc","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/password","error":false,"x":430,"y":480,"wires":[["2d0f23a.2359bdc"]]},{"id":"2d0f23a.2359bdc","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"password","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":480,"wires":[[]]},{"id":"78addd47.975844","type":"comment","z":"60528a1b.f32364","name":"Set Password","info":"","x":810,"y":480,"wires":[]},{"id":"bfcf2e37.054ff","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/password","x":1420,"y":660,"wires":[]},{"id":"f2ffd251.d4288","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"1234","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":660,"wires":[["bfcf2e37.054ff"]]},{"id":"a14d3f9.2f33cc","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/modules","error":false,"x":420,"y":520,"wires":[["8ef3cc6f.9a91a"]]},{"id":"fd4ba03e.ba97d","type":"comment","z":"60528a1b.f32364","name":"Set Modules","info":"","x":730,"y":520,"wires":[]},{"id":"6b29ff98.c2dac","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/modules","x":1420,"y":580,"wires":[]},{"id":"2a2fcdb2.0edcd2","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"[{\"Name\":\"Go to Dynamic Display\",\"Address\":\"display\"},{\"Name\":\"Go to First Aid Display\",\"Address\":\"firstaid.html\"},{\"Name\":\"Go to Daily Log\",\"Address\":\"log-daily\"},{\"Name\":\"Go to Full Log\",\"Address\":\"log-full\"},{\"Name\":\"Go to Export Menu\",\"Address\":\"export\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":580,"wires":[["6b29ff98.c2dac"]]},{"id":"7aa6b39d.f2722c","type":"http response","z":"60528a1b.f32364","name":"","statusCode":"","headers":{},"x":830,"y":760,"wires":[]},{"id":"95a0170a.fdab58","type":"template","z":"60528a1b.f32364","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\nSorry your not able to access this page\n</div>\n\n</body>\n\n</html>","output":"str","x":710,"y":760,"wires":[["7aa6b39d.f2722c"]]},{"id":"102ab00f.0b28b","type":"change","z":"60528a1b.f32364","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Unavaliable Module","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":760,"wires":[["6ec81c61.061cd4"]]},{"id":"6ec81c61.061cd4","type":"template","z":"60528a1b.f32364","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/display/receive');\nvar send = new WebSocket('ws://' + location.host + '/display/send');\nvar popup = new WebSocket('ws://' + location.host + '/display/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":590,"y":760,"wires":[["95a0170a.fdab58"]]},{"id":"f13a1f16.82872","type":"link in","z":"60528a1b.f32364","name":"Not Licenced","links":["34ba01df.30c98e","981f0079.8aed3","ae2f0aa6.b83788","c1934064.6743e","3ef1e38d.001f0c"],"x":375,"y":760,"wires":[["102ab00f.0b28b"]]},{"id":"34ba01df.30c98e","type":"link out","z":"1c96dbb1.1bc354","name":"Not Licenced","links":["f13a1f16.82872"],"x":435,"y":120,"wires":[]},{"id":"6ca3eb83.432e44","type":"comment","z":"60528a1b.f32364","name":"Unlicenced Module Webpage","info":"","x":480,"y":720,"wires":[]},{"id":"981f0079.8aed3","type":"link out","z":"b209c94d.26d798","name":"Not Licenced","links":["f13a1f16.82872"],"x":435,"y":120,"wires":[]},{"id":"ae2f0aa6.b83788","type":"link out","z":"b00e2d77.a9931","name":"Not Licenced","links":["f13a1f16.82872"],"x":395,"y":120,"wires":[]},{"id":"57140bc4.737114","type":"template","z":"b00e2d77.a9931","name":"Log Export","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` (`sender`, `status`, `content`, `statusTime`, `rxTime`) VALUES ('System', 'ExportUSB','Export All to USB', '{{timestamp}}', '{{timestamp}}');","output":"str","x":610,"y":520,"wires":[["aa2c8114.eb4a8"]]},{"id":"aa2c8114.eb4a8","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":770,"y":520,"wires":[["2a3fe792.b505c8"]]},{"id":"9ebb47d8.f65978","type":"change","z":"b00e2d77.a9931","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":520,"wires":[["57140bc4.737114"]]},{"id":"2a3fe792.b505c8","type":"template","z":"b00e2d77.a9931","name":"Export All","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n`index` AS 'Index',\n`sender` AS 'Call Point',\n`content` AS 'Message',\n`rxTime`,\n`status` AS 'Status',\n`statusTime`,\n`exported`,\n`pagerNumber` AS 'Recipient',\n`sysID` AS 'System ID'\nFROM `log`\nORDER BY  `rxTime` DESC;","output":"str","x":980,"y":480,"wires":[["f18406a.f7faef8"]]},{"id":"f18406a.f7faef8","type":"sqlite","z":"b00e2d77.a9931","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":1130,"y":480,"wires":[["390160a5.8ab92"]]},{"id":"390160a5.8ab92","type":"function","z":"b00e2d77.a9931","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \nvar rxtime = new Date(msg.payload[i].rxTime);\nvar statusTime = new Date(msg.payload[i].statusTime);\nvar exportedTime = new Date(msg.payload[i].exported);\n\nif (msg.payload[i].exported === null) {\n    msg.payload[i].ExportedTime = \"n/a\"\n} else {\nmsg.payload[i].ExportedTime = exportedTime\n}\n\nmsg.payload[i].StatusTime = statusTime\nmsg.payload[i].ReceivedTime = rxtime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":480,"wires":[["ae68ab8d.892138"]]},{"id":"ae68ab8d.892138","type":"csv","z":"b00e2d77.a9931","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"Index, Call Point, Message, ReceivedTime, Status, StatusTime, ExportedTime, Recipient, System ID","skip":"0","x":1490,"y":480,"wires":[["37d0780.6d43088"]]},{"id":"6718e06d.1a7ba","type":"file","z":"b00e2d77.a9931","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1750,"y":480,"wires":[["8733b6b6.ceecc8","5976af7.cc2d25"]]},{"id":"37d0780.6d43088","type":"template","z":"b00e2d77.a9931","name":"","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/media/usb0/log/{{timestamp}}.csv","output":"str","x":1620,"y":480,"wires":[["6718e06d.1a7ba"]]},{"id":"df0dd902.e39c78","type":"catch","z":"b00e2d77.a9931","name":"","scope":["6718e06d.1a7ba"],"x":1750,"y":440,"wires":[["5c219c0f.48fa14","b5112973.1619b8"]]},{"id":"bc5cc87f.5767a8","type":"websocket out","z":"b00e2d77.a9931","name":"Show Alert for File Error","server":"18f900b5.35f87f","client":"","x":2150,"y":460,"wires":[]},{"id":"5c219c0f.48fa14","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error exporting to USB, Please check USB Stick is inserted","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":440,"wires":[["bc5cc87f.5767a8","88debd97.7e53e"]]},{"id":"8733b6b6.ceecc8","type":"change","z":"b00e2d77.a9931","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Export Complete","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":480,"wires":[["bc5cc87f.5767a8","88debd97.7e53e"]]},{"id":"5976af7.cc2d25","type":"debug","z":"b00e2d77.a9931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1890,"y":520,"wires":[]},{"id":"b5112973.1619b8","type":"debug","z":"b00e2d77.a9931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1890,"y":400,"wires":[]},{"id":"88debd97.7e53e","type":"debug","z":"b00e2d77.a9931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2130,"y":540,"wires":[]},{"id":"18ef9926.ad6897","type":"comment","z":"3b51b3fa.8136dc","name":"Receive Page WiTOPTech","info":"","x":150,"y":60,"wires":[]},{"id":"b87ce58f.a17ea8","type":"comment","z":"85d51a2d.db2228","name":"Receive Page SDR","info":"","x":130,"y":20,"wires":[]},{"id":"7997db1e.abf2d4","type":"debug","z":"b00e2d77.a9931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":600,"wires":[]},{"id":"9fd61880.516a68","type":"comment","z":"23c43518.b3ff0a","name":"Put Unprocessed On the Webpage","info":"","x":180,"y":160,"wires":[]},{"id":"409c8cb4.786734","type":"http in","z":"23c43518.b3ff0a","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["5e777687.bf0378"]]},{"id":"ebcd4c65.6046a","type":"template","z":"23c43518.b3ff0a","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT `index`, `pagerNumber`, `sysID`, `content`, `msgPart1`, `msgPart2`, `sender`, `rxTime`, `status`, `FP`\nFROM `log`\nWHERE  `status` = 'Active' OR `status` = 'Late'\nORDER BY  `rxTime` DESC ","output":"str","x":290,"y":200,"wires":[["66291f5f.af93b"]]},{"id":"6264593.4e61aa8","type":"websocket out","z":"23c43518.b3ff0a","name":"","server":"d9d1357a.d4f118","client":"","x":1340,"y":200,"wires":[]},{"id":"dca11650.a5a9e8","type":"comment","z":"23c43518.b3ff0a","name":"Build Webpage","info":"","x":120,"y":20,"wires":[]},{"id":"66291f5f.af93b","type":"sqlite","z":"23c43518.b3ff0a","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":470,"y":200,"wires":[["16a49dc6.39c7b2"]]},{"id":"75cd0257.5b5c8c","type":"template","z":"23c43518.b3ff0a","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div class=\"nested\">\n        <div class=\"bold\">Index</div>\n        <div class=\"bold\">Location</div>\n        <div class=\"bold\">Message</div>\n        <div class=\"bold\">Time</div>\n        <div class=\"bold\">Date</div>\n        <div class=\"bold\">Elapsed</div>\n      </div>\n      \n{{#payload}}\n  <div class=\"nested {{style}}\" onclick= send.send('{{index}}')>\n        <div>{{{index}}}</div>\n        <div>{{{msgPart2}}} {{sender}}</div>\n        <div>{{{msgPart1}}}</div>\n        <div>{{{displayTime}}}</div>\n        <div>{{{displayDate}}}</div>\n        <div>{{{elapsed}}}</div>\n      </div>\n{{/payload}}","output":"str","x":1150,"y":200,"wires":[["6264593.4e61aa8"]]},{"id":"5ea79923.89c6a8","type":"function","z":"23c43518.b3ff0a","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = new Date(msg.payload[i].rxTime);\n                var displayDate = rxtime.toLocaleDateString();\n                var displayTime = rxtime.toLocaleTimeString();\n                \n                msg.payload[i].displayDate = displayDate\n                msg.payload[i].displayTime = displayTime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["ce83b6ba.b91948"]]},{"id":"ce83b6ba.b91948","type":"function","z":"23c43518.b3ff0a","name":"Time elapsed","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = msg.payload[i].rxTime;\n   var now = Date.now();\n   \nvar elapsedTS = now -rxtime;\nvar elapsedS = parseInt(elapsedTS / 1000);\n\nvar date = new Date(null);  \ndate.setSeconds(elapsedS); // specify value for SECONDS here\nvar elapsed = date.toISOString().substr(11, 8);        \n\nmsg.payload[i].elapsed = elapsed\n\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["75cd0257.5b5c8c"]]},{"id":"5c4d6c4d.b2cf34","type":"inject","z":"23c43518.b3ff0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["ebcd4c65.6046a"]]},{"id":"6cdc803d.e7a58","type":"http in","z":"23c43518.b3ff0a","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["5e777687.bf0378"]]},{"id":"c0f55161.eb2e9","type":"websocket in","z":"23c43518.b3ff0a","name":"","server":"95962f80.19ef3","client":"","x":120,"y":300,"wires":[["d47e3460.18a298"]]},{"id":"e4b4571a.fa0ca8","type":"comment","z":"23c43518.b3ff0a","name":"Hide Message on Click","info":"","x":140,"y":260,"wires":[]},{"id":"3dc80a3a.37f5b6","type":"template","z":"23c43518.b3ff0a","name":"Update Active to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Manually Removed', statusTime = '{{timestamp}}' WHERE `index` = {{payload}};","output":"str","x":590,"y":300,"wires":[["81d2af9c.b2af1"]]},{"id":"81d2af9c.b2af1","type":"sqlite","z":"23c43518.b3ff0a","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":790,"y":300,"wires":[["28ec47d.cd906b8"]]},{"id":"28ec47d.cd906b8","type":"link out","z":"23c43518.b3ff0a","name":"","links":["13c2aaaa.74d295","f8b2c7bc.b77368","ed29f70d.9b66f8","f72ff61b.e8d618","9f5ece3e.bbcec"],"x":895,"y":300,"wires":[]},{"id":"bde9417c.ae3fa","type":"change","z":"23c43518.b3ff0a","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["3dc80a3a.37f5b6"]]},{"id":"47f470.6d282b9","type":"http response","z":"23c43518.b3ff0a","name":"","statusCode":"","headers":{},"x":630,"y":100,"wires":[]},{"id":"9b9c90b8.58988","type":"template","z":"23c43518.b3ff0a","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n<LINK href=\"style.css\" rel=\"stylesheet\" type=\"text/css\">\n\n</head>\n\n<body onload=\"startTime()\">\n    \n<audio id=\"beep\" src=\"sounds/beepbeep.ogg\" type=\"audio/ogg\"></audio>\n\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n\n\n</body>\n\n</html>","output":"str","x":510,"y":100,"wires":[["47f470.6d282b9"]]},{"id":"5e777687.bf0378","type":"change","z":"23c43518.b3ff0a","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Dynamic Display","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["1514a53b.f70ccb"]]},{"id":"d47e3460.18a298","type":"switch","z":"23c43518.b3ff0a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"9999","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["bde9417c.ae3fa"]]},{"id":"1514a53b.f70ccb","type":"template","z":"23c43518.b3ff0a","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/display/receive');\nvar send = new WebSocket('ws://' + location.host + '/display/send');\nvar popup = new WebSocket('ws://' + location.host + '/display/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n  \n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n//Play Sound\nsend.onmessage = function(d) {\nvar audio = document.getElementById(\"beep\"); \n  audio.play()\n};\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}\n","output":"str","x":390,"y":100,"wires":[["9b9c90b8.58988"]]},{"id":"68624f2b.9b81f","type":"link in","z":"23c43518.b3ff0a","name":"Received Page","links":["c94a9d48.9c2c"],"x":55,"y":400,"wires":[["99982c5b.ae2dc"]]},{"id":"99982c5b.ae2dc","type":"websocket out","z":"23c43518.b3ff0a","name":"","server":"95962f80.19ef3","client":"","x":190,"y":400,"wires":[]},{"id":"8d8b9333.5f42e","type":"comment","z":"23c43518.b3ff0a","name":"Play Sound on Message","info":"","x":150,"y":360,"wires":[]},{"id":"6166ccee.a7a074","type":"file in","z":"85d51a2d.db2228","name":"","filename":"/var/www/pager/received.txt","format":"utf8","chunk":false,"sendError":false,"x":280,"y":60,"wires":[["7135ce58.df4ed","db876576.365048"]]},{"id":"7135ce58.df4ed","type":"split","z":"85d51a2d.db2228","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":60,"wires":[["b18c7c2.49bbc8"]]},{"id":"b18c7c2.49bbc8","type":"switch","z":"85d51a2d.db2228","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Alpha","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":60,"wires":[["ea4e9b5b.1385a8","a824ad1c.7ee63"]]},{"id":"db876576.365048","type":"change","z":"85d51a2d.db2228","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":120,"wires":[["ec37a628.716678"]]},{"id":"ec37a628.716678","type":"file","z":"85d51a2d.db2228","name":"","filename":"/var/www/pager/received.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":720,"y":120,"wires":[[]]},{"id":"6d186ac0.e7f904","type":"inject","z":"85d51a2d.db2228","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["6166ccee.a7a074"]]},{"id":"1c485e4b.a63e92","type":"subflow:76a9f5f0.1cf2dc","z":"e3cbac21.52804","name":"","x":230,"y":160,"wires":[["bb983eee.bde5b","9cbd7c1b.b666f"]]},{"id":"ea0ecadf.2504f8","type":"comment","z":"e3cbac21.52804","name":"Receive Page","info":"","x":150,"y":120,"wires":[]},{"id":"4c566771.e36038","type":"template","z":"e3cbac21.52804","name":"Add Msg to DB","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` ('capcode', 'pagerNumber', 'sysID', 'group', 'content', 'msgPart1', 'msgPart2', 'sender', 'rxTime', 'status', 'statusTime', 'FP', 'payload') VALUES ('{{capcode}}', '{{pagerNumber}}', '{{sysID}}', '{{{group}}}', '{{content}}', '{{msgPart1}}', '{{msgPart2}}', '{{sender}}','{{timestamp}}', '{{Status}}', '{{timestamp}}', '{{{FP}}}', '{{payload}}');","output":"str","x":200,"y":320,"wires":[["76901721.920c58"]]},{"id":"c7eb5365.d6ebd","type":"link in","z":"e3cbac21.52804","name":"Received Page","links":["c94a9d48.9c2c"],"x":95,"y":320,"wires":[["4c566771.e36038"]]},{"id":"76901721.920c58","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":390,"y":320,"wires":[["bd94c0cf.ee355"]]},{"id":"bd94c0cf.ee355","type":"switch","z":"e3cbac21.52804","name":"","property":"Status","propertyType":"msg","rules":[{"t":"eq","v":"Attended","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":320,"wires":[["61c3188a.69cf28"],["5652483b.e30f08"]]},{"id":"acf8374d.224558","type":"serial in","z":"76a9f5f0.1cf2dc","name":"","serial":"2db6df1c.cd63b","x":110,"y":120,"wires":[["c225fa15.f34b38","b5533914.8b1f58"]]},{"id":"6862b344.2783ac","type":"function","z":"76a9f5f0.1cf2dc","name":"LRS Process Page","func":"//Input\nvar payload = msg.payload;\nvar shortened = payload.slice(6,payload.length -2) //Remove Serial Data from front of Message\nvar duplicate = msg.duplicate;\n//Get Capcode and Message\nvar capcode = shortened.substring(1,8);\nvar message = shortened.substring(9,payload.length);\n\n//Calculate Pager number and SysID\nvar cc = capcode.toString();\nvar pagerStr = cc.substring(cc.length - 5, cc.Length);\nvar pagercalc = parseInt(pagerStr);\nvar pagerNumber = pagercalc/8;\nvar sysID = ((capcode - pagercalc)-700000)/100000;\n\n//Check If Group Message\nif (message.includes(\"[\")) {\n    var group = message.substring(1,3);\n    var msgStart = message.indexOf(\"]\") + 1;\n} else { \n    var group = \"n/a\";\n    var msgStart = 0;\n}\n\n//Check If Contains Flash Pattern and Get Sender ID\nif (message.includes(\"%\")) {\n    var percentIndex = message.indexOf(\"%\"); //Find Index of %\n    var FP = message.substring(percentIndex + 3,message.length);\n    var sender = message.substring(percentIndex - 2, percentIndex);\n    var msgEnd = percentIndex -3;\n} else { \n    var FP = \"n/a\";\n    var sender = message.substring(message.length - 2, message.length);\n    var msgEnd = message.length - 2;\n}\n\n//Get Total Message\nvar content = message.substring(msgStart,msgEnd);\n\n//Split Message into Part 1 and Part 2\nvar Part = content.split(\"-\");\n\nvar msgPart1 = Part[0];\nvar msgPart2 = Part[1];\n\n//Set Status Message\n\nif (message.includes(\"Handled\")) {\n   var status = \"Attended\";\n} else if (message.includes(\"Late\")) {\n    var status = \"Late\";\n} else if (duplicate === true) {\n    var status = \"Duplicate\";\n}else {\n    var status = \"Active\";\n}\n\n//Outputs\nmsg.capcode = capcode;  //Capcode\nmsg.pagerNumber = pagerNumber; //Pager Number\nmsg.sysID = sysID; //System ID\nmsg.group = group; //Group Number\nmsg.content = content; //Whole Message\nmsg.msgPart1 = msgPart1 //Part One of Message\nmsg.msgPart2 = msgPart2 //Part Two of Message\nmsg.sender = sender; //Originating Button or Table\nmsg.timestamp = Date.now(); //Current Timestamp\nmsg.Status = status; //Status\nmsg.FP = FP; //Flash Pattern\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":100,"wires":[[]]},{"id":"362ce8e2.692a68","type":"comment","z":"76a9f5f0.1cf2dc","name":"Receive Page LRS","info":"","x":130,"y":80,"wires":[]},{"id":"c225fa15.f34b38","type":"switch","z":"76a9f5f0.1cf2dc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"prev"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":120,"wires":[["36078a36.43f4d6"],["27bb61c3.cc600e"]]},{"id":"27bb61c3.cc600e","type":"switch","z":"76a9f5f0.1cf2dc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Reset","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":140,"wires":[["6862b344.2783ac"],[]]},{"id":"590a7a2d.90e434","type":"delay","z":"76a9f5f0.1cf2dc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":160,"wires":[["badbbd1e.54555"]]},{"id":"badbbd1e.54555","type":"change","z":"76a9f5f0.1cf2dc","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"Reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["c225fa15.f34b38"]]},{"id":"36078a36.43f4d6","type":"change","z":"76a9f5f0.1cf2dc","name":"","rules":[{"t":"set","p":"duplicate","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":100,"wires":[["6862b344.2783ac"]]},{"id":"b5533914.8b1f58","type":"delay","z":"76a9f5f0.1cf2dc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":160,"wires":[["590a7a2d.90e434"]]},{"id":"4437d3de.ca8fdc","type":"function","z":"85d51a2d.db2228","name":"SDR Process Page","func":"//Input\nvar payload = msg.payload;\nvar shortened = payload.slice(22,payload.length -2) //Remove Serial Data from front of Message\nvar duplicate = msg.duplicate;\n\n//Get Capcode and Message\nvar capcode = shortened.substring(1,8);\nvar message = shortened.substring(27,payload.length);\n\n//Calculate Pager number and SysID\nvar cc = capcode.toString();\nvar pagerStr = cc.substring(cc.length - 5, cc.Length);\nvar pagercalc = parseInt(pagerStr);\nvar pagerNumber = pagercalc/8;\nvar sysID = ((capcode - pagercalc)-700000)/100000;\n\n//Check If Group Message\nif (message.includes(\"[\")) {\n    var group = message.substring(1,3);\n    var msgStart = message.indexOf(\"]\") + 1;\n} else { \n    var group = \"NULL\";\n    var msgStart = 0;\n}\n\n//Check If Contains Flash Pattern and Get Sender ID\nif (message.includes(\"%\")) {\n    var percentIndex = message.indexOf(\"%\"); //Find Index of %\n    var FP = message.substring(percentIndex,message.length);\n    var sender = message.substring(percentIndex - 2, percentIndex);\n    var msgEnd = percentIndex -3;\n} else { \n    var FP = \"NULL\";\n    var sender = message.substring(message.length - 2, message.length);\n    var msgEnd = message.length - 2;\n}\n\n//Get Total Message\nvar content = message.substring(msgStart,msgEnd);\n\n//Split Message into Part 1 and Part 2\nvar Part = content.split(\"-\");\n\nvar msgPart1 = Part[0];\nvar msgPart2 = Part[1];\n\n//Set Status Message\n\nif (message.includes(\"Handled\")) {\n   var status = \"Attended\";\n} else if (message.includes(\"Late\")) {\n    var status = \"Late\";\n} else if (duplicate === true) {\n    var status = \"Duplicate\";\n}else {\n    var status = \"Active\";\n}\n\n//Outputs\nmsg.capcode = capcode;  //Capcode\nmsg.pagerNumber = pagerNumber; //Pager Number\nmsg.sysID = sysID; //System ID\nmsg.group = group; //Group Number\nmsg.content = content; //Whole Message\nmsg.msgPart1 = msgPart1 //Part One of Message\nmsg.msgPart2 = msgPart2 //Part Two of Message\nmsg.sender = sender; //Originating Button or Table\nmsg.timestamp = Date.now(); //Current Timestamp\nmsg.Status = status; //Status\nmsg.FP = FP; //Flash Pattern\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":60,"wires":[["c069402f.1648"]]},{"id":"a824ad1c.7ee63","type":"switch","z":"85d51a2d.db2228","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"prev"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":60,"wires":[["d3ace321.da0a2"],["86f322ba.5684b"]]},{"id":"86f322ba.5684b","type":"switch","z":"85d51a2d.db2228","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Reset","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":80,"wires":[["4437d3de.ca8fdc"],[]]},{"id":"d4ae2e26.c386","type":"delay","z":"85d51a2d.db2228","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":80,"wires":[["b87018e8.c974d8"]]},{"id":"b87018e8.c974d8","type":"change","z":"85d51a2d.db2228","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"Reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":80,"wires":[["a824ad1c.7ee63"]]},{"id":"d3ace321.da0a2","type":"change","z":"85d51a2d.db2228","name":"","rules":[{"t":"set","p":"duplicate","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":40,"wires":[["4437d3de.ca8fdc"]]},{"id":"ea4e9b5b.1385a8","type":"delay","z":"85d51a2d.db2228","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":80,"wires":[["d4ae2e26.c386"]]},{"id":"c069402f.1648","type":"debug","z":"85d51a2d.db2228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1770,"y":120,"wires":[]},{"id":"aab2c1e6.9a895","type":"comment","z":"36884d4.675edb2","name":"Receive Page SDR","info":"","x":130,"y":140,"wires":[]},{"id":"c4b0932f.dcca6","type":"file in","z":"36884d4.675edb2","name":"","filename":"/var/www/pager/received.txt","format":"utf8","chunk":false,"sendError":false,"x":280,"y":180,"wires":[["7f2b7034.08f32","f1d91b6b.87dcb8"]]},{"id":"7f2b7034.08f32","type":"split","z":"36884d4.675edb2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":180,"wires":[["223ab33c.17fa7c"]]},{"id":"223ab33c.17fa7c","type":"switch","z":"36884d4.675edb2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Alpha","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":180,"wires":[["f14bfef2.a9f55","2cfd18cf.c216a8"]]},{"id":"f1d91b6b.87dcb8","type":"change","z":"36884d4.675edb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":240,"wires":[["2f5598c2.2c24d8"]]},{"id":"2f5598c2.2c24d8","type":"file","z":"36884d4.675edb2","name":"","filename":"/var/www/pager/received.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":720,"y":240,"wires":[[]]},{"id":"17dad8c4.baefe7","type":"inject","z":"36884d4.675edb2","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["c4b0932f.dcca6"]]},{"id":"ab560e90.c8863","type":"function","z":"36884d4.675edb2","name":"SDR Process Page","func":"//Input\nvar payload = msg.payload;\nvar shortened = payload.slice(21,payload.length - 4) //Remove Serial Data from front of Message\nvar duplicate = msg.duplicate;\n\n//Get Capcode and Message\nvar capcode = shortened.substring(1,7);\nvar message = shortened.substring(27,payload.length);\n\n//Calculate Pager number and SysID\nvar cc = \"0\" + capcode.toString();\nvar pagerStr = cc.substring(cc.length - 5, cc.Length);\nvar pagercalc = parseInt(pagerStr);\nvar pagerNumber = pagercalc/8;\nvar sysID = ((capcode - pagercalc)-700000)/100000;\n\n//Check If Group Message\nif (message.includes(\"\")) {\n    var group = message.substring(6,7);\n    var msgStart = message.indexOf(\"\") + 1;\n} else { \n    var group = \"NULL\";\n    var msgStart = 4;\n}\n\n//Check If Contains Flash Pattern and Get Sender ID\nif (message.includes(\"%\")) {\n    var percentIndex = message.indexOf(\"%\"); //Find Index of %\n    var FP = message.substring(percentIndex,message.length);\n    var sender = message.substring(percentIndex - 2, percentIndex);\n    var msgEnd = percentIndex -0;\n} else { \n    var FP = \"NULL\";\n    var sender = message.substring(message.length - 3, message.length - 1);\n    var msgEnd = message.length - 4;\n}\n\n//Get Total Message\nvar content = message.substring(msgStart,msgEnd);\n\n//Split Message into Part 1 and Part 2\nvar Part = content.split(\"-\");\n\nvar msgPart1 = Part[0];\nvar msgPart2 = Part[1];\n\n//Set Status Message\n\nif (message.includes(\"Handled\")) {\n   var status = \"Attended\";\n} else if (message.includes(\"Late\")) {\n    var status = \"Late\";\n} else if (duplicate === true) {\n    var status = \"Duplicate\";\n}else {\n    var status = \"Active\";\n}\n\n//Outputs\nmsg.capcode = capcode;  //Capcode\nmsg.pagerNumber = pagerNumber; //Pager Number\nmsg.sysID = sysID; //System ID\nmsg.group = group; //Group Number\nmsg.content = content; //Whole Message\nmsg.msgPart1 = msgPart1 //Part One of Message\nmsg.msgPart2 = msgPart2 //Part Two of Message\nmsg.sender = sender; //Originating Button or Table\nmsg.timestamp = Date.now(); //Current Timestamp\nmsg.Status = status; //Status\nmsg.FP = FP; //Flash Pattern\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":180,"wires":[["25c8e80a.da39b8"]]},{"id":"2cfd18cf.c216a8","type":"switch","z":"36884d4.675edb2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"prev"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":180,"wires":[["e8006be8.f4f268"],["90ca7da0.c3c54"]]},{"id":"90ca7da0.c3c54","type":"switch","z":"36884d4.675edb2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Reset","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":200,"wires":[["ab560e90.c8863"],[]]},{"id":"8bee0926.b0c1e8","type":"delay","z":"36884d4.675edb2","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":200,"wires":[["7b7c52f9.55555c"]]},{"id":"7b7c52f9.55555c","type":"change","z":"36884d4.675edb2","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"Reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":200,"wires":[["2cfd18cf.c216a8"]]},{"id":"e8006be8.f4f268","type":"change","z":"36884d4.675edb2","name":"","rules":[{"t":"set","p":"duplicate","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":160,"wires":[["ab560e90.c8863"]]},{"id":"f14bfef2.a9f55","type":"delay","z":"36884d4.675edb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":200,"wires":[["8bee0926.b0c1e8"]]},{"id":"25c8e80a.da39b8","type":"debug","z":"36884d4.675edb2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1770,"y":180,"wires":[]},{"id":"16a49dc6.39c7b2","type":"function","z":"23c43518.b3ff0a","name":"Set Style","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n    \n  if (msg.payload[i].FP != \"n/a\") {\n    msg.payload[i].style = msg.payload[i].FP\n} else {\n    msg.payload[i].style = \"\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["5ea79923.89c6a8"]]},{"id":"5065be0a.03bf6","type":"function","z":"1c96dbb1.1bc354","name":"Set Style","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n    \n  if (msg.payload[i].FP != \"n/a\") {\n    msg.payload[i].style = msg.payload[i].FP\n} else {\n    msg.payload[i].style = \"\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["575acb3d.97bd64"]]},{"id":"66e25ff4.67231","type":"serial in","z":"8975d597.b36778","name":"","serial":"77cb30dc.37046","x":170,"y":120,"wires":[["680721d2.03daa","5733e70f.efe338"]]},{"id":"5a25b024.45b2e","type":"debug","z":"8975d597.b36778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":120,"wires":[]},{"id":"734abd62.6c0054","type":"serial out","z":"dad6f0f1.28177","name":"","serial":"185c72ea.39ebed","x":390,"y":140,"wires":[]},{"id":"66a1cd6e.22e4e4","type":"inject","z":"dad6f0f1.28177","name":"Enable Dry Contact 0","topic":"","payload":"SINP,1,911,Door   ","payloadType":"string","repeat":"","crontab":"","once":false,"x":174,"y":108,"wires":[["734abd62.6c0054"]]},{"id":"8e4d5133.e1bf3","type":"inject","z":"dad6f0f1.28177","name":"Repeat Off","topic":"","payload":"RPTRX,0","payloadType":"str","repeat":"","crontab":"","once":false,"x":206,"y":75,"wires":[["734abd62.6c0054"]]},{"id":"39d79a16.339446","type":"inject","z":"dad6f0f1.28177","name":"Enable Receive","topic":"","payload":"INTFMODE,1","payloadType":"string","repeat":"","crontab":"","once":false,"x":192,"y":174,"wires":[["734abd62.6c0054"]]},{"id":"cbe825bf.1337a8","type":"inject","z":"dad6f0f1.28177","name":"Send Page","topic":"","payload":"CCPAGE,0707288,Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":207,"y":208,"wires":[["734abd62.6c0054"]]},{"id":"e34f4022.12139","type":"inject","z":"dad6f0f1.28177","name":"Enable Dry Contact 1","topic":"","payload":"SINP1,1,911,Door   ","payloadType":"string","repeat":"","crontab":"","once":false,"x":171,"y":141,"wires":[["734abd62.6c0054"]]},{"id":"680721d2.03daa","type":"function","z":"8975d597.b36778","name":"","func":"var payload = msg.payload\nvar message = payload.toString('utf-8');\n\nvar address = message.substring(message.indexOf(\"A\") + 1,message.indexOf(\"d\"));\nvar page = message.substring(message.indexOf(\"d\") + 1,message.length - 2);\n\nvar page = page.toString('utf-8');\n\n\nmsg.page = page\nmsg.capcode = address\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["5a25b024.45b2e"]]},{"id":"5733e70f.efe338","type":"debug","z":"8975d597.b36778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":160,"wires":[]},{"id":"4af56cf0.745794","type":"DataOut","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","path":"/sysID","error":false,"x":410,"y":200,"wires":[["a4a4aa8b.4ca648"]]},{"id":"a618b6bf.279508","type":"DataIn","z":"60528a1b.f32364","collection":"e1c85b2c.abed18","name":"","update":false,"path":"/sysID","x":1410,"y":540,"wires":[]},{"id":"37f757d5.42d948","type":"inject","z":"60528a1b.f32364","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":540,"wires":[["a618b6bf.279508"]]},{"id":"9cbd7c1b.b666f","type":"switch","z":"e3cbac21.52804","name":"","property":"content","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":180,"wires":[["c94a9d48.9c2c"]]},{"id":"37e179b9.9b9f86","type":"comment","z":"b8bd1cc3.4827","name":"Put Unprocessed On the Webpage","info":"","x":200,"y":140,"wires":[]},{"id":"f1c61ac.2a61be8","type":"template","z":"b8bd1cc3.4827","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT `index`, `pagerNumber`, `sysID`, `content`, `msgPart1`, `msgPart2`, `sender`, `rxTime`, `status`, `FP`, `rxTime`\nFROM `log`\nWHERE  `status` = 'Active' OR `status` = 'Late'\nORDER BY  `rxTime` DESC \nLIMIT 5;","output":"str","x":210,"y":180,"wires":[["f1a5e48e.f2da48"]]},{"id":"daef15a.4ef89e8","type":"websocket out","z":"b8bd1cc3.4827","name":"","server":"4d6db4a9.f35a1c","client":"","x":870,"y":180,"wires":[]},{"id":"f1a5e48e.f2da48","type":"sqlite","z":"b8bd1cc3.4827","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":390,"y":180,"wires":[["c1b56b46.0f7818"]]},{"id":"8be4aba0.feaed8","type":"template","z":"b8bd1cc3.4827","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n\n  <div class=\"tableDisplay {{style}}\" >\n     {{{msgPart1}}}\n     <BR>\n     {{{msgPart2}}}\n     <BR>\n     <script>\nconsole.log(\"here\")\n    var time = Date.now()\n    var rxTime = {{timestamp}};\n\n    var pagetime = Date.parse(rxTime);\n    var td = time - pagetime;\n    var days = Math.floor(td / (1000 * 60 * 60 * 24));\n    var hours = Math.floor((td % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n    var minutes = Math.floor((td % (1000 * 60 * 60)) / (1000 * 60));\n    var minutesT = Math.floor((td / 1000) / 60);\n    var seconds = Math.floor((td % (1000 * 60)) / 1000);\n   \n    if (minutes < 10) {\n        minutes = \"0\" + minutes;\n        }\n  \n    if (seconds < 10) {\n        seconds = \"0\" + seconds;\n        }\n    var difference = days + \":\" + hours + \":\" + minutes + \":\" + seconds;\n\n   // document.getElementById(\"{{index}}\").innerHTML = difference;\n    console.log(difference);\n</script>\n   </div>\n{{/payload}}","output":"str","x":690,"y":180,"wires":[["daef15a.4ef89e8"]]},{"id":"3eca0fc8.c120d","type":"websocket in","z":"b8bd1cc3.4827","name":"","server":"c2e44b88.6a4e78","client":"","x":140,"y":340,"wires":[["c5eb9330.50819"]]},{"id":"1f847469.688d7c","type":"comment","z":"b8bd1cc3.4827","name":"Hide Message on Click","info":"","x":160,"y":300,"wires":[]},{"id":"cd533235.40194","type":"template","z":"b8bd1cc3.4827","name":"Update Active to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Manually Removed', statusTime = '{{timestamp}}' WHERE `index` = {{payload}};","output":"str","x":610,"y":320,"wires":[["3e54b72d.158e18"]]},{"id":"3e54b72d.158e18","type":"sqlite","z":"b8bd1cc3.4827","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":810,"y":320,"wires":[["18e72d9f.360682"]]},{"id":"18e72d9f.360682","type":"link out","z":"b8bd1cc3.4827","name":"","links":["13c2aaaa.74d295","8452a925.e651d8","f72ff61b.e8d618","f8b2c7bc.b77368"],"x":915,"y":320,"wires":[]},{"id":"a760c9de.c3c958","type":"change","z":"b8bd1cc3.4827","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["cd533235.40194"]]},{"id":"c5eb9330.50819","type":"switch","z":"b8bd1cc3.4827","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"9999","v2t":"num"},{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":340,"wires":[["a760c9de.c3c958"],["91921094.a8632"]]},{"id":"8452a925.e651d8","type":"link in","z":"b8bd1cc3.4827","name":"Received Page","links":["c94a9d48.9c2c","91921094.a8632","18e72d9f.360682"],"x":75,"y":180,"wires":[["f1c61ac.2a61be8"]]},{"id":"c1b56b46.0f7818","type":"function","z":"b8bd1cc3.4827","name":"Set Style","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n    \n  if (msg.payload[i].FP != \"n/a\") {\n    msg.payload[i].style = msg.payload[i].FP\n} else {\n    msg.payload[i].style = \"\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["8be4aba0.feaed8","493d2830.bc4568"]]},{"id":"354156ac.88df4a","type":"change","z":"60528a1b.f32364","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ip","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["38013852.8f7b18"]]},{"id":"91921094.a8632","type":"link out","z":"b8bd1cc3.4827","name":"","links":["8452a925.e651d8"],"x":375,"y":360,"wires":[]},{"id":"6d21559e.0372fc","type":"http in","z":"b8bd1cc3.4827","name":"","url":"/firstaid","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["4d7773b3.0108ec"]]},{"id":"8e112c9a.4a00a","type":"comment","z":"b8bd1cc3.4827","name":"Build Webpage","info":"","x":140,"y":20,"wires":[]},{"id":"23c32a03.41b276","type":"http response","z":"b8bd1cc3.4827","name":"","statusCode":"","headers":{},"x":650,"y":100,"wires":[]},{"id":"598c3baa.7efd84","type":"template","z":"b8bd1cc3.4827","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n    <title>{{title}}</title>\n    \n    <script src=\"moment.js\"></script>\n    <script>\n     var receive = new WebSocket('ws://' + location.host + '/table/receive');\n      var send = new WebSocket('ws://' + location.host + '/table/send');\n      //var popup = new WebSocket('ws://' + location.host + '/table/alert');\n    </script>\n    \n    <script src=\"script.js\"></script>\n\n    <LINK href=\"style.css\" rel=\"stylesheet\" type=\"text/css\">\n\n</head>\n\n<body onload=\"startTime()\">\n\n    <audio id=\"beep\" src=\"sounds/beepbeep.ogg\" type=\"audio/ogg\"></audio>\n\n\n    <div class=\"heading\">\n\n        <div class=\"left\">\n            {{{global.left}}}\n        </div>\n\n        <div class=\"middle\">\n            <h1 id=\"title\">{{title}}</h1>\n        </div>\n\n        <div class=\"right\">\n            <div class=\"clock\" id=\"time\"></div>\n        </div>\n\n    </div>\n\n    <div class=\"wrapper2\" id=\"data\">\n    </div>\n\n</body>\n\n</html>","output":"str","x":530,"y":100,"wires":[["23c32a03.41b276"]]},{"id":"4d7773b3.0108ec","type":"change","z":"b8bd1cc3.4827","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Dynamic Display","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":100,"wires":[["598c3baa.7efd84"]]},{"id":"33ff1e8e.291482","type":"function","z":"ca9def01.26ba2","name":"Payload to Page","func":"var message = msg.payload;\nvar sendmessage = message; //.replace(/\\n/g, \" \");\nvar capcode = msg.capcode;\nvar address = 0707288;//capcode;\nvar page = \"CCPAGE,\"+ address + \",\"+ sendmessage + \"\\n\";\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["2dd9fe99.b05ae2","8d0ad831.2c6d48","1302589a.0ed467"]]},{"id":"2dd9fe99.b05ae2","type":"debug","z":"ca9def01.26ba2","name":"Page Sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":180,"wires":[]},{"id":"7b760cf6.6127c4","type":"comment","z":"ca9def01.26ba2","name":"Send Page","info":"","x":140,"y":40,"wires":[]},{"id":"d51608e.09159f8","type":"switch","z":"ca9def01.26ba2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"cont","v":"undefined","vt":"str"},{"t":"cont","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":160,"wires":[["38ff2879.47e0b8"],["38ff2879.47e0b8"],["38ff2879.47e0b8"]]},{"id":"38ff2879.47e0b8","type":"change","z":"ca9def01.26ba2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please Enter a Message to Send","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["f13e64e1.363ed8"]]},{"id":"d19364d9.208968","type":"switch","z":"ca9def01.26ba2","name":"","property":"capcode","propertyType":"msg","rules":[{"t":"null"},{"t":"cont","v":"undefined","vt":"str"},{"t":"cont","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":100,"wires":[["ebe0115.f169ff"],["ebe0115.f169ff"],["ebe0115.f169ff"]]},{"id":"ebe0115.f169ff","type":"change","z":"ca9def01.26ba2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please Select a User to Send a Page to","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["f13e64e1.363ed8"]]},{"id":"f13e64e1.363ed8","type":"delay","z":"ca9def01.26ba2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":120,"wires":[[]]},{"id":"fb44d9db.726018","type":"change","z":"ca9def01.26ba2","name":"","rules":[{"t":"set","p":"justSent","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":40,"wires":[[]]},{"id":"8d0ad831.2c6d48","type":"serial out","z":"ca9def01.26ba2","name":"","serial":"5d6eb2f4.fc698c","x":580,"y":220,"wires":[]},{"id":"1302589a.0ed467","type":"serial out","z":"ca9def01.26ba2","name":"","serial":"741a68b.a601698","x":590,"y":260,"wires":[]},{"id":"4c251e8b.6402c","type":"inject","z":"ca9def01.26ba2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":220,"wires":[["33ff1e8e.291482"]]},{"id":"f847362b.2d5468","type":"link in","z":"58e39b1f.42a9c4","name":"","links":["50df4d3.a9d01b4","5b31404b.a49a6","7cb8be14.5b4ee","b3e89d25.5f622","eaf01947.c3a468","50e44332.c7667c","727d0fd5.8aa86","3c085afc.25d6b6","5d77b0d1.9a9"],"x":135,"y":200,"wires":[["8531dd46.25bdd"]]},{"id":"e97860f9.5abce","type":"comment","z":"58e39b1f.42a9c4","name":"Put Unprocessed On the Webpage","info":"","x":160,"y":160,"wires":[]},{"id":"f321a5e1.c41f98","type":"http response","z":"58e39b1f.42a9c4","name":"","statusCode":"","headers":{},"x":570,"y":100,"wires":[]},{"id":"12b81039.ecc8","type":"http in","z":"58e39b1f.42a9c4","name":"","url":"/display2","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["17231b0d.c71625"]]},{"id":"eb42e566.e87668","type":"websocket out","z":"58e39b1f.42a9c4","name":"","server":"a6d68c0c.38415","client":"","x":930,"y":240,"wires":[]},{"id":"311f93e6.b08f2c","type":"comment","z":"58e39b1f.42a9c4","name":"Build Webpage","info":"","x":100,"y":60,"wires":[]},{"id":"eaf01947.c3a468","type":"link out","z":"58e39b1f.42a9c4","name":"","links":["f847362b.2d5468","e9a02996.2dcce8"],"x":535,"y":60,"wires":[]},{"id":"ec22a2fd.67c04","type":"template","z":"58e39b1f.42a9c4","name":"Webpage Websocket","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <script>\n        var connection = new WebSocket('ws://' + location.host + '/ws/data');\n        //var connection = new WebSocket('ws://10.1.1.29:1880/ws/data');\n        //var sender = new WebSocket('ws://10.1.1.29:1880/ws/sender');\n        var sender = new WebSocket('ws://' + location.host + '/ws/sender');\n        var msg = 0; // Make Incoming WS Global\n\n        // When the connection is open, send some data to the server\n        connection.onopen = function() {\n            console.log('WebSocket Open');\n            connection.send('Open')\n        };\n        connection.onclose = function() {\n            console.log('WebSocket Closed');\n        };\n        // Log errors\n        connection.onerror = function(error) {\n            console.log('WebSocket Error ' + error);\n        };\n        // Log messages from the server\n        connection.onmessage = function(d) {\n            var txt = d.data;\n            msg = JSON.parse(txt);\n            console.log(msg)\n        };\n     \n     function startTime() {\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('txt').innerHTML =\n    h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n}\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i};  // add zero in front of numbers < 10\n    return i;\n}\n     \n        var myVar = setInterval(Timer, 1000);\n\n        function Timer() {\n            \n               var title = msg.title;\n         document.getElementById(\"title\").innerHTML = title;\n         \n            var time = Date.now();\n\n            if (msg.payload[0] == null) {\n                document.getElementById(\"0\").className = \"hidden\";\n            } else {\n                document.getElementById(\"0\").className = \"grid-item\";\n                var color0 = msg.payload[0].color;\n                var index0 = msg.payload[0].index;\n                var loc0 = msg.payload[0].loc;\n                var message0 = msg.payload[0].full;\n                var sent0 = msg.payload[0].sent;\n\n                var page0time = Date.parse(sent0);\n                var td0 = time - page0time;\n                var days0 = Math.floor(td0 / (1000 * 60 * 60 * 24));\n                var hours0 = Math.floor((td0 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes0 = Math.floor((td0 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT0 = Math.floor((td0 / 1000) / 60);\n                var seconds0 = Math.floor((td0 % (1000 * 60)) / 1000);\n                var warning0 = \"\";\n                if (minutes0 < 10) {\n                    minutes0 = \"0\" + minutes0;\n                }\n                if (minutesT0 >= msg.OTT) {\n                    warning0 = \"flash\";\n                } else if (minutesT0 < msg.OTT) {\n                    warning0 = \"name\";\n                } else {\n                    warning0 = \"hidden\";\n                }\n                if (seconds0 < 10) {\n                    seconds0 = \"0\" + seconds0;\n                }\n                var difference0 = hours0 + \":\" + minutes0 + \":\" + seconds0;\n\n                document.getElementById(\"0\").innerHTML = '<button class=' + warning0 + ' style=\"background-color:' + color0 + '\" onclick=\"sender.send(' + index0 + ')\"> ' + message0 + ' <br> ' + difference0 + ' </button>';\n            }\n\n\n\n\n\n            if (msg.payload[1] == null) {\n                document.getElementById(\"1\").className = \"hidden\";\n            } else {\n                document.getElementById(\"1\").className = \"grid-item\";\n                var color1 = msg.payload[1].color;\n                var index1 = msg.payload[1].index;\n                var loc1 = msg.payload[1].loc;\n                var message1 = msg.payload[1].full;\n                var sent1 = msg.payload[1].sent;\n\n                var page1time = Date.parse(sent1);\n                var td1 = time - page1time;\n                var days1 = Math.floor(td1 / (1000 * 60 * 60 * 24));\n                var hours1 = Math.floor((td1 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes1 = Math.floor((td1 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT1 = Math.floor((td1 / 1000) / 60);\n                var seconds1 = Math.floor((td1 % (1000 * 60)) / 1000);\n                var warning1 = \"\";\n                if (minutes1 < 10) {\n                    minutes1 = \"0\" + minutes1;\n                }\n                if (minutesT1 >= msg.OTT) {\n                    warning1 = \"flash\";\n                } else if (minutesT1 < msg.OTT) {\n                    warning1 = \"name\";\n                } else {\n                    warning1 = \"hidden\";\n                }\n                if (seconds1 < 10) {\n                    seconds1 = \"0\" + seconds1;\n                }\n                var difference1 = hours1 + \":\" + minutes1 + \":\" + seconds1;\n\n                document.getElementById(\"1\").innerHTML = '<button class=' + warning1 + ' style=\"background-color:' + color1 + '\" onclick=\"sender.send(' + index1 + ')\"> ' + message1 + ' <br> ' + difference1 + ' </button>';\n            }\n\n\n            if (msg.payload[2] == null) {\n                document.getElementById(\"2\").className = \"hidden\";\n            } else {\n                document.getElementById(\"2\").className = \"grid-item\";\n                var color2 = msg.payload[2].color;\n                var index2 = msg.payload[2].index;\n                var loc2 = msg.payload[2].loc;\n                var message2 = msg.payload[2].full;\n                var sent2 = msg.payload[2].sent;\n\n                var page2time = Date.parse(sent2);\n                var td2 = time - page2time;\n                var days2 = Math.floor(td2 / (1000 * 60 * 60 * 24));\n                var hours2 = Math.floor((td2 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes2 = Math.floor((td2 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT2 = Math.floor((td2 / 1000) / 60);\n                var seconds2 = Math.floor((td2 % (1000 * 60)) / 1000);\n                var warning2 = \"\";\n                if (minutes2 < 10) {\n                    minutes2 = \"0\" + minutes2;\n                }\n                if (minutesT2 >= msg.OTT) {\n                    warning2 = \"flash\";\n                } else if (minutesT2 < msg.OTT) {\n                    warning2 = \"name\";\n                } else {\n                    warning2 = \"hidden\";\n                }\n                if (seconds2 < 10) {\n                    seconds2 = \"0\" + seconds2;\n                }\n                var difference2 = hours2 + \":\" + minutes2 + \":\" + seconds2;\n\n                document.getElementById(\"2\").innerHTML = '<button class=' + warning2 + ' style=\"background-color:' + color2 + '\" onclick=\"sender.send(' + index2 + ')\"> ' + message2 + ' <br> ' + difference2 + ' </button>';\n            }\n/*\n            if (msg.payload[3] == null) {\n                document.getElementById(\"3\").className = \"hidden\";\n            } else {\n                document.getElementById(\"3\").className = \"name\";\n                var color3 = msg.payload[3].color;\n                var index3 = msg.payload[3].index;\n                var loc3 = msg.payload[3].loc;\n                var message3 = msg.payload[3].message;\n                var sent3 = msg.payload[3].sent;\n\n                var page3time = Date.parse(sent3);\n                var td3 = time - page3time;\n                var days3 = Math.floor(td3 / (1000 * 60 * 60 * 24));\n                var hours3 = Math.floor((td3 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes3 = Math.floor((td3 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT3 = Math.floor((td3 / 1000) / 60);\n                var seconds3 = Math.floor((td3 % (1000 * 60)) / 1000);\n                var warning3 = \"\";\n                if (minutes3 < 10) {\n                    minutes3 = \"0\" + minutes3;\n                }\n                if (minutesT3 >= msg.OTT) {\n                    warning3 = \"flash\";\n                } else if (minutesT3 < msg.OTT) {\n                    warning3 = \"name\";\n                } else {\n                    warning3 = \"hidden\";\n                }\n                if (seconds3 < 10) {\n                    seconds3 = \"0\" + seconds3;\n                }\n                var difference3 = hours3 + \":\" + minutes3 + \":\" + seconds3;\n\n                document.getElementById(\"3\").innerHTML = '<button class=' + warning3 + ' style=\"background-color:' + color3 + '\" onclick=\"sender.send(' + index3 + ')\"> ' + loc3 + ' <br> ' + message3 + ' <br> ' + difference3 + ' </button>';\n            }\n\n\n            if (msg.payload[4] == null) {\n                document.getElementById(\"4\").className = \"hidden\";\n            } else {\n                document.getElementById(\"4\").className = \"name\";\n                var color4 = msg.payload[4].color;\n                var index4 = msg.payload[4].index;\n                var loc4 = msg.payload[4].loc;\n                var message4 = msg.payload[4].message;\n                var sent4 = msg.payload[4].sent;\n\n                var page4time = Date.parse(sent4);\n                var td4 = time - page4time;\n                var days4 = Math.floor(td4 / (1000 * 60 * 60 * 24));\n                var hours4 = Math.floor((td4 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes4 = Math.floor((td4 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT4 = Math.floor((td4 / 1000) / 60);\n                var seconds4 = Math.floor((td4 % (1000 * 60)) / 1000);\n                var warning4 = \"\";\n                if (minutes4 < 10) {\n                    minutes4 = \"0\" + minutes4;\n                }\n                if (minutesT4 >= msg.OTT) {\n                    warning4 = \"flash\";\n                } else if (minutesT4 < msg.OTT) {\n                    warning4 = \"name\";\n                } else {\n                    warning4 = \"hidden\";\n                }\n                if (seconds4 < 10) {\n                    seconds4 = \"0\" + seconds4;\n                }\n                var difference4 = hours4 + \":\" + minutes4 + \":\" + seconds4;\n\n                document.getElementById(\"4\").innerHTML = '<button class=' + warning4 + ' style=\"background-color:' + color4 + '\" onclick=\"sender.send(' + index4 + ')\"> ' + loc4 + ' <br> ' + message4 + ' <br> ' + difference4 + ' </button>';\n            }\n\n\n            if (msg.payload[5] == null) {\n                document.getElementById(\"5\").className = \"hidden\";\n            } else {\n                document.getElementById(\"5\").className = \"name\";\n                var color5 = msg.payload[5].color;\n                var index5 = msg.payload[5].index;\n                var loc5 = msg.payload[5].loc;\n                var message5 = msg.payload[5].message;\n                var sent5 = msg.payload[5].sent;\n\n                var page5time = Date.parse(sent5);\n                var td5 = time - page5time;\n                var days5 = Math.floor(td5 / (1000 * 60 * 60 * 24));\n                var hours5 = Math.floor((td5 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes5 = Math.floor((td5 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT5 = Math.floor((td5 / 1000) / 60);\n                var seconds5 = Math.floor((td5 % (1000 * 60)) / 1000);\n                var warning5 = \"\";\n                if (minutes5 < 10) {\n                    minutes5 = \"0\" + minutes5;\n                }\n                if (minutesT5 >= msg.OTT) {\n                    warning5 = \"flash\";\n                } else if (minutesT5 < msg.OTT) {\n                    warning5 = \"name\";\n                } else {\n                    warning5 = \"hidden\";\n                }\n                if (seconds5 < 10) {\n                    seconds5 = \"0\" + seconds5;\n                }\n                var difference5 = hours5 + \":\" + minutes5 + \":\" + seconds5;\n\n                document.getElementById(\"5\").innerHTML = '<button class=' + warning5 + ' style=\"background-color:' + color5 + '\" onclick=\"sender.send(' + index5 + ')\"> ' + loc5 + ' <br> ' + message5 + ' <br> ' + difference5 + ' </button>';\n            }\n\n\n\n            if (msg.payload[6] == null) {\n                document.getElementById(\"6\").className = \"hidden\";\n            } else {\n                document.getElementById(\"6\").className = \"name\";\n                var color6 = msg.payload[6].color;\n                var index6 = msg.payload[6].index;\n                var loc6 = msg.payload[6].loc;\n                var message6 = msg.payload[6].message;\n                var sent6 = msg.payload[6].sent;\n\n                var page6time = Date.parse(sent6);\n                var td6 = time - page6time;\n                var days6 = Math.floor(td6 / (1000 * 60 * 60 * 24));\n                var hours6 = Math.floor((td6 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes6 = Math.floor((td6 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT6 = Math.floor((td6 / 1000) / 60);\n                var seconds6 = Math.floor((td6 % (1000 * 60)) / 1000);\n                var warning6 = \"\";\n                if (minutes6 < 10) {\n                    minutes6 = \"0\" + minutes6;\n                }\n                if (minutesT6 >= msg.OTT) {\n                    warning6 = \"flash\";\n                } else if (minutesT6 < msg.OTT) {\n                    warning6 = \"name\";\n                } else {\n                    warning6 = \"hidden\";\n                }\n                if (seconds6 < 10) {\n                    seconds6 = \"0\" + seconds6;\n                }\n                var difference6 = hours6 + \":\" + minutes6 + \":\" + seconds6;\n\n                document.getElementById(\"6\").innerHTML = '<button class=' + warning6 + ' style=\"background-color:' + color6 + '\" onclick=\"sender.send(' + index6 + ')\"> ' + loc6 + ' <br> ' + message6 + ' <br> ' + difference6 + ' </button>';\n            }\n\n\n            if (msg.payload[7] == null) {\n                document.getElementById(\"7\").className = \"hidden\";\n            } else {\n                document.getElementById(\"7\").className = \"name\";\n                var color7 = msg.payload[7].color;\n                var index7 = msg.payload[7].index;\n                var loc7 = msg.payload[7].loc;\n                var message7 = msg.payload[7].message;\n                var sent7 = msg.payload[7].sent;\n\n                var page7time = Date.parse(sent7);\n                var td7 = time - page7time;\n                var days7 = Math.floor(td7 / (1000 * 60 * 60 * 24));\n                var hours7 = Math.floor((td7 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes7 = Math.floor((td7 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT7 = Math.floor((td7 / 1000) / 60);\n                var seconds7 = Math.floor((td7 % (1000 * 60)) / 1000);\n                var warning7 = \"\";\n                if (minutes7 < 10) {\n                    minutes7 = \"0\" + minutes7;\n                }\n                if (minutesT7 >= msg.OTT) {\n                    warning7 = \"flash\";\n                } else if (minutesT7 < msg.OTT) {\n                    warning7 = \"name\";\n                } else {\n                    warning7 = \"hidden\";\n                }\n                if (seconds7 < 10) {\n                    seconds7 = \"0\" + seconds7;\n                }\n                var difference7 = hours7 + \":\" + minutes7 + \":\" + seconds7;\n\n                document.getElementById(\"7\").innerHTML = '<button class=' + warning7 + ' style=\"background-color:' + color7 + '\" onclick=\"sender.send(' + index7 + ')\"> ' + loc7 + ' <br> ' + message7 + ' <br> ' + difference7 + ' </button>';\n            }\n\n            if (msg.payload[8] == null) {\n                document.getElementById(\"8\").className = \"hidden\";\n            } else {\n                document.getElementById(\"8\").className = \"name\";\n                var color8 = msg.payload[8].color;\n                var index8 = msg.payload[8].index;\n                var loc8 = msg.payload[8].loc;\n                var message8 = msg.payload[8].message;\n                var sent8 = msg.payload[8].sent;\n                var page8time = Date.parse(sent8);\n                var td8 = time - page8time;\n                var days8 = Math.floor(td8 / (1000 * 60 * 60 * 24));\n                var hours8 = Math.floor((td8 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes8 = Math.floor((td8 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT8 = Math.floor((td8 / 1000) / 60);\n                var seconds8 = Math.floor((td8 % (1000 * 60)) / 1000);\n                var warning8 = \"\";\n                if (minutes8 <\n                    10) {\n                    minutes8 = \"0\" + minutes8;\n                }\n                if (minutesT8 >= msg.OTT) {\n                    warning8 = \"flash\";\n                } else if (minutesT8 <\n                    msg.OTT) {\n                    warning8 = \"name\";\n                } else {\n                    warning8 = \"hidden\";\n                }\n                if (seconds8 < 10) {\n                    seconds8 = \"0\" + seconds8;\n                }\n                var difference8 = hours8 + \":\" + minutes8 + \":\" + seconds8;\n                document.getElementById(\"8\").innerHTML = '<button class=' + warning8 + ' style=\"background-color:' + color8 + '\" onclick=\"sender.send(' + index8 + ')\"> ' + loc8 + ' <br> ' + message8 + ' <br> ' + difference8 + ' </button>';\n            }\n\n            if (msg.payload[9] == null) {\n                document.getElementById(\"9\").className = \"hidden\";\n            } else {\n                document.getElementById(\"9\").className = \"name\";\n                var color9 = msg.payload[9].color;\n                var index9 = msg.payload[9].index;\n                var loc9 = msg.payload[9].loc;\n                var message9 = msg.payload[9].message;\n                var sent9 = msg.payload[9].sent;\n                var page9time = Date.parse(sent9);\n                var td9 = time - page9time;\n                var days9 = Math.floor(td9 / (1000 * 60 * 60 * 24));\n                var hours9 = Math.floor((td9 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes9 = Math.floor((td9 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT9 = Math.floor((td9 / 1000) / 60);\n                var seconds9 = Math.floor((td9 % (1000 * 60)) / 1000);\n                var warning9 = \"\";\n                if (minutes9 <\n                    10) {\n                    minutes9 = \"0\" + minutes9;\n                }\n                if (minutesT9 >= msg.OTT) {\n                    warning9 = \"flash\";\n                } else if (minutesT9 <\n                    msg.OTT) {\n                    warning9 = \"name\";\n                } else {\n                    warning9 = \"hidden\";\n                }\n                if (seconds9 < 10) {\n                    seconds9 = \"0\" + seconds9;\n                }\n                var difference9 = hours9 + \":\" + minutes9 + \":\" + seconds9;\n                document.getElementById(\"9\").innerHTML = '<button class=' + warning9 + ' style=\"background-color:' + color9 + '\" onclick=\"sender.send(' + index9 + ')\"> ' + loc9 + ' <br> ' + message9 + ' <br> ' + difference9 + ' </button>';\n            }\n\n            if (msg.payload[10] == null) {\n                document.getElementById(\"10\").className = \"hidden\";\n            } else {\n                document.getElementById(\"10\").className = \"name\";\n                var color10 = msg.payload[10].color;\n                var index10 = msg.payload[10].index;\n                var loc10 = msg.payload[10].loc;\n                var message10 = msg.payload[10].message;\n                var sent10 = msg.payload[10].sent;\n                var page10time = Date.parse(sent10);\n                var td10 = time - page10time;\n                var days10 = Math.floor(td10 / (1000 * 60 * 60 * 24));\n                var hours10 = Math.floor((td10 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes10 = Math.floor((td10 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT10 = Math.floor((td10 / 1000) / 60);\n                var seconds10 = Math.floor((td10 % (1000 * 60)) / 1000);\n                var warning10 = \"\";\n                if (minutes10 <\n                    10) {\n                    minutes10 = \"0\" + minutes10;\n                }\n                if (minutesT10 >= msg.OTT) {\n                    warning10 = \"flash\";\n                } else if (minutesT10 <\n                    msg.OTT) {\n                    warning10 = \"name\";\n                } else {\n                    warning10 = \"hidden\";\n                }\n                if (seconds10 < 10) {\n                    seconds10 = \"0\" + seconds10;\n                }\n                var difference10 = hours10 + \":\" + minutes10 + \":\" + seconds10;\n                document.getElementById(\"10\").innerHTML = '<button class=' + warning10 + ' style=\"background-color:' + color10 + '\" onclick=\"sender.send(' + index10 + ')\"> ' + loc10 + ' <br> ' + message10 + ' <br> ' + difference10 + ' </button>';\n            }\n\n            if (msg.payload[11] == null) {\n                document.getElementById(\"11\").className = \"hidden\";\n            } else {\n                document.getElementById(\"11\").className = \"name\";\n                var color11 = msg.payload[11].color;\n                var index11 = msg.payload[11].index;\n                var loc11 = msg.payload[11].loc;\n                var message11 = msg.payload[11].message;\n                var sent11 = msg.payload[11].sent;\n                var page11time = Date.parse(sent11);\n                var td11 = time - page11time;\n                var days11 = Math.floor(td11 / (1000 * 60 * 60 * 24));\n                var hours11 = Math.floor((td11 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes11 = Math.floor((td11 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT11 = Math.floor((td11 / 1000) / 60);\n                var seconds11 = Math.floor((td11 % (1000 * 60)) / 1000);\n                var warning11 = \"\";\n                if (minutes11 <\n                    10) {\n                    minutes11 = \"0\" + minutes11;\n                }\n                if (minutesT11 >= msg.OTT) {\n                    warning11 = \"flash\";\n                } else if (minutesT11 <\n                    msg.OTT) {\n                    warning11 = \"name\";\n                } else {\n                    warning11 = \"hidden\";\n                }\n                if (seconds11 < 10) {\n                    seconds11 = \"0\" + seconds11;\n                }\n                var difference11 = hours11 + \":\" + minutes11 + \":\" + seconds11;\n                document.getElementById(\"11\").innerHTML = '<button class=' + warning11 + ' style=\"background-color:' + color11 + '\" onclick=\"sender.send(' + index11 + ')\"> ' + loc11 + ' <br> ' + message11 + ' <br> ' + difference11 + ' </button>';\n            }\n\n            if (msg.payload[12] == null) {\n                document.getElementById(\"12\").className = \"hidden\";\n            } else {\n                document.getElementById(\"12\").className = \"name\";\n                var color12 = msg.payload[12].color;\n                var index12 = msg.payload[12].index;\n                var loc12 = msg.payload[12].loc;\n                var message12 = msg.payload[12].message;\n                var sent12 = msg.payload[12].sent;\n                var page12time = Date.parse(sent12);\n                var td12 = time - page12time;\n                var days12 = Math.floor(td12 / (1000 * 60 * 60 * 24));\n                var hours12 = Math.floor((td12 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes12 = Math.floor((td12 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT12 = Math.floor((td12 / 1000) / 60);\n                var seconds12 = Math.floor((td12 % (1000 * 60)) / 1000);\n                var warning12 = \"\";\n                if (minutes12 <\n                    10) {\n                    minutes12 = \"0\" + minutes12;\n                }\n                if (minutesT12 >= msg.OTT) {\n                    warning12 = \"flash\";\n                } else if (minutesT12 <\n                    msg.OTT) {\n                    warning12 = \"name\";\n                } else {\n                    warning12 = \"hidden\";\n                }\n                if (seconds12 < 10) {\n                    seconds12 = \"0\" + seconds12;\n                }\n                var difference12 = hours12 + \":\" + minutes12 + \":\" + seconds12;\n                document.getElementById(\"12\").innerHTML = '<button class=' + warning12 + ' style=\"background-color:' + color12 + '\" onclick=\"sender.send(' + index12 + ')\"> ' + loc12 + ' <br> ' + message12 + ' <br> ' + difference12 + ' </button>';\n\n                if (msg.payload[13] == null) {\n                    document.getElementById(\"13\").className = \"hidden\";\n                } else {\n                    document.getElementById(\"13\").className = \"name\";\n                    var color13 = msg.payload[13].color;\n                    var index13 = msg.payload[13].index;\n                    var loc13 = msg.payload[13].loc;\n                    var message13 = msg.payload[13].message;\n                    var sent13 = msg.payload[13].sent;\n                    var page13time = Date.parse(sent13);\n                    var td13 = time - page13time;\n                    var days13 = Math.floor(td13 / (1000 * 60 * 60 * 24));\n                    var hours13 = Math.floor((td13 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                    var minutes13 = Math.floor((td13 % (1000 * 60 * 60)) / (1000 * 60));\n                    var minutesT13 = Math.floor((td13 / 1000) / 60);\n                    var seconds13 = Math.floor((td13 % (1000 * 60)) / 1000);\n                    var warning13 = \"\";\n                    if (minutes13 <\n                        10) {\n                        minutes13 = \"0\" + minutes13;\n                    }\n                    if (minutesT13 >= msg.OTT) {\n                        warning13 = \"flash\";\n                    } else if (minutesT13 <\n                        msg.OTT) {\n                        warning13 = \"name\";\n                    } else {\n                        warning13 = \"hidden\";\n                    }\n                    if (seconds13 < 10) {\n                        seconds13 = \"0\" + seconds13;\n                    }\n                    var difference13 = hours13 + \":\" + minutes13 + \":\" + seconds13;\n                    document.getElementById(\"13\").innerHTML = '<button class=' + warning13 + ' style=\"background-color:' + color13 + '\" onclick=\"sender.send(' + index13 + ')\"> ' + loc13 + ' <br> ' + message13 + ' <br> ' + difference13 + ' </button>';\n                }\n\n                if (msg.payload[14] == null) {\n                    document.getElementById(\"14\").className = \"hidden\";\n                } else {\n                    document.getElementById(\"14\").className = \"name\";\n                    var color14 = msg.payload[14].color;\n                    var index14 = msg.payload[14].index;\n                    var loc14 = msg.payload[14].loc;\n                    var message14 = msg.payload[14].message;\n                    var sent14 = msg.payload[14].sent;\n                    var page14time = Date.parse(sent14);\n                    var td14 = time - page14time;\n                    var days14 = Math.floor(td14 / (1000 * 60 * 60 * 24));\n                    var hours14 = Math.floor((td14 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                    var minutes14 = Math.floor((td14 % (1000 * 60 * 60)) / (1000 * 60));\n                    var minutesT14 = Math.floor((td14 / 1000) / 60);\n                    var seconds14 = Math.floor((td14 % (1000 * 60)) / 1000);\n                    var warning14 = \"\";\n                    if (minutes14 <\n                        10) {\n                        minutes14 = \"0\" + minutes14;\n                    }\n                    if (minutesT14 >= msg.OTT) {\n                        warning14 = \"flash\";\n                    } else if (minutesT14 <\n                        msg.OTT) {\n                        warning14 = \"name\";\n                    } else {\n                        warning14 = \"hidden\";\n                    }\n                    if (seconds14 < 10) {\n                        seconds14 = \"0\" + seconds14;\n                    }\n                    var difference14 = hours14 + \":\" + minutes14 + \":\" + seconds14;\n                    document.getElementById(\"14\").innerHTML = '<button class=' + warning14 + ' style=\"background-color:' + color14 + '\" onclick=\"sender.send(' + index14 + ')\"> ' + loc14 + ' <br> ' + message14 + ' <br> ' + difference14 + ' </button>';\n                }\n            }\n\n            if (msg.payload[15] == null) {\n                document.getElementById(\"15\").className = \"hidden\";\n            } else {\n                document.getElementById(\"15\").className = \"name\";\n                var color15 = msg.payload[15].color;\n                var index15 = msg.payload[15].index;\n                var loc15 = msg.payload[15].loc;\n                var message15 = msg.payload[15].message;\n                var sent15 = msg.payload[15].sent;\n                var page15time = Date.parse(sent15);\n                var td15 = time - page15time;\n                var days15 = Math.floor(td15 / (1000 * 60 * 60 * 24));\n                var hours15 = Math.floor((td15 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes15 = Math.floor((td15 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT15 = Math.floor((td15 / 1000) / 60);\n                var seconds15 = Math.floor((td15 % (1000 * 60)) / 1000);\n                var warning15 = \"\";\n                if (minutes15 <\n                    10) {\n                    minutes15 = \"0\" + minutes15;\n                }\n                if (minutesT15 >= msg.OTT) {\n                    warning15 = \"flash\";\n                } else if (minutesT15 <\n                    msg.OTT) {\n                    warning15 = \"name\";\n                } else {\n                    warning15 = \"hidden\";\n                }\n                if (seconds15 < 10) {\n                    seconds15 = \"0\" + seconds15;\n                }\n                var difference15 = hours15 + \":\" + minutes15 + \":\" + seconds15;\n                document.getElementById(\"15\").innerHTML = '<button class=' + warning15 + ' style=\"background-color:' + color15 + '\" onclick=\"sender.send(' + index15 + ')\"> ' + loc15 + ' <br> ' + message15 + ' <br> ' + difference15 + ' </button>';\n            }\n\n            if (msg.payload[16] == null) {\n                document.getElementById(\"16\").className = \"hidden\";\n            } else {\n                document.getElementById(\"16\").className = \"name\";\n                var color16 = msg.payload[16].color;\n                var index16 = msg.payload[16].index;\n                var loc16 = msg.payload[16].loc;\n                var message16 = msg.payload[16].message;\n                var sent16 = msg.payload[16].sent;\n                var page16time = Date.parse(sent16);\n                var td16 = time - page16time;\n                var days16 = Math.floor(td16 / (1000 * 60 * 60 * 24));\n                var hours16 = Math.floor((td16 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes16 = Math.floor((td16 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT16 = Math.floor((td16 / 1000) / 60);\n                var seconds16 = Math.floor((td16 % (1000 * 60)) / 1000);\n                var warning16 = \"\";\n                if (minutes16 <\n                    10) {\n                    minutes16 = \"0\" + minutes16;\n                }\n                if (minutesT16 >= msg.OTT) {\n                    warning16 = \"flash\";\n                } else if (minutesT16 <\n                    msg.OTT) {\n                    warning16 = \"name\";\n                } else {\n                    warning16 = \"hidden\";\n                }\n                if (seconds16 < 10) {\n                    seconds16 = \"0\" + seconds16;\n                }\n                var difference16 = hours16 + \":\" + minutes16 + \":\" + seconds16;\n                document.getElementById(\"16\").innerHTML = '<button class=' + warning16 + ' style=\"background-color:' + color16 + '\" onclick=\"sender.send(' + index16 + ')\"> ' + loc16 + ' <br> ' + message16 + ' <br> ' + difference16 + ' </button>';\n            }\n\n            if (msg.payload[17] == null) {\n                document.getElementById(\"17\").className = \"hidden\";\n            } else {\n                document.getElementById(\"17\").className = \"name\";\n                var color17 = msg.payload[17].color;\n                var index17 = msg.payload[17].index;\n                var loc17 = msg.payload[17].loc;\n                var message17 = msg.payload[17].message;\n                var sent17 = msg.payload[17].sent;\n                var page17time = Date.parse(sent17);\n                var td17 = time - page17time;\n                var days17 = Math.floor(td17 / (1000 * 60 * 60 * 24));\n                var hours17 = Math.floor((td17 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes17 = Math.floor((td17 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT17 = Math.floor((td17 / 1000) / 60);\n                var seconds17 = Math.floor((td17 % (1000 * 60)) / 1000);\n                var warning17 = \"\";\n                if (minutes17 <\n                    10) {\n                    minutes17 = \"0\" + minutes17;\n                }\n                if (minutesT17 >= msg.OTT) {\n                    warning17 = \"flash\";\n                } else if (minutesT17 <\n                    msg.OTT) {\n                    warning17 = \"name\";\n                } else {\n                    warning17 = \"hidden\";\n                }\n                if (seconds17 < 10) {\n                    seconds17 = \"0\" + seconds17;\n                }\n                var difference17 = hours17 + \":\" + minutes17 + \":\" + seconds17;\n                document.getElementById(\"17\").innerHTML = '<button class=' + warning17 + ' style=\"background-color:' + color17 + '\" onclick=\"sender.send(' + index17 + ')\"> ' + loc17 + ' <br> ' + message17 + ' <br> ' + difference17 + ' </button>';\n            }\n\n            if (msg.payload[18] == null) {\n                document.getElementById(\"18\").className = \"hidden\";\n            } else {\n                document.getElementById(\"18\").className = \"name\";\n                var color18 = msg.payload[18].color;\n                var index18 = msg.payload[18].index;\n                var loc18 = msg.payload[18].loc;\n                var message18 = msg.payload[18].message;\n                var sent18 = msg.payload[18].sent;\n                var page18time = Date.parse(sent18);\n                var td18 = time - page18time;\n                var days18 = Math.floor(td18 / (1000 * 60 * 60 * 24));\n                var hours18 = Math.floor((td18 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes18 = Math.floor((td18 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT18 = Math.floor((td18 / 1000) / 60);\n                var seconds18 = Math.floor((td18 % (1000 * 60)) / 1000);\n                var warning18 = \"\";\n                if (minutes18 <\n                    10) {\n                    minutes18 = \"0\" + minutes18;\n                }\n                if (minutesT18 >= msg.OTT) {\n                    warning18 = \"flash\";\n                } else if (minutesT18 <\n                    msg.OTT) {\n                    warning18 = \"name\";\n                } else {\n                    warning18 = \"hidden\";\n                }\n                if (seconds18 < 10) {\n                    seconds18 = \"0\" + seconds18;\n                }\n                var difference18 = hours18 + \":\" + minutes18 + \":\" + seconds18;\n                document.getElementById(\"18\").innerHTML = '<button class=' + warning18 + ' style=\"background-color:' + color18 + '\" onclick=\"sender.send(' + index18 + ')\"> ' + loc18 + ' <br> ' + message18 + ' <br> ' + difference18 + ' </button>';\n            }\n\n            if (msg.payload[19] == null) {\n                document.getElementById(\"19\").className = \"hidden\";\n            } else {\n                document.getElementById(\"19\").className = \"name\";\n                var color19 = msg.payload[19].color;\n                var index19 = msg.payload[19].index;\n                var loc19 = msg.payload[19].loc;\n                var message19 = msg.payload[19].message;\n                var sent19 = msg.payload[19].sent;\n                var page19time = Date.parse(sent19);\n                var td19 = time - page19time;\n                var days19 = Math.floor(td19 / (1000 * 60 * 60 * 24));\n                var hours19 = Math.floor((td19 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes19 = Math.floor((td19 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT19 = Math.floor((td19 / 1000) / 60);\n                var seconds19 = Math.floor((td19 % (1000 * 60)) / 1000);\n                var warning19 = \"\";\n                if (minutes19 <\n                    10) {\n                    minutes19 = \"0\" + minutes19;\n                }\n                if (minutesT19 >= msg.OTT) {\n                    warning19 = \"flash\";\n                } else if (minutesT19 <\n                    msg.OTT) {\n                    warning19 = \"name\";\n                } else {\n                    warning19 = \"hidden\";\n                }\n                if (seconds19 < 10) {\n                    seconds19 = \"0\" + seconds19;\n                }\n                var difference19 = hours19 + \":\" + minutes19 + \":\" + seconds19;\n                document.getElementById(\"19\").innerHTML = '<button class=' + warning19 + ' style=\"background-color:' + color19 + '\" onclick=\"sender.send(' + index19 + ')\"> ' + loc19 + ' <br> ' + message19 + ' <br> ' + difference19 + ' </button>';\n            }\n\n            if (msg.payload[20] == null) {\n                document.getElementById(\"20\").className = \"hidden\";\n            } else {\n                document.getElementById(\"20\").className = \"name\";\n                var color20 = msg.payload[20].color;\n                var index20 = msg.payload[20].index;\n                var loc20 = msg.payload[20].loc;\n                var message20 = msg.payload[20].message;\n                var sent20 = msg.payload[20].sent;\n                var page20time = Date.parse(sent20);\n                var td20 = time - page20time;\n                var days20 = Math.floor(td20 / (1000 * 60 * 60 * 24));\n                var hours20 = Math.floor((td20 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes20 = Math.floor((td20 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT20 = Math.floor((td20 / 1000) / 60);\n                var seconds20 = Math.floor((td20 % (1000 * 60)) / 1000);\n                var warning20 = \"\";\n                if (minutes20 <\n                    10) {\n                    minutes20 = \"0\" + minutes20;\n                }\n                if (minutesT20 >= msg.OTT) {\n                    warning20 = \"flash\";\n                } else if (minutesT20 <\n                    msg.OTT) {\n                    warning20 = \"name\";\n                } else {\n                    warning20 = \"hidden\";\n                }\n                if (seconds20 < 10) {\n                    seconds20 = \"0\" + seconds20;\n                }\n                var difference20 = hours20 + \":\" + minutes20 + \":\" + seconds20;\n                document.getElementById(\"20\").innerHTML = '<button class=' + warning20 + ' style=\"background-color:' + color20 + '\" onclick=\"sender.send(' + index20 + ')\"> ' + loc20 + ' <br> ' + message20 + ' <br> ' + difference20 + ' </button>';\n            }\n\n            if (msg.payload[21] == null) {\n                document.getElementById(\"21\").className = \"hidden\";\n            } else {\n                document.getElementById(\"21\").className = \"name\";\n                var color21 = msg.payload[21].color;\n                var index21 = msg.payload[21].index;\n                var loc21 = msg.payload[21].loc;\n                var message21 = msg.payload[21].message;\n                var sent21 = msg.payload[21].sent;\n                var page21time = Date.parse(sent21);\n                var td21 = time - page21time;\n                var days21 = Math.floor(td21 / (1000 * 60 * 60 * 24));\n                var hours21 = Math.floor((td21 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes21 = Math.floor((td21 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT21 = Math.floor((td21 / 1000) / 60);\n                var seconds21 = Math.floor((td21 % (1000 * 60)) / 1000);\n                var warning21 = \"\";\n                if (minutes21 <\n                    10) {\n                    minutes21 = \"0\" + minutes21;\n                }\n                if (minutesT21 >= msg.OTT) {\n                    warning21 = \"flash\";\n                } else if (minutesT21 <\n                    msg.OTT) {\n                    warning21 = \"name\";\n                } else {\n                    warning21 = \"hidden\";\n                }\n                if (seconds21 < 10) {\n                    seconds21 = \"0\" + seconds21;\n                }\n                var difference21 = hours21 + \":\" + minutes21 + \":\" + seconds21;\n                document.getElementById(\"21\").innerHTML = '<button class=' + warning21 + ' style=\"background-color:' + color21 + '\" onclick=\"sender.send(' + index21 + ')\"> ' + loc21 + ' <br> ' + message21 + ' <br> ' + difference21 + ' </button>';\n            }\n\n            if (msg.payload[22] == null) {\n                document.getElementById(\"22\").className = \"hidden\";\n            } else {\n                document.getElementById(\"22\").className = \"name\";\n                var color22 = msg.payload[22].color;\n                var index22 = msg.payload[22].index;\n                var loc22 = msg.payload[22].loc;\n                var message22 = msg.payload[22].message;\n                var sent22 = msg.payload[22].sent;\n                var page22time = Date.parse(sent22);\n                var td22 = time - page22time;\n                var days22 = Math.floor(td22 / (1000 * 60 * 60 * 24));\n                var hours22 = Math.floor((td22 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes22 = Math.floor((td22 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT22 = Math.floor((td22 / 1000) / 60);\n                var seconds22 = Math.floor((td22 % (1000 * 60)) / 1000);\n                var warning22 = \"\";\n                if (minutes22 <\n                    10) {\n                    minutes22 = \"0\" + minutes22;\n                }\n                if (minutesT22 >= msg.OTT) {\n                    warning22 = \"flash\";\n                } else if (minutesT22 <\n                    msg.OTT) {\n                    warning22 = \"name\";\n                } else {\n                    warning22 = \"hidden\";\n                }\n                if (seconds22 < 10) {\n                    seconds22 = \"0\" + seconds22;\n                }\n                var difference22 = hours22 + \":\" + minutes22 + \":\" + seconds22;\n                document.getElementById(\"22\").innerHTML = '<button class=' + warning22 + ' style=\"background-color:' + color22 + '\" onclick=\"sender.send(' + index22 + ')\"> ' + loc22 + ' <br> ' + message22 + ' <br> ' + difference22 + ' </button>';\n            }\n\n            if (msg.payload[23] == null) {\n                document.getElementById(\"23\").className = \"hidden\";\n            } else {\n                document.getElementById(\"23\").className = \"name\";\n                var color23 = msg.payload[23].color;\n                var index23 = msg.payload[23].index;\n                var loc23 = msg.payload[23].loc;\n                var message23 = msg.payload[23].message;\n                var sent23 = msg.payload[23].sent;\n                var page23time = Date.parse(sent23);\n                var td23 = time - page23time;\n                var days23 = Math.floor(td23 / (1000 * 60 * 60 * 24));\n                var hours23 = Math.floor((td23 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes23 = Math.floor((td23 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT23 = Math.floor((td23 / 1000) / 60);\n                var seconds23 = Math.floor((td23 % (1000 * 60)) / 1000);\n                var warning23 = \"\";\n                if (minutes23 <\n                    10) {\n                    minutes23 = \"0\" + minutes23;\n                }\n                if (minutesT23 >= msg.OTT) {\n                    warning23 = \"flash\";\n                } else if (minutesT23 <\n                    msg.OTT) {\n                    warning23 = \"name\";\n                } else {\n                    warning23 = \"hidden\";\n                }\n                if (seconds23 < 10) {\n                    seconds23 = \"0\" + seconds23;\n                }\n                var difference23 = hours23 + \":\" + minutes23 + \":\" + seconds23;\n                document.getElementById(\"23\").innerHTML = '<button class=' + warning23 + ' style=\"background-color:' + color23 + '\" onclick=\"sender.send(' + index23 + ')\"> ' + loc23 + ' <br> ' + message23 + ' <br> ' + difference23 + ' </button>';\n            }\n\n            if (msg.payload[24] == null) {\n                document.getElementById(\"24\").className = \"hidden\";\n            } else {\n                document.getElementById(\"24\").className = \"name\";\n                var color24 = msg.payload[24].color;\n                var index24 = msg.payload[24].index;\n                var loc24 = msg.payload[24].loc;\n                var message24 = msg.payload[24].message;\n                var sent24 = msg.payload[24].sent;\n                var page24time = Date.parse(sent24);\n                var td24 = time - page24time;\n                var days24 = Math.floor(td24 / (1000 * 60 * 60 * 24));\n                var hours24 = Math.floor((td24 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n                var minutes24 = Math.floor((td24 % (1000 * 60 * 60)) / (1000 * 60));\n                var minutesT24 = Math.floor((td24 / 1000) / 60);\n                var seconds24 = Math.floor((td24 % (1000 * 60)) / 1000);\n                var warning24 = \"\";\n                if (minutes24 <\n                    10) {\n                    minutes24 = \"0\" + minutes24;\n                }\n                if (minutesT24 >= msg.OTT) {\n                    warning24 = \"flash\";\n                } else if (minutesT24 <\n                    msg.OTT) {\n                    warning24 = \"name\";\n                } else {\n                    warning24 = \"hidden\";\n                }\n                if (seconds24 < 10) {\n                    seconds24 = \"0\" + seconds24;\n                }\n                var difference24 = hours24 + \":\" + minutes24 + \":\" + seconds24;\n                document.getElementById(\"24\").innerHTML = '<button class=' + warning24 + ' style=\"background-color:' + color24 + '\" onclick=\"sender.send(' + index24 + ')\"> ' + loc24 + ' <br> ' + message24 + ' <br> ' + difference24 + ' </button>';\n            }\n*/\n        }\n    </script>\n    <style>\n     {{{css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n    <h1 id=\"title\">Pager Display</h1><h1 id=\"txt\"></h1>\n        <div class=\"grid-container\">\n        <div class=\"grid-item\" id=\"0\"></div>\n        <div class=\"grid-item\" id=\"1\"></div>\n        <div class=\"grid-item\" id=\"2\"></div>\n        <!--<div class=\"grid-item\" id=\"3\"></div>\n        <div class=\"grid-item\" id=\"4\"></div>\n        <div class=\"grid-item\" id=\"5\"></div>\n        <div class=\"grid-item\" id=\"6\"></div>\n        <div class=\"grid-item\" id=\"7\"></div>\n        <div class=\"grid-item\" id=\"8\"></div>\n        <div class=\"grid-item\" id=\"9\"></div>\n        <div class=\"grid-item\" id=\"10\"></div>\n        <div class=\"grid-item\" id=\"11\"></div>\n        <div class=\"grid-item\" id=\"12\"></div>\n        <div class=\"grid-item\" id=\"13\"></div>\n        <div class=\"grid-item\" id=\"14\"></div>\n        <div class=\"grid-item\" id=\"15\"></div>\n        <div class=\"grid-item\" id=\"16\"></div>\n        <div class=\"grid-item\" id=\"17\"></div>\n        <div class=\"grid-item\" id=\"18\"></div>\n        <div class=\"grid-item\" id=\"19\"></div>\n        <div class=\"grid-item\" id=\"20\"></div>\n        <div class=\"grid-item\" id=\"21\"></div>\n        <div class=\"grid-item\" id=\"22\"></div>\n        <div class=\"grid-item\" id=\"23\"></div>\n        <div class=\"grid-item\" id=\"24\"></div>-->\n    </div>\n\n\n    <!--<a href=\"/ui\" class=\"settings\">Settings</a>-->\n\n</body>\n\n</html>","output":"str","x":400,"y":100,"wires":[["f321a5e1.c41f98","eaf01947.c3a468"]]},{"id":"17231b0d.c71625","type":"template","z":"58e39b1f.42a9c4","name":"CSS","field":"css","fieldType":"msg","format":"css","syntax":"mustache","template":"     .grid-container {\n            display: grid;\n            grid-template-columns: auto;\n            padding: 20px;\n        }\n\n        .grid-item {\n            padding: 20px;\n            font-size: 48px;\n            text-align: center;\n        }\n\n        body {\n            background-color: slategrey;\n            margin: 0px;\n            padding-left: 5px;\n            overflow: hidden;\n        }\n\n        h1 {\n            width: 100%;\n            font-size: 48px;\n            margin: 20px;\n            font-family: Arial, Helvetica, sans-serif;\n            text-align: center;\n            color: lightgrey;\n            text-shadow: 2px 2px 5px black;\n        }\n\n        a:link {\n            color: {{{global.sysBC}}};\n        }\n\n        a:visited {\n            color: {{{global.sysBC}}};\n        }\n\n        .name {\n            box-sizing: border-box;\n            width: 100%;\n            border-radius: 20px;\n            font-weight: bold;\n            font-size: 48px;\n            font-family: Arial, Helvetica, sans-serif;\n            text-align: center;\n            padding: 20px;\n            margin: 0px;\n            line-height: 1.5;\n            text-overflow: ellipsis;\n            box-shadow: 10px 10px 20px black;\n        }\n\n        .hidden {\n            visibility: hidden;\n            z-index: -1;\n            float: none;\n            width: 100%;\n            height: 250px;\n        }\n\n        .settings {\n            position: absolute;\n            left: 0px;\n            top: 0px;\n        }\n\n        .flash {\n            animation-name: flash;\n            animation-duration: 0.5s;\n            animation-timing-function: linear;\n            animation-iteration-count: infinite;\n            animation-direction: alternate;\n            animation-play-state: running;\n            box-sizing: border-box;\n            width: 100%;\n            border-radius: 20px;\n            font-weight: bold;\n            font-size: 48px;\n            font-family: Arial, Helvetica, sans-serif;\n            text-align: center;\n            padding: 20px;\n            margin: 0px;\n            line-height: 1.5;\n            text-overflow: ellipsis;\n            box-shadow: 10px 10px 20px black;\n        }\n\n        @keyframes flash {\n            from {\n                color: black;\n            }\n            to {\n                color: white;\n            }\n        }","output":"str","x":230,"y":100,"wires":[["ec22a2fd.67c04"]]},{"id":"5c031a8e.2067f4","type":"websocket in","z":"58e39b1f.42a9c4","name":"","server":"a6d68c0c.38415","client":"","x":90,"y":240,"wires":[["8531dd46.25bdd"]]},{"id":"caed2226.0a95c","type":"change","z":"58e39b1f.42a9c4","name":"","rules":[{"t":"set","p":"OTT","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["ce3ed66c.455f58"]]},{"id":"ce3ed66c.455f58","type":"change","z":"58e39b1f.42a9c4","name":"","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":240,"wires":[["eb42e566.e87668"]]},{"id":"493d2830.bc4568","type":"debug","z":"b8bd1cc3.4827","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":240,"wires":[]},{"id":"e6a67389.74b79","type":"inject","z":"e3cbac21.52804","name":"Fields","topic":"","payload":"RECV,4,0707288,Fields-Rm. 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["20b00ad9.a4f806"]]},{"id":"8640e243.89df6","type":"inject","z":"e3cbac21.52804","name":"Dispense","topic":"","payload":"RECV,4,0707288,Dispense-Rm. 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":420,"wires":[["20b00ad9.a4f806"]]},{"id":"4d5bb5e.2bf1d4c","type":"inject","z":"e3cbac21.52804","name":"Contact Lenses","topic":"","payload":"RECV,4,0707288,Contact Lenses-Rm. 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["20b00ad9.a4f806"]]},{"id":"6a5bf06c.fc135","type":"inject","z":"e3cbac21.52804","name":"S.T.O","topic":"","payload":"RECV,4,0707288,S.T.O-Rm. 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":500,"wires":[["20b00ad9.a4f806"]]},{"id":"22dd9f8a.64805","type":"inject","z":"e3cbac21.52804","name":"Screening","topic":"","payload":"RECV,4,0707288,Screening-Rm. 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":540,"wires":[["20b00ad9.a4f806"]]},{"id":"44fabae3.3db4e4","type":"inject","z":"e3cbac21.52804","name":"Other","topic":"","payload":"RECV,4,0707288,Other-Rm. 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":620,"wires":[["20b00ad9.a4f806"]]},{"id":"4c799f99.19a61","type":"inject","z":"e3cbac21.52804","name":"SV Dispense","topic":"","payload":"RECV,4,0707288,SV Dispense-Rm. 6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["20b00ad9.a4f806"]]},{"id":"c0a5f342.0797","type":"inject","z":"e3cbac21.52804","name":"Multi-focal","topic":"","payload":"RECV,4,0707288,Multi-focal-Rm. 6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":700,"wires":[["20b00ad9.a4f806"]]},{"id":"aa0c2a8e.b25c88","type":"inject","z":"e3cbac21.52804","name":"Complex RX","topic":"","payload":"RECV,4,0707288,Complex RX-Rm. 6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":740,"wires":[["20b00ad9.a4f806"]]},{"id":"9d234d71.58c4d","type":"inject","z":"e3cbac21.52804","name":"Fields/Photos","topic":"","payload":"RECV,4,0707288,Fields/Photos-Rm. 6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":780,"wires":[["20b00ad9.a4f806"]]},{"id":"522ae6c5.5c6358","type":"inject","z":"e3cbac21.52804","name":"Other","topic":"","payload":"RECV,4,0707288,C/L Hearcare-Rm. 6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["20b00ad9.a4f806"]]},{"id":"20b00ad9.a4f806","type":"link out","z":"e3cbac21.52804","name":"","links":["cef4599e.d2faf8"],"x":520,"y":620,"wires":[]},{"id":"cef4599e.d2faf8","type":"link in","z":"e3cbac21.52804","name":"","links":["20b00ad9.a4f806"],"x":95,"y":160,"wires":[["1c485e4b.a63e92"]]},{"id":"e055a06d.48f1a","type":"inject","z":"e3cbac21.52804","name":"Late","topic":"","payload":"RECV,4,0707288,Late-Rm. 4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["20b00ad9.a4f806"]]},{"id":"f5c9a8af.c8e3d8","type":"inject","z":"b8bd1cc3.4827","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":600,"wires":[["f1c61ac.2a61be8"]]},{"id":"8531dd46.25bdd","type":"template","z":"58e39b1f.42a9c4","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT `index`, `pagerNumber`, `sysID`, `content`, `msgPart1`, `msgPart2`, `sender`, `rxTime`, `status`, `FP`\nFROM `log`\nWHERE  `status` = 'Active' OR `status` = 'Late'\nORDER BY  `rxTime` DESC ","output":"str","x":270,"y":240,"wires":[["1253c21b.fd9dae"]]},{"id":"1253c21b.fd9dae","type":"sqlite","z":"58e39b1f.42a9c4","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":450,"y":240,"wires":[["caed2226.0a95c"]]},{"id":"c6207cce.a8521","type":"websocket in","z":"58e39b1f.42a9c4","name":"","server":"4b076e95.d770c","client":"","x":240,"y":340,"wires":[[]]}]